/*Carousel css*/
.image-video-gallery .ivg-carousel {
  width: 100%;
  margin: 31px auto;
  z-index: 1;
}
.image-video-gallery .ivg-carousel .slick-list {
  z-index: 2;
  position: relative;
  text-align: center !important;
}
.image-video-gallery .ivg-carousel .slick-list .slick-slide .ivg-slide {
  margin: 0;
  position: relative;  
}
.image-video-gallery .ivg-carousel .slick-list .slick-slide:not(.slick-active) {
  position: relative;
  z-index: 10;
}
.image-video-gallery .ivg-carousel .slick-list .slick-slide:not(.slick-active):hover::before {
  background-color: transparent;
}
.image-video-gallery .ivg-carousel .slick-list .ivg-slide {
  margin: 0;
  position: relative;
  padding: 0 4px;
  outline: none;  
}
.image-video-gallery .ivg-carousel .slick-list  .ivg-slide .ivg-container {
  position: relative;
}
.image-video-gallery .ivg-carousel .slick-list  .ivg-slide .ivg-container .ivg-image {
  width: 100%;
  border-radius: 20px;
}
.image-video-gallery .ivg-carousel .slick-list  .ivg-slide .ivg-container .ivg-image.--cover {
  cursor: pointer;
}
.image-video-gallery .ivg-carousel .slick-list  .ivg-slide .ivg-container .ivg-image:active ~ .ivg-play-icon {
  background-color: rgba(255, 255, 255, 0.5);
}
.image-video-gallery .ivg-carousel .slick-list  .ivg-slide .ivg-container .ivg-image:active ~ .ivg-play-icon::before {
  border-left-color: #ffffff;
}
.image-video-gallery .ivg-carousel .slick-list  .ivg-slide .ivg-container .ivg-play-icon {
  position: absolute;
  height: 60px;
  width: 60px;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  pointer-events: none;
}
.image-video-gallery .ivg-carousel .slick-list .ivg-slide .ivg-container .ivg-play-icon::before {
  content: '';
  border: 0;
  border-left: 20px rgba(255, 255, 255, 0.8) solid;
  border-top: 15px transparent solid;
  border-bottom: 15px transparent solid;
  width: 40px;
  display: inline-block;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 8px);
}
.image-video-gallery .ivg-carousel .slick-list  .ivg-slide .ivg-video {
  display: none;
}
.image-video-gallery .ivg-carousel .slick-list  .ivg-slide .ivg-caption-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  white-space: normal;
}
.image-video-gallery .ivg-carousel .slick-list  .ivg-slide .ivg-caption-desc {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  margin-top: 5px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  white-space: normal;
  margin-bottom: 10px;
}
.image-video-gallery .ivg-carousel .slick-list  .slick-slide:not(.slick-active) .ivg-caption {
  display: none;
}
.image-video-gallery .ivg-carousel .slick-list  .ivg-slide .ivg-caption {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  max-height: 500px;
  overflow: hidden;
  margin-top: 40px;
  white-space: nowrap;
  text-align: center;
  margin: 23px auto 0;
}
.image-video-gallery .ivg-carousel .slick-slider .slick-prev,
.image-video-gallery .ivg-carousel .slick-slider .slick-next{
  z-index: 999;
  outline: none;
  display: inline-block; 
  outline: none;
}
.image-video-gallery .ivg-carousel .slick-next::before,
.image-video-gallery .ivg-carousel .slick-prev::before {
  background: none;
  display: none;
}
.image-video-gallery .slick-slider .slick-arrow {
  width: calc(15% - 4px) !important;
  background-size: 30% auto !important;
}
.image-video-gallery .slick-slider .slick-arrow:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
} 


@media screen and (min-width: 992px) { 
  .image-video-gallery .ivg-carousel {
    z-index: 2;
  }
  .image-video-gallery .ivg-carousel .slick-list .ivg-slide{
    padding: 0 14px;
   }
  .image-video-gallery .ivg-carousel .slick-list .ivg-slide .ivg-container .ivg-image:hover ~ .ivg-play-icon {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .image-video-gallery .ivg-carousel .slick-list .ivg-slide .ivg-container .ivg-image:hover ~ .ivg-play-icon::before {
    border-left-color: #ffffff;
  }
  .image-video-gallery .ivg-carousel .slick-list  .ivg-slide .ivg-caption-desc {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .image-video-gallery .ivg-carousel .slick-list .ivg-slide .ivg-caption {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    max-height: 500px;
    max-width: 600px;
    margin-top: 35px;
    margin: 23px auto 0;
  }
  .image-video-gallery .slick-slider .slick-arrow:hover {
    background-color: transparent !important;
  }
}
/*Carousel css*/