.comparison-table {
  padding: 30px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.comparison-table-title h3 {
  font-size: 36px;
}

.comparison-table-content table {
  border-collapse: collapse;
}

.comparison-table-col-cta a {
  cursor         : pointer;
  text-decoration: none;
  padding        : 10px 25px;
  font-weight    : 500;
  font-size      : 16px;
  line-height    : 20px;
  display        : inline-block;
}

.comparison-table-content table tbody tr {
  border-color: #61b0ff4f;
}

.comparison-table-content table tbody tr:last-child {
  border-bottom: none !important;
}

.comparison-table-content table tbody tr td:last-child {
  border-right: none !important;
}

@media screen and (max-width: 1024px) {
  .comparison-table-content {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 999px) {
  .comparison-table-col {
    width: 150px;
  }

  .comparison-icons button {
    border          : 0;
    outline         : none;
    background-color: #263A4E;
    padding         : 5px 10px;
  }
}

@media screen and (max-width: 767px) {
  .comparison-table-title h3 {
    font-size: 24px;
  }

  .comparison-table-title {
    margin-bottom: 36px;
  }

  .ct-checked {
    width: 32px;
  }
}
