.spacer-card {
  padding: 30px;
  text-align: center;
  color: #ffffff;
  position: relative;
}

.spacer-card h1 {
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.spacer-card .spacer-card-content h6 {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 10px;
}

.spacer-card .spacer-card-cta {
  padding-top: 12px;
}

.spacer-card .spacer-card-cta a {
  cursor: pointer;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 25px;
  font-weight: 500;
  border: 2px solid;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .spacer-card {
    padding: 40px 25%;
  }

  .spacer-card h1 {
    font-size: 36px;
    line-height: 44px;
  }

  .spacer-card .spacer-card-content h6 {
    font-size: 16px;
    line-height: 20px;
  }
}
