.omni-channel {
  padding: 15px 0;
  color: #ffffff;
}

.omni-channel .oc-container {
  padding: 0 5px;
}

.omni-channel .oc-container .oc-header {
  font-size: 26px;
  line-height: 30px;
  padding: 30px 20px;
  text-align: center;
}

.omni-channel .oc-container .oc-retailers-list {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .omni-channel .oc-container {
    padding: 0 24px;
  }
  .omni-channel .oc-container .oc-header {
    padding: 40px 0 30px 0;
    font-size: 30px;
    line-height: 38px;
  }
}

@media screen and (min-width: 992px) {
  .omni-channel .oc-container .oc-header {
    font-size: 32px;
    line-height: 44px;
  }
}

@media screen and (min-width: 1200px) {
  .omni-channel .oc-container {
    width: 1200px;
    margin: 0 auto;
  }
}
