
.image-video-gallery {
  padding: 59px 0 52px;
  z-index: 1;
  color: #ffffff;
  position: relative;
  background-color: #001428;
}
/*Gallery header and desc*/
.image-video-gallery .ivg-title,
.image-video-gallery .ivg-desc {
  margin: 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 20px;
}
.image-video-gallery .ivg-title,.image-video-gallery .ivg-title *{
  font-size: 26px;
  line-height: 37.3px;
  font-weight: 700;
}
.image-video-gallery .ivg-desc{
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}
/*Gallery header and desc*/

/*Video Modal*/
.image-video-gallery .ivg-fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  z-index: 1112;
  display: none;
}
.ivg-fullscreen .ivg-close-icon {
  position: absolute;
  bottom: 51px;
  background-image: url("../../common/images/icn_closeGrey.svg");
  left: calc(50% - 30px);
  height: 60px;
  width: 60px;
  border-radius: 60px;
  cursor: pointer;
}
.image-video-gallery .ivg-fullscreen .ivg-close-icon::before,
.image-video-gallery .ivg-fullscreen .ivg-close-icon::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 10px);
  width: 20px;
  height: 2px;
  transform-origin: center;
}
.image-video-gallery .ivg-fullscreen .ivg-close-icon::before {
  transform: rotate(45deg);
}
.image-video-gallery .ivg-fullscreen .ivg-close-icon::after {
  transform: rotate(-45deg);
}
.image-video-gallery .ivg-fullscreen > .ivg-video {
  position: absolute;
  width: 100%;
  height: calc(100% + 50px);
  top: -50px;
  pointer-events: none;
}
/*Video Modal*/


/*Carousel arrow*/
.image-video-gallery .slick-slider .slick-arrow {
  width: 25px;
  background-size: 20px;
  position: absolute;
  height:auto;
  top: 0;
  left: 0;
  border: 0 none;
  z-index: 4;
  color: transparent;
  padding: 0;
  font-size: 0;
  transition: 300ms all;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  background: none no-repeat scroll center 50% rgba(0, 0, 0, 0.5);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA0NTEuOCA0NTEuOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDUxLjggNDUxLjg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDojRkZGRkZGO308L3N0eWxlPjxnPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik05Ny4xLDIyNS45YzAtOC4xLDMuMS0xNi4yLDkuMy0yMi40TDMwMC43LDkuM2MxMi40LTEyLjQsMzIuNC0xMi40LDQ0LjgsMGMxMi40LDEyLjQsMTIuNCwzMi40LDAsNDQuN0wxNzMuNSwyMjUuOWwxNzEuOSwxNzEuOWMxMi40LDEyLjQsMTIuNCwzMi40LDAsNDQuN2MtMTIuNCwxMi40LTMyLjQsMTIuNC00NC44LDBMMTA2LjQsMjQ4LjNDMTAwLjIsMjQyLjEsOTcuMSwyMzQsOTcuMSwyMjUuOXoiLz48L2c+PC9zdmc+);
  transform: none;
  outline: none;
}
.image-video-gallery .slick-slider .slick-arrow.slick-next {
  border-radius: 20px 0 0 20px;
  left: auto;
  right: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA0NTEuOCA0NTEuOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDUxLjggNDUxLjg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDojRkZGRkZGO308L3N0eWxlPjxnPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0zNDUuNCwyNDguM0wxNTEuMiw0NDIuNmMtMTIuNCwxMi40LTMyLjQsMTIuNC00NC44LDBjLTEyLjQtMTIuNC0xMi40LTMyLjQsMC00NC43bDE3MS45LTE3MS45TDEwNi40LDU0Yy0xMi40LTEyLjQtMTIuNC0zMi40LDAtNDQuN2MxMi40LTEyLjQsMzIuNC0xMi40LDQ0LjgsMGwxOTQuMywxOTQuM2M2LjIsNi4yLDkuMywxNC4zLDkuMywyMi40QzM1NC43LDIzNCwzNTEuNiwyNDIuMSwzNDUuNCwyNDguM3oiLz48L2c+PC9zdmc+)
}
 .image-video-gallery .slick-slider img {
  width: 100%;
  border-radius: 20px
}
.image-video-gallery .ivg-carousel .slick-dots li button:before {
  font-size: 8px;
}
/*Carousel arrow*/

@-webkit-keyframes closeIconSlideIn {
  from {
    bottom: -100px;
  }
}
@-moz-keyframes closeIconSlideIn {
  from {
    bottom: -100px;
  }
}
@-ms-keyframes closeIconSlideIn {
  from {
    bottom: -100px;
  }
}
@-o-keyframes closeIconSlideIn {
  from {
    bottom: -100px;
  }
}
@keyframes closeIconSlideIn {
  from {
    bottom: -100px;
  }
}

@media screen and (orientation: landscape) {
  .image-video-gallery .ivg-fullscreen {
    background-size: auto 100%;
  }
  .image-video-gallery .ivg-fullscreen .ivg-close-icon {
    bottom: 26px;
  }
}
@media screen and (min-width: 768px) {
  .image-video-gallery .ivg-title,
  .image-video-gallery .ivg-desc {
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
  }

}
@media screen and (min-width: 992px) {
  .image-video-gallery .ivg-title, .image-video-gallery .ivg-title *{
    font-size: 36px;
    line-height: 56px;
    font-weight: bold;
  }
  .image-video-gallery .slick-slider .slick-arrow {
    background-size: 50px;
    width: calc(12% - 14px) !important;
  }
}
.scroll-lock {
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .scroll-lock {
    overflow: auto;
  }
}
@media screen and (max-width: 767px) {
  .image-video-gallery {
    padding: 0px 0 52px;
  }
}
.ivg-lazyload-default-img {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

