.moto-geo-links-container {
  background-color: #001428;
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
  width: 100%;
  border-bottom: 1px solid #334353;
}

.moto-geo-links-container .mglc-page-nav-history {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  color: #ffffff;
  margin-top: 16px;
}

.moto-geo-links-container .mglc-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 32px;
}

.moto-geo-links-container .mglc-geo-name {
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 16px;
}

.moto-geo-links-container .mglc-geo-data {
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: underline;
  display: list-item;
  width: 100%;
  vertical-align: top;
}

.moto-geo-links-container .mglc-geo-data a,
.moto-geo-links-container .mglc-geo-data a:active,
.moto-geo-links-container .mglc-geo-data a:focus,
.moto-geo-links-container .mglc-geo-data a:hover {
  text-decoration: none;
  color: #ffffff;
}

.mglc-home-link, .mglc-home-link:hover, .mglc-home-link:focus, .mglc-home-link:active {
  text-decoration: none;
  color: #ffffff;
}

.moto-geo-links-container .mglc-geo-data-section {
  list-style-type: disc;
  margin: 0;
}

.moto-geo-links-container .mglc-geo-section {
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .moto-geo-links-container .mglc-geo-data {
    width: 33%;
  }
  .moto-geo-links-container .mglc-geo-data:nth-child(odd) {
    padding-right: 0;
  }

  .moto-geo-links-container .mglc-geo-data:nth-child(even) {
    padding-left: 0;
  }
  .moto-geo-links-container .mglc-title {
    font-size: 24px;
    line-height: 29px;
  }
  .moto-geo-links-container .mglc-geo-name {
    font-size: 18px;
    line-height: 21px;
  }
  .moto-geo-links-container .mglc-geo-data {
    font-size: 14px;
    line-height: 16px;
  }
  .moto-geo-links-container .mglc-page-nav-history {
    margin-top: 26px;
  }
}

@media screen and (min-width: 1024px) {
  .moto-geo-links-container {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
  }
  .moto-geo-links-container .mglc-title {
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 0;
    margin-top: 48px;
  }
  .moto-geo-links-container .mglc-geo-name {
    font-size: 24px;
    line-height: 29px;
  }
  .moto-geo-links-container .mglc-geo-data {
    font-size: 16px;
    line-height: 24px;
  }
  .moto-geo-links-container .mglc-geo-section {
    margin-top: 36px;
  }
  .moto-geo-links-container .mglc-page-nav-history {
    margin-top: 24px;
  }
}
