.foc-notify {
  position: absolute;
  top: -2.5px;
  right: -2.5px;
  border-radius: 100%;
  height: 5px;
  width: 5px;
  display: block;
}
.foc-notify.done {
  background: limegreen;
}
.foc-notify.required {
  background: red;
}
