.family-hero-card {
  position: relative;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
}

.family-hero-card strong {
  font-weight: inherit;
  font-weight: bold;
}

/* ======Hero description css STARTS====== */

.family-hero-card .fhc-description {
  text-align: center;
  background: #FFFFFF;
}

.family-hero-card .fhc-description .fhc-hero-description {
  padding-bottom: 10px;
  padding-top: 10px;
}

.family-hero-card .container-fluid .fhc-wrapper .fhc-description p {
  font-weight: 300;
  line-height: 22px;
  font-size: 18px;
  margin: 0 0 10px;
}

.family-hero-card .container-fluid .fhc-wrapper .fhc-description h1 {
  letter-spacing: -0.04em;
}

.family-hero-card .container-fluid .fhc-wrapper .fhc-description h1,
.family-hero-card .container-fluid .fhc-wrapper .fhc-description h2 {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.family-hero-card .container-fluid .fhc-wrapper .fhc-description h3,
.family-hero-card .container-fluid .fhc-wrapper .fhc-description h4 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.family-hero-card .container-fluid .fhc-wrapper .fhc-description h5,
.family-hero-card .container-fluid .fhc-wrapper .fhc-description h6 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ======If mobile alignment checked css====== */

.family-hero-card .fhc-description.alignment-1.center {
  margin: 0 auto;
  float: none;
  display: block;
}

/* ======Hero description css ENDS====== */

/* ======container-fluid css STARTS====== */

.family-hero-card .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}

/* ======container-fluid css STARTS====== */

/* ======Hero fhc-wrapper css STARTS====== */

.family-hero-card .container-fluid .fhc-wrapper {
  margin-left: -5px;
  margin-right: -5px;
}

/* ======Hero fhc-wrapper css ENDS====== */

/* ======Hero image css STARTS======*/

.family-hero-card .container-fluid .fhc-wrapper .fhc-image {
  position: relative;
  width: 100%;
  height: 190px;
}

.family-hero-card .container-fluid .fhc-wrapper .fhc-image img {
  margin: auto;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 190px;
}

/* ======Hero image css ENDS======*/

/* ======Hero cta css STARTS====== */

.family-hero-card .container-fluid .fhc-wrapper .fhc-description .fhc-hero-cta {
  display: none;
}

/* ======Hero cta css ENDS====== */

/* ======Background image css STARTS====== */

.fhc-bg-image {
  overflow: hidden;
  position: absolute;
  left: -50%;
  width: 200%;
  text-align: center;
  height: 190px;
}

.fhc-bg-image img {
  height: 100%;
}

/* ======Background image css ENDS====== */

/* ======Media queries====== */

@media screen and (min-width: 768px) {
  .family-hero-card .fhc-description {
    width: 100%;
  }

  .family-hero-card .container-fluid .fhc-wrapper .fhc-description h1,
  .family-hero-card .container-fluid .fhc-wrapper .fhc-description h2 {
    font-size: 36px;
    line-height: 42px;
  }

  .family-hero-card .container-fluid .fhc-wrapper .fhc-description h5,
  .family-hero-card .container-fluid .fhc-wrapper .fhc-description h6 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
  }

  .family-hero-card .container-fluid {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .family-hero-card .container-fluid .fhc-wrapper {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }

  .family-hero-card .container-fluid .fhc-wrapper .fhc-image {
    height: 320px;
  }

  .family-hero-card .container-fluid .fhc-wrapper .fhc-image img {
    max-height: 320px;
  }

  .fhc-bg-image {
    height: 320px;
  }
}

@media screen and (max-width: 991px) {
  .family-hero-card .fhc-description.alignment-1 {
    position: absolute;
    background:transparent !important;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .family-hero-card .fhc-description.alignment-1 .fhc-hero-description {
    padding: 0px 34px !important;
  }
}

@media screen and (min-width: 992px) {
  .family-hero-card .fhc-description {
    width: 33%;
    z-index: 2;
    background: transparent;
    padding: 0 0 0 34px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 30px;
    text-align: left;
    float: left;
  }

  .family-hero-card .fhc-description.center {
    margin: 0 auto;
    float: none;
    display: block;
  }

  .family-hero-card .container-fluid .fhc-wrapper .fhc-description h1 {
    margin-top: -7px;
  }

  .family-hero-card .container-fluid .fhc-wrapper .fhc-description h6 {
    margin-top: 5px;
  }

  .family-hero-card .container-fluid {
    max-width: 1200px;
    padding: 0 10px;
  }

  .family-hero-card .container-fluid .fhc-wrapper {
    margin-left: -15px;
    margin-right: -15px;
  }

  .family-hero-card .container-fluid .fhc-wrapper {
    height: 320px;
  }

  .family-hero-card .container-fluid .fhc-wrapper .fhc-image {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin: 0;
    width: auto;
    height: 320px;
  }

  .family-hero-card .container-fluid .fhc-wrapper .fhc-image img {
    margin: 0;
    max-width: none;
    position: static;
  }

  .family-hero-card .container-fluid .fhc-wrapper .fhc-description .fhc-hero-cta {
    display: block;
    margin-top: 6px;
  }
}

@media screen and (min-width: 1200px) {
  .family-hero-card .container-fluid .fhc-wrapper .fhc-image {
    height: 0;
    position: relative;
    float: right;
  }
}

@media screen and (min-width: 1920px) {
  .fhc-bg-image {
    left: 0;
    height: 640px;
    width: 100%;
    top: -50%;
    text-align: left;
  }

  .fhc-bg-image img {
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}

.fhc-lazyload-default-img {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}