.menu__item {
  font-family: "Gotham A","Gotham B",'ruble';
}

@media (max-width: 1023px) {
  .menu--container {
    left: 0;
    transition: 0.3s ease-in-out;
    opacity: 0;
  }
  .menu--menu-show {
    opacity: 1;
    visibility: visible;
    animation: fadeIn 0.3s ease-in-out;
  }
  .menu--menu-hide {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
