.modernized-image-gallery {
  padding: 79px 0;
  background-color: #111e31;
  position: relative;
}

.slick-prev, .slick-next {
  top: 50% !important;
}

.modernized-image-gallery .mig-text-wrapper {
  position: static;
  text-align: center;
  color: #ffffff;
  padding: 29px 10px;
  font-weight: 300;
  max-width: 320px;
  margin: 0 auto;
}
.modernized-image-gallery .mig-text-wrapper .mig-text-header {
  font-size: 18px;
  line-height: 19px;
  padding-bottom: 22px;
  font-weight: lighter;
}

.modernized-image-gallery .mig-text-wrapper .mig-text-desc {
  font-size: 14px;
  line-height: 16px;
  font-weight: lighter;
}

.modernized-image-gallery .mig-container {
  width: 320px;
  margin: 0 auto;
}

.modernized-image-gallery .mig-container .mig-slide-wrapper {
  border: none;
  outline: none;
  position: relative;
}

.modernized-styles .mig-container .mig-slide-wrapper img {
  margin-bottom: -50px;
  margin-top: -50px;
}

.modernized-image-gallery .mig-container .slick-arrow {
  width: 36px !important;
  height: auto;
}

.modernized-image-gallery .mig-container .slick-prev {
  left: 11px;
  z-index: 1;
}

.modernized-image-gallery .mig-container .slick-next {
  right: 11px;
}

.modernized-image-gallery .mig-container .slick-dots {
  bottom: 16px;
}

.modernized-image-gallery .mig-container .slick-dots li {
  margin: 0 5px 0 0;
  width: auto;
}
.modernized-image-gallery .mig-container .slick-dots li button:before {
  color: #939393;
  opacity: 1;
  font-size: 7px;
  width: auto;
}

.modernized-image-gallery
  .mig-container
  .slick-dots
  li.slick-active
  button:before {
  color: #ffffff;
}
.modernized-image-gallery .mig-container .slick-dots li button {
  padding: 0;
  width: 7px;
}

.modernized-image-gallery .mig-container .mig-gallery-title {
  font-weight: lighter;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {

  .modernized-styles .mig-container .mig-slide-wrapper img {
    margin-bottom: -125px;
    margin-top: -120px;
  }
  .modernized-image-gallery {
    padding: 79px 0;
  }
  .modernized-image-gallery .mig-text-wrapper {
    padding: 34px 20px;
    max-width: 600px;
  }
  .modernized-image-gallery .mig-text-wrapper .mig-text-header {
    font-size: 24px;
    line-height: 29px;
  }
  .modernized-image-gallery .mig-text-wrapper .mig-text-desc {
    font-size: 16px;
    line-height: 24px;
  }
  .modernized-image-gallery .mig-container {
    width: 599px;
    margin: 0 auto;
  }
  .modernized-image-gallery .mig-container .mig-gallery-title {
    font-size: 24px;
    line-height: 29px;
  }
  .modernized-image-gallery .mig-container .slick-arrow {
    width: 65px !important;
  }
  .modernized-image-gallery .mig-container .slick-dots li button:before {
    font-size: 13px;
  }
  .modernized-image-gallery .mig-container .slick-dots li button {
    width: 13px;
  }
}

@media screen and (min-width: 992px) {
  .modernized-image-gallery {
    padding: 97px 0;
  }

  .mig-floating-text-wrapper .mig-text-wrapper {
    position: absolute;
    bottom: 20%;
    z-index: 1;
    right: calc(50% - 300px);
    transform: translateX(50%);
    text-align: inherit;
    max-width: 400px;
    padding: 0;
  }

  .modernized-image-gallery .mig-text-wrapper .mig-text-header {
    font-size: 24px;
    line-height: 29px;
  }
  .modernized-image-gallery .mig-text-wrapper .mig-text-desc {
    font-size: 16px;
    line-height: 24px;
  }
  .modernized-image-gallery .mig-container {
    width: 700px;
    margin: 0 auto;
  }
  .modernized-image-gallery .mig-container .slick-arrow {
    width: 64px !important;
  }
  .modernized-image-gallery .mig-container .slick-dots li button:before {
    font-size: 16px;
  }
  .modernized-image-gallery .mig-container .slick-dots li button {
    width: 16px;
  }
}

.modernized-image-gallery .mig-lazyload-default-img {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
