.familyBannerLine {
  position: relative;
  width: 100%;
  z-index: 10;
  scroll-behavior: smooth;
}

.familyBannerLine .bannerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.familyBannerLine .container {
  width: 100% !important;
  max-width: 100% !important;
}
.familyBannerLine .bannerImageDesktop {
  display: block;
}

.familyBannerLine .bannerImageMobile {
  display: none;
}

.familyBannerLine .bannerImagetTablet{
  display: none;
}

.familyBannerLineContent {
  position: relative;
  background-color: #001428;
  padding-top: 52px;
}

.familyBannerLineContent h1, .familyBannerLineContent p {
  color: white;
  font-weight: 300;
  text-align: center;
}

.familyBannerLineContent h1 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}

.familyBannerLineContent p {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top:30px;
}
.familyBannerLineContent .subhead{
  font-size:18px;
  padding-bottom:30px;
  line-height: 24px;
}
.familyBannerLineContent .description {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  line-height: 26px;
}
.familyBannerLineContent button {
  background-color: #CF4039;
  margin: 0 auto;
  border-radius: 25px;
  font-size: 16px;
  display: flex;
  justify-content: center;
}
.familyBannerLineContent .familyBannerButton{
  width: 300px;
  height: 48px;
  color:#FFFFFF;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth;
  padding-top: 15px;
  transition: 0.5s ease-out;
}
.familyBannerLineContent p, .familyBannerLineCta {
  font-size: 22px;
}

.familyBannerLineCta {
  color: white;
  text-decoration: underline;
  font-weight: normal;
}
.vtex-button.bg-action-primary {
  background: #cf4039;
  font-family: "Gotham A", "Gotham B", "ruble";
  border-top-color: #cf4039;
  border-bottom-color: #cf4039;
  border-left-color: #cf4039;
  border-right-color: #cf4039;
  font-weight: 300;
  margin-top:63px;
}
@media (max-width: 991px) {
  .familyBannerLineContent {
    padding: 30px 1rem;
  }
}

@media (max-width:480px) {
  .familyBannerLine .bannerImageDesktop {
    display: none;
  }
  .familyBannerLine .bannerImageMobile {
    display: block;
  }
  .familyBannerLine .bannerImagetTablet{
    display: none;
  }
  .familyBannerLineContent h1, .familyBannerLineContent p, .familyBannerLineContent a {
    text-align: center;
  }
  .familyBannerLine .container{
    width:100% !important;
  }
  .familyBannerLineContent h1 {
    font-size: 24px !important;
   }

.familyBannerLineContent .subhead{
  font-size:16px;
  padding-bottom:20px;
}
.familyBannerLineContent .description {
  font-size: 14px !important;
  width: 331px;
  height: 58px;
  text-align: center;
  margin-bottom:15px;
  margin: 0 auto;
}
.familyBannerLineContent button {
  background-color: #CF4039;
  width: 343px;
  height: 48px;
  margin: 0 auto;
}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
  .familyBannerLine .bannerImageDesktop {
    display: none;
  }
  .familyBannerLine .bannerImageMobile {
    display: none;
  }
  .familyBannerLine .bannerImagetTablet{
    display: block;
  }
  .familyBannerLine {
    min-height: 141px;
  }
  .familyBannerLineContent .description {
    display: flex;
    margin: 0 auto;
    width: 580px;
    height: 45px;
    justify-content: center;
  }
  .familyBannerLineContent button{
    top: 98%;
    width: 282px;
    height: 48px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
  .familyBannerLineContent .description {
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 26px;
    width: 562px;
    align-items: center;
  }
  .familyBannerLineContent button{
    margin-top: 45px !important;
    width: 282px;
    height: 48px;
  }
}

@media only screen and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) {
    .familyBannerLineContent button {
        top: 98%;
        width: 282px;
        height: 48px;
      }
  }

@media (min-width: 1025px) {
  .familyBannerLine .bannerImageDesktop {
    display: block;
  }
  .familyBannerLine .bannerImageMobile {
    display: none;
  }
  .familyBannerLine .bannerImagetTablet{
    display: none;
  }
.familyBannerLineContent button {
  background-color: #CF4039;
  width: 328px;
  height: 48px;
  top: 85%;
}
}

