.bannerLine {
  position: relative;
  width: 100%;
  z-index: 10;
}
.bannerLine .bannerImage {
  background-size: auto 100%;
  background-position: center center;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  z-index: 0;
}
.bannerLine .bannerImageDesktop {
  display: block;
}
.bannerLine .bannerImageMobile {
  display: none;
}
.bannerLineContent {
  position: relative;
  padding: 35px 1rem;
}
.bannerLineContent h1, .bannerLineContent p {
  color: white;
}
.bannerLineContent h1 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: bold;
}
.bannerLineContent p, .bannerLineCta {
  font-size: 22px;
}
.bannerLineCta {
  color: white;
  text-decoration: underline;
}
@media (max-width: 991px) {
  .bannerLineContent {
    padding: 30px 1rem;
  }
}
/* @media (min-width: 768px) { 
  .bannerLineContent {
    width: 25%;
  }
} */
@media (max-width: 767px) {
  .bannerLine .bannerImage {
    position: relative;
    height: 193px;
  }
  .bannerLine .bannerImageDesktop {
    display: none;
  }
  .bannerLine .bannerImageMobile {
    display: block;
  }
  .bannerLineContent {
    background: #333f48;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .bannerLineContent h1, .bannerLineContent p, .bannerLineContent a {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .bannerLine .bannerImage {
    background-size: cover;
  }
}