.banner {
  z-index: 10;

}
.banner img {
  width: 100%;
}

.banner .banner-content {
  height: 100%;
}

.banner .banner-content .banner-text {
  position: absolute;
  transform: translateY(-50%);
  top: 30%;
  text-align: left;
}

.banner .banner-content .banner-text img {
  display: block;
  max-height: 200px;
  margin: 0;
}

.banner-float-image {
  margin-bottom: 10px;
}
.banner .banner-content .banner-text .banner-title {
  color: white;
  font-size: 36px;
  font-weight: 300;
}

.banner .banner-content .banner-text .banner-description {
  color: white;
  font-size: 16px;
  font-weight: normal;
  margin: 20px 0;
}

a.banner-cta, .banner-cta {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  border-radius: 25px;
  line-height: 50px;
  padding: 0 25px;
  height: 50px;
  text-decoration: none;
}

.banner-cta.banner-cta-red {
  border: 1px solid #eb150a;
  background-color: rgba(235, 21, 10, 1.0);
  color: #FFFFFF;
}

.banner-cta.banner-cta-white {
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 1.0);
  color: #000000;
}

.banner-cta.banner-cta-yellow {
  border: 1px solid #f7eb01;
  color: #f7eb01;
}

.banner-cta-text {
  font-size: 16px;
  line-height: 50px;
}

.banner-cta.banner-cta-yellow:hover {
  background-color: rgba(0, 0, 0, 1.0);
  border: 1px solid #000000;
  color: #f7eb01;
}

.banner-content.banner-content-mobile{
  display: none;
}
.banner-content.banner-content-desktop{
  display: block;
}

@media (max-width: 991px) {
  .banner .banner-content {
    padding: 0 40px;
  }
  .banner .banner-content .banner-text img {
    width: auto;
  }
  .banner .banner-content .banner-text .banner-title {
    font-size: 16px;
  }
  .banner .banner-content .banner-text .banner-title {
    font-size: 16px;
    margin: 10px 0;
  }
  .banner .banner-content .banner-text .banner-description {
    font-size: 14px;
    margin: 20px 0;
  }
  a.banner-cta, .banner-cta {
    height: 35px;
    line-height: 35px !important;
  }
  .banner-cta-text {
    padding: 0 10px;
    line-height: 35px;
    font-size: 12px !important;
  }
}
@media (min-width: 768px) {
  .banner-background-mobile {
    display: none;
  }
  .banner-background {
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 767px) {
  .banner {
    position: relative;
  }
  .banner:after {
    content: "";
    display: block;
    padding-top: 110%;
  }
  .banner-background-mobile {
    height: 100%;
    display: block;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
  }

  .banner-background {
    display: none;
  }
  .banner .banner-content {
    padding: 0;
  }
  .banner-float-image {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }
  .banner-float-image img {
    width: 100% !important;
  }
  .banner .banner-content .banner-text img {
    max-height: 40px;
  }
  .banner .banner-content .banner-text {
    min-height: 50%;
    background: rgba(34,44,48,0.75) none repeat scroll 0 0;
    padding: 20px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: translateY(0);
    text-align: center;
    top: auto;
    bottom: 0;
  }
  .banner .banner-content .banner-text {
    font-size: 26px;
  }
  a.banner-cta, .banner-cta {
    border: 0!important;
    background: transparent!important;
    color: #ffffff !important;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-color: #ffffff;
  }
  .banner-cta-text {
    color: #ffffff !important;
    font-size: 16px !important;
  }
  .banner-background-mobile.banner-background-mobile-new {
    height: 100%;
    display: block;
    width: 100%;
    overflow: hidden;
    position: static;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
  }
  .banner .banner-content.banner-content-mobile .banner-text {
    min-height: 43%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%;
    transform: translateY(0);
    text-align: center;
    top: auto;
    bottom: auto;
    background: none;
  }
  .banner-content.banner-content-mobile a.banner-cta-new, .banner-content.banner-content-mobile .banner-cta-new {
    height: 32px;
    padding: 0px 17px;
    margin: 24px auto 0;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration:none;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
  }
  .banner-content.banner-content-mobile .banner-cta-new-text {
    font-size: 14px !important;
    padding: 0;
    font-weight: 400;
  }
  .banner-content.banner-content-mobile{
    display: block;
  }
  .banner-content.banner-content-desktop{
    display: none;
  }
   .banner.banner-new:after {
    padding-top: 0;
  }
  .banner .banner-content.banner-content-mobile .banner-text .banner-title{
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0 0 0;
  }
  .banner .banner-content.banner-content-mobile .banner-text .banner-description{
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    margin-bottom: 0px;
    margin-top: 16px;
  }
  .banner-content.banner-content-mobile .white{
    font-size: 16px;
    margin:16px 0 0 0;
    font-weight: 700;
  }
  .banner-content.banner-content-mobile .white strong {
    font-weight: 700;
  } 
}



.youtube-id-desktop div {
  position: relative;
  overflow: hidden;
  padding-top: 42.25%;
}
.youtube-id-desktop iframe {
  position: absolute;
  top: -103px;
  left: 0;
  width: 100%;
  height: calc(100% + 316px);
  border: 0;
}

.youtube-id-mobile div {
  position: relative;
  overflow: hidden;
  padding-top: 133%;
  z-index: -3;
}
.youtube-id-mobile iframe {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: calc(100% + 120px);
  border: 0;
}