.vtex-minicart-2-x-drawer--minicart-v2{
    max-height: 610px;
    max-width: 100% !important;
    width: 100% !important;
    z-index: 1211;
  }
.vtex-minicart-2-x-overlay--visible {
    z-index: 1210;
    background-color: #000000 !important;
    opacity: 0.47 !important;
  }
.vtex-minicart-2-x-openIconContainer {
      padding-left: 0;
      padding-right: 0;
  }
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2 * {
    font-family: "Gotham A", "Gotham B", "ruble";
  }
  
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2 .vtex-minicart-2-x-minicartTitle {
    font-size: 26px;
    line-height: 31px;
    font-weight: 300;
    color: #001428 !important;
  }
  .minicartSideBarContentWrapper--minicart-v2 .vtex-minicart-2-x-minicartTitle,
  .minicartSideBarContentWrapper--minicart-v2 .vtex-minicart-2-x-minicartProductListContainer,
  .minicartSideBarContentWrapper--minicart-v2
    .vtex-flex-layout-0-x-flexRow--minicart-footer
    .ph6-l {
    padding-left: 20px !important;
  }
  
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-flex-layout-0-x-flexRow--minicart-footer
    .pt5 {
    padding-top: 10px;
  }
  .vtex-minicart-2-x-minicartQuantityBadge--minicart-v2 {
    background-color: #cf4039 !important;
    color: #ffffff !important;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
  }
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2 {
    max-height: 590px;
  }
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-minicart-2-x-minicartProductListContainer
    .vtex-product-list-0-x-productBrandName {
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
    color: #001428;
    text-transform: lowercase;
  }
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-minicart-2-x-minicartProductListContainer
    .vtex-product-list-0-x-productName {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    color: #001428;
  }
  
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-minicart-2-x-minicartProductListContainer
    .vtex-product-list-0-x-price {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #001428;
  }
  
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-flex-layout-0-x-flexRow--minicart-footer
    .vtex-checkout-summary-0-x-summaryItemContainer:first-child
    .vtex-checkout-summary-0-x-summaryItemLabel,
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-flex-layout-0-x-flexRow--minicart-footer
    .vtex-checkout-summary-0-x-summaryItemContainer:first-child
    .vtex-checkout-summary-0-x-summaryItemPrice {
    font-size: 16px;
    line-height: 20px;
    color: #001428;
  }
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-flex-layout-0-x-flexRow--minicart-footer
    .vtex-checkout-summary-0-x-summaryItemContainer:first-child
    .vtex-checkout-summary-0-x-summaryItemLabel {
    font-weight: 300;
  }
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-flex-layout-0-x-flexRow--minicart-footer
    .vtex-checkout-summary-0-x-summaryItemContainer:first-child
    .vtex-checkout-summary-0-x-summaryItemPrice {
    font-weight: 300;
  }
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-flex-layout-0-x-flexRow--minicart-footer
    .vtex-checkout-summary-0-x-summaryItemContainer:last-child
    .vtex-checkout-summary-0-x-summaryItemLabel,
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-flex-layout-0-x-flexRow--minicart-footer
    .vtex-checkout-summary-0-x-summaryItemContainer:last-child
    .vtex-checkout-summary-0-x-summaryItemPrice {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #001428;
  }
  
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-flex-layout-0-x-flexRow--minicart-footer
    .vtex-checkout-summary-0-x-summaryItemContainer:last-child
    .pb5 {
    padding-bottom: 8px;
  }
  
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-flex-layout-0-x-flexRow--minicart-footer
    .vtex-checkout-summary-0-x-summarySmallDisclaimer {
    text-align: center;
    font-size: 12px;
    line-height: 13px;
    font-weight: 300;
    color: #001428;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-minicart-2-x-minicartCheckoutButton
    .vtex-button,
  .vtex-minicart-2-x-minicartCheckoutButton .vtex-button:active,
  .vtex-minicart-2-x-minicartCheckoutButton .vtex-button:hover {
    background-color: #cf4039;
    border-color: #cf4039;
    color: #ffffff;
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
    height: 47px;
  }
  
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-store-link-0-x-link--minicart-v2-continue-shopping,
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-store-link-0-x-link--minicart-v2-continue-shopping:hover,
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
   .vtex-store-link-0-x-link--minicart-v2-continue-:active {
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
    color: #001428;
    text-decoration: underline;
    padding-top: 14px;
    padding-bottom: 25px;
    text-align: center;
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
  
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-flex-layout-0-x-flexRow--minicart-footer {
    border-top: 1px solid #001428;
    box-shadow: none !important;
  }
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2 .vtex-dropdown__container {
    border: 0.5px solid #001428 !important;
  }
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-dropdown__container
    .vtex-dropdown__button {
    border-radius: 0.25rem;
  }
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-dropdown__container
    .vtex-dropdown__button
    .vtex-dropdown__arrow {
    border-left: 0.5px solid #001428 !important;
  }
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-dropdown__container
    .vtex-dropdown__button
    .vtex-dropdown__caption {
    padding-right: 20px;
    padding-left: 5px;
  }
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-dropdown__container
    .vtex-dropdown__button,
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-dropdown__container
    .vtex-dropdown__button
    .vtex-dropdown__caption,
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-dropdown__container
    .vtex-dropdown__button
    .vtex-dropdown__arrow {
    background-color: #ffffff;
    color: #001428;
  }
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2 .vtex-dropdown__caption {
    color: #001428;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  }
  
  .vtex-minicart-2-x-minicartProductListContainer
    .vtex-flex-layout-0-x-flexRowContent.pt5 {
    padding-top: 20px;
  }
  .vtex-minicart-2-x-minicartProductListContainer
    .vtex-flex-layout-0-x-flexRowContent.pb6 {
    padding-bottom: 20px;
    border-bottom: 1px solid #707070;
  }
  .vtex-minicart-2-x-minicartProductListContainer
    .vtex-flex-layout-0-x-flexRow:last-child
    .vtex-flex-layout-0-x-flexRowContent.pb6 {
    border-bottom: none;
  }
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-product-list-0-x-quantitySelectorContainer
    * {
    border: 0;
    color: #001428;
    background: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
  }
  
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-product-list-0-x-quantitySelectorContainer
    button {
    padding: 0;
    outline: none;
  }
  
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-product-list-0-x-quantitySelectorContainer
    button:focus,
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-product-list-0-x-quantitySelectorContainer
    button:active {
    padding: 0;
    outline: none;
  }
  
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-product-list-0-x-quantitySelectorContainer
    svg {
    width: 10px;
    height: 13px;
  }
  
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-product-list-0-x-inputContainer {
    padding-left: 0;
    padding-right: 0;
    width: 2.5rem;
  }
  
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-product-list-0-x-removeButton {
    padding: 0;
  }
  
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-product-list-0-x-removeButton:active,
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-product-list-0-x-removeButton:focus {
    outline: 0;
  }
  
  .vtex-minicart-2-x-drawerContent--minicart-v2 .vtex-minicart-2-x-closeIconButton--minicart-v2 {
    position: relative;
    top: 100px;
    left: 320px;
  }
  .vtex-minicart-2-x-drawerContent--minicart-v2
    .vtex-minicart-2-x-closeIconButton--minicart-v2
    .vtex-minicart-2-x-closeIcon--minicart-v2 {
    color: #707070;
    width: 20px;
    height: 20px;
  }
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2 .vtex-minicart-2-x-minicartTitle {
    margin-top: 10px;
  }
  .vtex-flex-layout-0-x-flexRowContent--minicart-v2-quantity-selector
    .flex {
    display: inline-flex;
  }
  
  .vtex-minicart-2-x-closeIconContainer--minicart-v2 {
    position: absolute;
    right: 25px;
  }
  
  .vtex-minicart-2-x-drawerContent--minicart-v2 .vtex-minicart-2-x-closeIconContainer--minicart-v2::after {
    content: "";
    top: -19px;
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    right: -6px;
  }
  
  .vtex-minicart-2-x-opened--minicart-v2 {
    top: 100px;
  }
  
  .vtex-minicart-2-x-drawerContent--minicart-v2 .vtex-minicart-2-x-closeIconButton--minicart-v2 {
    position: relative;
    right: -19px;
    z-index: 1205;
    top: 0;
    left: 18px;
  }
  
  .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
    .vtex-product-list-0-x-productImage {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  
  @media screen and (min-width: 768px) {
    .vtex-minicart-2-x-drawer--minicart-v2 {
      max-height: 450px;
      max-width: 400px !important;
    }
    .vtex-minicart-2-x-opened--minicart-v2 {
      right: 1%;
      top: 103px;
    }
    .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2 {
      max-height: 445px;
      position: absolute;
    }
    .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
      .vtex-minicart-2-x-minicartProductListContainer
      .vtex-product-list-0-x-productBrandName {
      font-size: 16px;
      line-height: 22px;
    }
    .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
      .vtex-minicart-2-x-minicartProductListContainer
      .vtex-product-list-0-x-productName {
      font-size: 14px;
      line-height: 18px;
    }
    .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
      .vtex-minicart-2-x-minicartProductListContainer
      .vtex-product-list-0-x-price {
      font-size: 14px;
      line-height: 18px;
    }
    .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
      .vtex-flex-layout-0-x-flexRow--minicart-footer
      .vtex-checkout-summary-0-x-summaryItemContainer:first-child
      .vtex-checkout-summary-0-x-summaryItemLabel,
    .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
      .vtex-flex-layout-0-x-flexRow--minicart-footer
      .vtex-checkout-summary-0-x-summaryItemContainer:first-child
      .vtex-checkout-summary-0-x-summaryItemPrice {
      font-size: 14px;
      line-height: 20px;
      color: #001428;
    }
    .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
      .vtex-flex-layout-0-x-flexRow--minicart-footer
      .vtex-checkout-summary-0-x-summaryItemContainer:last-child
      .vtex-checkout-summary-0-x-summaryItemLabel,
    .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
      .vtex-flex-layout-0-x-flexRow--minicart-footer
      .vtex-checkout-summary-0-x-summaryItemContainer:last-child
      .vtex-checkout-summary-0-x-summaryItemPrice {
      font-size: 18px;
      line-height: 21px;
    }
    .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
      .vtex-flex-layout-0-x-flexRow--minicart-footer
      .vtex-checkout-summary-0-x-summarySmallDisclaimer {
      font-size: 12px;
      line-height: 15px;
    }
  
    .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
      .vtex-minicart-2-x-minicartCheckoutButton
      .vtex-button,
    .vtex-minicart-2-x-minicartCheckoutButton .vtex-button:active,
    .vtex-minicart-2-x-minicartCheckoutButton .vtex-button:hover {
      font-size: 13px;
      line-height: 15px;
      font-weight: normal;
      outline: none;
    }
    .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
      .vtex-store-link-0-x-link--minicart-v2-continue-shopping,
    .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
      .vtex-store-link-0-x-link--minicart-v2-continue-shopping:hover,
    .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2
      .vtex-store-link-0-x-link--minicart-v2-continue-:active {
      font-size: 16px;
      line-height: 18px;
    }
    .vtex-flex-layout-0-x-flexRowContent--minicart-v2-quantity-selector
      .flex {
      display: flex;
    }
    .vtex-minicart-2-x-drawerContent--minicart-v2 .vtex-minicart-2-x-closeIconContainer--minicart-v2::after {
      content: "";
      top: -20px;
      position: absolute;
      border: 10px solid transparent;
      border-bottom-color: #fff;
      right: 0;
    }
  }
  
  @media screen and (min-width: 1024px) {
      .vtex-minicart-2-x-opened--minicart-v2 {
          right: 1.5%;
        }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2 .vtex-minicart-2-x-minicartTitle {
      margin-top: 10px;
      font-size: 24px;
      line-height: 29px;
    }
    .vtex-minicart-2-x-drawerContent--minicart-v2 .vtex-minicart-2-x-closeIconButton--minicart-v2 {
      position: relative;
      top: 0;
      left: 12px;
    }
    .vtex-product-list-0-x-removeButtonContainer {
      margin-left: 2rem;
    }
    .vtex-minicart-2-x-opened--minicart-v2 {
      max-width: 410px !important;
    }
    .vtex-minicart-2-x-drawerContent--minicart-v2 .vtex-minicart-2-x-closeIconContainer--minicart-v2::after {
      content: "";
      top: -19px;
      position: absolute;
      border: 10px solid transparent;
      border-bottom-color: #fff;
      right: 0;
    }
  }
  
  @media screen and (min-width: 1025px) {
    .vtex-minicart-2-x-drawer--minicart-v2 {
      z-index: 1211;
    }
    .vtex-minicart-2-x-minicartSideBarContentWrapper--minicart-v2 .vtex-minicart-2-x-minicartTitle {
      margin-top: 10px;
    }
    .vtex-minicart-2-x-drawerContent--minicart-v2 .vtex-minicart-2-x-closeIconButton--minicart-v2 {
      position: relative;
      right: -19px;
      z-index: 1205;
      top: 0;
      left: 14px;
    }
    .vtex-minicart-2-x-drawerContent--minicart-v2
      .vtex-minicart-2-x-closeIconButton--minicart-v2
      .vtex-minicart-2-x-closeIcon--minicart-v2 {
      color: #707070;
    }
    .vtex-minicart-2-x-minicartProductListContainer
      .vtex-flex-layout-0-x-flexRowContent.pt5 {
      padding-top: 21px;
    }
    .vtex-minicart-2-x-minicartProductListContainer
      .vtex-flex-layout-0-x-flexRowContent.pb6 {
      padding-bottom: 28px;
      border-bottom: 1px solid #707070;
    }
    .vtex-minicart-2-x-opened--minicart-v2 {
      right: 8%;
      left: 62.5%;
      position: fixed;
      top: 135px;
    }
    .vtex-minicart-2-x-openIconContainer {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
  }
  }
  
  @media screen and (min-width: 1280px) {
    .vtex-minicart-2-x-opened--minicart-v2 {
      left: 63.3%;
    }
  }
  
  @media screen and (min-width: 1366px) {
    .vtex-minicart-2-x-opened--minicart-v2 {
      left: 62.5%;
    }
  }
  
  @media screen and (min-width: 1440px) {
    .vtex-minicart-2-x-opened--minicart-v2 {
      left: 62%;
    }
  }
  
  @media screen and (min-width: 1920px) {
    .vtex-minicart-2-x-opened--minicart-v2 {
      left: 63.5%;
    }
  }
  