.pdp-faq-title {
  padding: 20px 0;
}
.pdp-faq-title h1 {
  font-size: 24px;
  font-weight: 300;
}
.Collapsible__trigger.is-open .pdp-faq-question {
  font-weight: 300;
}
.pdp-faq-question-container .Collapsible {
  border-bottom: 1px solid #ccc;
}
.pdp-faq-question-title {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.pdp-faq-question-icon {
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  width: 45px;
  height: 45px;
}
.pdp-faq-question-icon .pdp-faq-question-icon-svg {
  width: 20px;
  height: 20px;
}
.pdp-faq-question-title:hover .pdp-faq-question-icon {
  background: #192B3D;
}
.pdp-faq-question {
  cursor: pointer;
  padding: 20px 10px 20px 0px;
  font-weight: 300;
}
.pdp-faq-answer {
  padding: 20px 20px 20px 0px;
  font-weight: 300;
  text-align: left;
}
.pdp-faq-container {
  background-color: #001428;
  color: #ffffff;
  padding-bottom: 30px;
  position: relative;
  padding-left:20px;
  padding-right:20px;
}

.pdp-faq-question-icon svg.pdp-faq-question-icon-svg {
  fill: #ffffff;

}