.disclaimer-block-wrapper {
  background-color: #0D2033;
  position: relative;
}
.disclaimer-block-container {
  background: #0D2033;
  color: #ffffff;
  font-weight: 300;
  font-family:  "Gotham A","Gotham B",'ruble';
}
.disclaimer-block {
  padding: 10px 0;
  line-height: 25px;
  font-size: 12px;
  text-align: justify;
  font-weight: 300;
}
@media (max-width: 767px) {
  .disclaimer-block {
    padding-left: 20px;
    padding-right: 20px;
  }
  .disclaimer-block-container .container{
    width:100% !important;
  }
}