.blog-list-page-container {
  background-color: #001428;
  width: 100%;
  padding-left: 16px;
  padding-top: 24px;
  padding-right: 16px;
  display: inline-block;
}

.blog-list-page-history-links {
  background-color: #001428;
  width: 100%;
  padding-left: 16px;
  padding-top: 16px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 300;
}

.blog-list-page {
  background-color: #001428;
}

.blpc-home-link,
.blpc-home-link:active,
.blpc-home-link:hover,
.blpc-home-link:focus {
  text-decoration: none;
  color: #ffffff;
}

.blpc-separator {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.blpc-filter-wrapper {
  display: flex;
}

.blpc-left-area,
.blpc-right-area {
  width: 100%;
  background-color: #001428;
}

@media screen and (min-width: 320px) and (max-width: 480px) { 
  .blpc-filter-wrapper .blpc-right-area {
    display: flex;
    justify-content: flex-end;
  }
}

.blpc-right-area > div {
  margin-bottom: 24px;
}

.blpc-page-title {
  margin-top: 0;
  margin-bottom: 32px;
  color: #ffffff;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

@media screen and (min-width: 1024px) {
  .blog-list-page-container {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
  }
  .blog-list-page-history-links {
    padding-left: 80px;
    padding-top: 24px;
    padding-right: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .blog-list-page-container {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 48px;
  }
  .blpc-left-area {
    width: 68%;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
  }
  .blpc-right-area {
    width: 29%;
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
  }
}
