.option-field-container {
  color: #999;
  padding: 0 20px;
}
.option-field-wrapper {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}
.options {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-column-gap: 10px;
  padding: 10px 0 0 0;
  margin: 10px 0;
}
.option {
  display: flex;
  justify-content: space-around;
}
.option label {
  visibility: visible !important;
}
