.trade-in-minicart {
    margin-left: 16px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.tim-logo {
    width: 87px;
    height: 10px;
}

.tim-discount-text {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
    padding-left: 5px;
    color: #000000;
}

.tim-device-selected {
    margin-top: 8px;
    margin-bottom: 8px;
    font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
    color: #001428;
}

.tim-value {
    font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
    color: #001428;
}

.tim-value-disclaimer {
    font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
    color: #001428;
    padding-left: 12px;
}