.contact-enterprise-form-container {
  margin: 30px auto 50px auto;
  width: 700px
}

.contact-enterprise-header {
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  line-height: 30px;
}

.contact-enterprise-sub-header {
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 63px;
  line-height: 16px;
}

.contact-enteprise-inline-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-enteprise-float-container {
  width: 300px;
  border-color: #f7d2d2;
  border: solid 2px #cecece;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 17px;
  position: relative;
  margin: 20px 20px 0 20px;
}

.contact-enteprise-float-container label {
  top: -3px;
  font-size: 16px;
  position: absolute;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: translate(0, 16px) scale(1);
  transform: translate(0, 16px) scale(1);
  transition: all .1s ease-in-out;
  color: #858585;
  font-weight: normal;
}

.contact-enteprise-float-container.float-container-error label {
  color: #f7d2d2;
}

.contact-enteprise-float-container.hidden label {
  visibility: hidden;
}

.contact-enteprise-float-container .form-control {
  background: transparent;
  border: none;
  color: #858585 !important;
  -webkit-appearance: none;
  font-size: 16px;
  outline: 0;
  padding: 16px 0 10px;
  width: 100%;
}

.contact-enteprise-float-container select.form-control {
  background: url('./components/SelectField/dropdown.svg') no-repeat right #fff;
}

.contact-enteprise-full-width-container .contact-enteprise-float-container {
  width: 660px;
  margin: 20px 20px 0 20px;
}

.contact-enteprise-float-container.active label {
  -webkit-transform: translate(0, 4px) scale(.75);
  transform: translate(0, 4px) scale(.75);
  top: -16px;
  background: white;
  left: 20px;
  padding: 5px;
  z-index: 1;
}

.error-message {
  display: inline-block;
  margin-left: 20px;
  color: #cd2525;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  margin-top: 6px;
  visibility: hidden;
  margin-bottom: 15px;
}

.error-message.visible {
  visibility: visible;
}

.contact-enterprise-actions {
  margin-top: 20px;
}

.contact-enterprise-submit-button {
  background-color: #89b754;
  color: #fff;
  cursor: pointer;
  border-radius: 28px;
  font-size: 16px;
  padding: 17px 45px 17px 45px;
  border: 0;
  font-weight: 500;
  margin: 20px;
}

.contact-enterprise-submit-button:disabled {
  background: #bad49d;
  cursor: not-allowed;
}

.contact-enteprise-full-width-container .product-list {
  display: flex;
  margin: 0 0 40px 0;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .contact-enterprise-form-container {
    width: 100%;
  }
  .contact-enteprise-float-container {
    width: calc(100% - 40px);
  }
  .contact-enteprise-float-container .form-control {
    width: 100%;
  }
  .contact-enteprise-full-width-container .contact-enteprise-float-container {
    width: calc(100% - 40px);
  }
  .contact-enteprise-inline-container {
    flex-direction: column;
  }
  .product-list-container .product-list {
    flex-direction: column;
  }
  .product-list-container .product-list .product-item label {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .product-list-container .product-list .product-item .checkmark {
    margin: 0;
  }
  .contact-enterprise-actions {
    text-align: center;
  }
}
.contact-enterprise-captcha {
  padding: 20px 0;
}