@media (min-width: 1120px) {
  .dropdown-box {
    display: none;
  }
  .dropdown-open .dropdown-box {
    background: white;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
            box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    display: block !important;
    padding: 30px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
  }
  .dropdown-box ul {
    height: auto !important;
    overflow: hidden;
  }
  .dropdown-box ul li {
    padding: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .dropdown-box ul li a {
    color: #333;
    text-decoration: none;
  }
  .dropdown-box ul li:hover {
    text-shadow: 0 0 .01px black, 0 0 .01px black, 0 0 .01px black;
    background: #efefef;
  }
  .dropdown-box ul li.without-image {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    padding: 0;
  }
  .dropdown-box ul li.without-image ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dropdown-box ul li.without-image:hover, .dropdown-box ul li.without-image:hover li {
    text-shadow: 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
    background: transparent;
  }
  .dropdown-box ul li.without-image ul li {
    width: 100%;
    text-align: left;
    padding: 0;
  }
  .dropdown-box ul li.without-image ul li a {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    padding: 10px 15px;
    text-align: left;
    width: 100%;
  }
  .dropdown-box ul li.without-image ul li a:hover {
    background: #efefef;
    text-shadow: 0 0 .01px black, 0 0 .01px black, 0 0 .01px black;
  }
  .dropdown-box ul li a figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .dropdown-box ul li a figure img {
    width: 104px;
    height: 120px;
    margin: 29px 0 19px 0;
  }
  .dropdown-box ul li a figure figcaption {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 19px 0;
    max-height: 16px;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.9);
    margin: 0;
    width: 100%;
  }
  .dropdown-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dropdown-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dropdown-inner ul {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 1119px) {
  .dropdown-box {
    height: 0;
    opacity: 0;
    overflow-y: hidden; 
    -webkit-transition: 1s; 
    -o-transition: 1s; 
    transition: 1s;
  }
  .dropdown-open .dropdown-box {
    opacity: 1;
    height: 100%;
  }
  .dropdown-box ul li a figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    margin: 0;
  }
  .dropdown-box ul li a figure img {
    max-height: 70px;
    margin-right: 20px;
  }
  .dropdown-box ul li a figure figcaption, .dropdown-box ul li a .sub-menu-title {
    font-weight: normal;
  }
  .dropdown-box ul li ul {
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }
  .dropdown-box ul li ul li {
    padding: 0 10px;
  }
  .dropdown-box ul li ul li:hover {
    background: #efefef;
  }
  .dropdown-box ul li ul li:hover a .sub-menu-title {
    text-shadow: 0 0 .01px black, 0 0 .01px black, 0 0 .01px black;
  }

  .dropdown-inner ul li .moto-family-image {
    margin-bottom: 22px;
  }
  .dropdown-inner ul li .moto-family-image figcaption {
    line-height: 25px;
  }
}