@media screen and (min-width: 320px) and (max-width: 480px) {
  .camera-software-gallery__gallery{
    padding-top:24px;
  }

  .camera-software-gallery__gallery__item__infos__title,
  .camera-software-gallery__header__title {
    font-size: 20px;
  }
  
  .camera-software-gallery__header {
    display: flex;
    flex-direction: column;
    padding: 25px 16px 16px;
  }

  .camera-software-gallery__header__title {
    margin-bottom: 10px;
    z-index: 1;
  }

  .camera-software-gallery__gallery__item__infos {
    position: relative;
    background-color: #001428;
  }

  .camera-software-gallery__gallery__item__infos__description,
  .camera-software-gallery__header__description {
    color: #BFC4C9;
    line-height: 24px;
    font-size: 14px;
    line-height: 20px;
    z-index: 1;
  }

  .camera-software-gallery__header__description {
    margin: 0 0 10px;
  }
  
  .camera-software-gallery__gallery__item__infos__description {
    min-height: 75px;
  }

  .camera-software-gallery__gallery__item {
    opacity: 0;
    transform: translatey(575px);
    padding-top: 25px;
    overflow:hidden;
    min-height:640px;
    max-height:750px;
    align-items:stretch !important;
  }
  
  .camera-software-gallery__gallery__item-1 {
    opacity: 1;
    transform: translatey(0);
  }
  
  .camera-software-gallery__gallery__item__image {
    background-size:cover;
    background-position:center;
    width:100%;
    padding-top:25px;
  }

  .camera-software-gallery__gallery__item__video {
    width:100%;
    overflow:hidden;
    max-height: 65vh;
    position: relative;
    padding-top: 150% !important;
    background-color: #001428; 
  }

  .camera-software-gallery__gallery__item__video__player {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw !important;
    height: 74vh !important;
    position: absolute;
    top: -60px;
    left: 0;
  }
  .camera-software-gallery__gallery__item__video__player iframe{
    width:100% !important;
    height:100% !important;
  }

  .camera-software-gallery__gallery__item__video__player > div {
    position:absolute;
    width:100% !important;
    overflow:auto !important;
  }
}