.vtex-my-orders-app-3-x-orderDetails
  > div
  > div:nth-child(2)
  > ul
  > li:nth-child(2)
  > div a:nth-child(2) {
  display: none;
}
.vtex-account__order-details > div > div:nth-child(2) > ul > li:nth-child(2) {
  display: none
}