.full-bleed-video-card {
  position: relative;
  overflow: hidden;
  color: #ffffff;
  background-color: #001428;
}

.full-bleed-video-card .fbvc-content {
  height: 100%;
  position: relative;
}

.full-bleed-video-card .fbvc-youtube-video {
  height: 100%;
  position: relative;
}

.full-bleed-video-card .fbvc-youtube-video div {
  height: 100%;
  position: relative;
}

.full-bleed-video-card .fbvc-youtube-video div iframe {
  position: absolute;
}

/*Set height of video based on device for medium
  template (based on how it was done in earlier
  Drupal platform) and, store device type.*/

.full-bleed-video-card.card-height-medium {
  height: 300px!important;
}

.full-bleed-video-card.card-height-medium .fbvc-background-image-wrapper .fbvc-background-image-mobile,
.full-bleed-video-card.card-height-default .fbvc-background-image-wrapper .fbvc-background-image-mobile {
  display: block;
  height: 200%;
  width: 200%;
  left: -50%;
  position: absolute;
  top: -50%;
}

.full-bleed-video-card.card-height-medium .fbvc-background-image-wrapper .fbvc-background-image-mobile img,
.full-bleed-video-card.card-height-default .fbvc-background-image-wrapper .fbvc-background-image-mobile img {
  width: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.full-bleed-video-card.card-height-medium .fbvc-background-image-wrapper .fbvc-background-image-desktop {
  display: block;
  height: 200%;
  width: 100%;
  left: -50%;
  position: absolute;
  top: -50%;
}

.full-bleed-video-card.card-height-medium .fbvc-background-image-wrapper .fbvc-background-image-desktop img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.full-bleed-video-card.card-height-default .fbvc-background-image-wrapper .fbvc-background-image-desktop {
  display: block;
  height: 200%;
  width: 100%;
  left: -50%;
  position: inherit;
  top: -50%;
}

.full-bleed-video-card.card-height-default .fbvc-background-image-wrapper .fbvc-background-image-desktop img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-100%,-50%);
  transform: translate(-100%,-50%);
}

.full-bleed-video-card .fbvc-headline-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  z-index: 160;
  text-align: center;
}

.full-bleed-video-card .fbvc-headline-wrapper .fbvc-loader-spinner-wrapper {
  position: relative;
  margin-top: 0;
  height: auto;
  margin-bottom: 20px;
}

.full-bleed-video-card .fbvc-headline-wrapper .fbvc-loader-spinner {
  display: block;
  position: relative;
  left: 0;
  margin: 0 auto;
  top: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.full-bleed-video-card .fbvc-content.fbvc-loaded .fbvc-headline-wrapper .fbvc-loader-spinner {
  display: none;
}

.full-bleed-video-card .fbvc-content .fbvc-play-btn {
  display: none;
}

.full-bleed-video-card .fbvc-content.fbvc-loaded .fbvc-play-btn {
  display: block;
}

.full-bleed-video-card .fbvc-content .fbvc-play-btn {
  width: 50px;
  height: 50px;
  position: relative;
  left: 0;
  margin: 0 auto;
  top: 0;
  cursor: pointer;
}

.full-bleed-video-card .fbvc-headline-text {
  padding: 20px 0 30px;
  position: relative;
}

.full-bleed-video-card .fbvc-headline-text p {
  font-size: 18px;
  margin: 0 0 10px;
}

.full-bleed-video-card .fbvc-headline-text p strong {
  font-weight: bold;
}

.full-bleed-video-card .fbvc-background-image-deafult {
  display: block;
  height: 200% !important;
  width: 100%;
  left: -50%;
  position: initial !important;
  top: -50%;
}

.full-bleed-video-card .fbvc-background-image-deafult img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-100%,-50%);
  transform: translate(-100%,-50%);
}

.full-bleed-video-card .fbvc-headline-wrapper .fbvc-header-logo-wrapper .fbvc-header-logo {
  position: relative;
  margin-top: 20px;
  width: auto;
}

@media screen and (min-width: 768px) {
  .full-bleed-video-card .fbvc-content .fbvc-play-btn {
    width: 80px;
    height: 80px;
  }
  .full-bleed-video-card .fbvc-headline-wrapper .fbvc-loader-spinner {
    width: 80px;
    height: 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .full-bleed-video-card.card-height-medium {
    height: 365px!important;
  }
}
@media screen and (min-width: 1024px) {
  .full-bleed-video-card.card-height-medium {
    height: 430px!important;
  }
}
