.quiz-question {
  margin: 0 auto;
  font-family: "Gotham A", "Gotham B", "ruble";
}
.quiz-question .qq-question {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  padding: 32px 0;
  margin: 0 auto;
  width: 320px;
}
.quiz-question .qq-question.error {
  color: #cf4039;
}
.quiz-question .qq-answer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(150px, auto);
  width: 310px;
  margin: 0 auto;
}

@media screen and (min-width: 360px) {
  .quiz-question .qq-question {
    width: 360px;
  }
  .quiz-question .qq-answer-container {
    gap: 15px;
    grid-auto-rows: minmax(164px, auto);
    width: 343px;
  }
  .qq-answer-choice{
    min-height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .quiz-question .qq-question {
    font-size: 32px;
    line-height: 48px;
    padding: 32px 0;
    width: 516px;
  }
  .quiz-question .qq-answer-container {
    gap: 36px;
    grid-auto-rows: minmax(240px, auto);
    width: 516px;
  }
}

@media screen and (min-width: 1024px) {
  .quiz-question .qq-question {
    width: 100%;
  }
}
