.search-bar-bottom-container {
  background: #001428;
  padding: 48px 0;
}
.search-bar-bottom-container .sbbc-box {
  padding: 0 16px;
}
.search-bar-bottom-container .sbbc-title {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  font-family: "Gotham A","Gotham B",'ruble';
  margin: 0 0 32px 0;
  text-align: center;
  letter-spacing: 0;
}
.search-bar-bottom-container .vtex-store-components-3-x-searchBarContainer {
  padding: 0;
  width: 100%;
  margin: 0 auto;
}
.search-bar-bottom-container .vtex-store-components-3-x-autoCompleteOuterContainer {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .search-bar-bottom-container .sbbc-box {
    padding: 0px;
  }
  .search-bar-bottom-container {
    padding: 64px 0;
  }
  .search-bar-bottom-container .sbbc-title {
    font-size: 36px;
    line-height: 54px;
  }
  .search-bar-bottom-container .vtex-store-components-3-x-searchBarContainer {
    width: 600px;
  }
}