.search-result-product-wrapper {
  flex-basis: 33.33%;
  padding: 10px;
}
.search-result-product {
  background: white;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
}
.load-more-button {
  align-items: center;
  border: 1px solid #3e8ddd;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  line-height: 40px;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  margin: 15px 0;
  text-decoration: none;
  width: 100%;
  color: white;
  background: #3e8ddd;
}
.load-more-button:hover {
  background: #3176bb;
  border-color: #3176bb;
}
.load-more-button:disabled {
  background: #bbb;
  border-color: #bbb;
}
.load-more-button .vtex__icon-spinner {
  width: 25px;
  margin-left: 15px;
}   