.display-card{
    position: relative;
    background: #001428 0% 0% no-repeat padding-box;
}

.display-card-react-player div {
  display: grid;
  justify-content: center;
}

.display-card .display-card-container {
  margin: 0 auto;
  display: grid;
  justify-content: center;
}

.display-card .display-card-react-player iframe {
  top: 0;
  left: 0;
  height: 750px !important;
  width: 350px !important;
}

.display-card .display-card-container h2{
  line-height: 32px;
  font-size: 24px;
  color: #ffffff;
  margin: 30px 0 0;
}

.display-card .display-card-container .highlight {
  color: #ffffff;
}

.display-card .display-card-containerVideo {
  height: 750px;
}

.display-card .display-card-specs{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  row-gap: 10px;
  column-gap: 4%;
  margin: 0 auto 48px auto;

  align-items:start!important
}

.display-card .display-card-specs .title-specs {
  margin: 0;
  font-size: 28px !important;
  line-height: 80px;
  font-weight: 450 !important;
}

.display-card .display-card-specs .description-specs {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 0;
}

/* Desktop and Tablet - landscape orientation */
@media screen and (min-width: 1024px), screen and (min-device-width: 768px)  and (max-device-width: 1023px) and (orientation:landscape) {
    .display-card{
        position: relative;
    }

    .display-card .display-card-react-player iframe {
      top: 0;
      left: 0;
      height: 540px !important;
      width: 960px !important;
    }

    .display-card .display-card-container{
        margin: 0;
        background: #001428 0% 0% no-repeat padding-box;
        display: grid;
        justify-content: center;
        width: unset;
    }

    .display-card .display-card-container h2{
        font: normal normal 300 48px/80px Gotham A,Gotham B,ruble;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        grid-row: 2/2;
        grid-column: 1/-1;
        margin: 64px 0 646px 0;
        align-self: start;
        z-index: 1;
    }

    .display-card .display-card-container .highlight {
        color: #ffffff;
    }

    .display-card .display-card-containerVideo {
        height: auto;
        grid-row: 2/2;
        grid-column: 1/-1;
        margin: 93px 0 0 0;
    }

    .display-card .display-card-specs div:last-child > * {
        width: 229px;
    }

    .display-card .display-card-specs .title-specs {
        text-align: left;
        font: normal normal 300 48px/80px Gotham A,Gotham B,ruble;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        width: 213px;
        height: 58px;
        margin-bottom: 16px;

        line-height: 40px !important;
        font-size: 32px !important;
        height: auto !important;
    }

    .display-card .display-card-specs .description-specs {
        font: normal normal 300 14px/21px Gotham A,Gotham B,ruble;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        width: 213px;
        height: 58px;
    }
}
@media screen and (min-device-width: 768px)  and (max-device-width: 1023px){
  .display-card .display-card-container {
    width: 100%;
  }
}
@media screen and (min-width: 1024px){
  .display-card .display-card-specs{
      grid-template-columns: auto;
      grid-auto-flow: column;
      grid-row: 2/2;
      grid-column: 1/-1;
      z-index: 1;
      align-items: end;
      margin: 592px auto 48px auto;
    }
}
