.moto-product-summary.moto-product-summary-family {
  border-bottom: 8px solid #001428;
  flex-basis: 33.33%;
  margin-left: -1px;
  margin-bottom: -1px;
  background-color: #ffffff;
}
.moto-product-summary.moto-product-summary-family .card-details {
    padding: 25px 24px 0px 24px;
    color: #000000;
}
.moto-product-summary.moto-product-summary-family .card-details h1 {
  font-size: 28px;
  font-weight: 300;
}
.moto-product-summary.moto-product-summary-family .card-image {
  align-items: flex-start;
  /* border-bottom: 1px solid #eff4f7; */
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.moto-product-summary-tag {
  background-color: #165c7d;
  color: white;
  font-weight: 300;
  font-size: 16px;
  padding: 11px 11px 11px 34px;
  position: absolute;
  left: 0;
  bottom: 20px;
}
.moto-product-summary.moto-product-summary-family .card-image img {
  height: 280px;
}
.moto-product-summary.moto-product-summary-family .card-price {
  margin-bottom: 20px;
}
.moto-product-summary.moto-product-summary-family .card-price [class$="price_className"] {
  align-items: center;
  display: flex;
}
.moto-product-summary.moto-product-summary-family .card-price [class$="price_listPrice"] {
  text-decoration: line-through !important;
  margin-right: 10px;
}
.moto-product-summary.moto-product-summary-family .card-price [class$="price_sellingPrice"] {
  color: #000000;
  font-weight: bold;
}
.moto-product-summary.moto-product-summary-family .card-description {
  position: relative;
  min-height: 150px;
}
.moto-product-summary.moto-product-summary-family .card-description .card-description-content {
  padding: 10px 0;
}
.moto-product-summary.moto-product-summary-family .card-description ul {
  margin: 0;
  padding: 0;
  list-style: disc;
  transition: opacity 0.5s;
}
.moto-product-summary.moto-product-summary-family .card-description ul li {
  font-size: 14px;
  line-height: 20px;
}
.moto-product-summary.moto-product-summary-family .card-actions {
  padding: 0px 24px 0px 24px;
}
.moto-product-summary.moto-product-summary-family .card-actions a {
  border-radius: 25px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  margin: 5px 0;
  text-decoration: none;
  width: 100%;
}
.moto-product-summary.moto-product-summary-family .card-actions .compare-title .compareLink{
  font-size:16px;
  color:#CF4039;
  font-weight: 500;
}
.moto-product-summary.moto-product-summary-family .card-actions a.blue-shelf-cta {
  color: white;
  background: #CF4039;
  font-weight: normal;
}
.moto-product-summary.moto-product-summary-family .card-actions a.blue-shelf-cta:hover {
  background: #ba1c15;
  font-weight: normal;
}
.moto-product-summary.moto-product-summary-family .card-actions a.green-shelf-cta {
  color: white;
  background: #6ac346;
}
.moto-product-summary:hover .card-actions {
  opacity: 1;
}

.moto-product-summary:hover .card-description ul {
  opacity: 0;
}

.moto-product-summary.moto-product-summary-family .moto-compare-section{
  display: flex;
  justify-content: center;
}
.moto-product-summary.moto-product-summary-family .moto-compare-button {
  float: right;
  margin-top: 24px;
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  font-weight: 700;
}
.moto-product-summary.moto-product-summary-family input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.moto-product-summary.moto-product-summary-family .checkmark {
  position: absolute;
  right: 85px;
  left: -23px;
  bottom: 2px;
  height: 13px;
  width: 13px;
  border: 2px solid #CF4039;
}
  .moto-product-summary.moto-product-summary-family
  .moto-compare-button
  input:checked
  ~ .checkmark:after{
  display: block;
}
.moto-product-summary.moto-product-summary-family input[type="checkbox"]:checked ~ .checkmark {
  background-color: #fff;
}
.moto-product-summary.moto-product-summary-family .checkmark:after {
  border: 1px solid #CF4039;
  left: 4px;
  top: 0px;
  width: 3px;
  height: 9px;
  border-width: 0px 2px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.moto-product-summary.moto-product-summary-family .checkmark:after{
  content: "";
  position: absolute;
  display: none;
}
.moto-product-summary.moto-product-summary-family .card-actions .compare-title{
  font-size:16px;
  color:#CF4039;
  font-weight: 500;
}
@media (max-width: 991px) {
  .moto-product-summary {
    flex-basis: 50%;
  }
  .moto-product-summary.moto-product-summary-family .card-actions,
  .moto-product-summary.moto-product-summary-family .card-description ul {
    position: static;
    opacity: 1;
  }
  .moto-product-summary:hover .card-description ul {
    opacity: 1;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
  [class*="slideChildrenContainer"] {
    align-items: normal !important;
    justify-content: start !important;
  }
  .moto-product-summary.moto-product-summary-family {
    border-bottom: 8px solid #001428;
    flex-basis: auto !important;
    width: 350px !important;
    margin-left: -1px;
    margin-bottom: -1px;
    background-color: #ffffff;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
.moto-product-summary.moto-product-summary-family {
  border-bottom: 8px solid #001428;
  flex-basis: 50%;
  margin-left: -1px;
  margin-bottom: -1px;
  background-color: #ffffff;
}
}

@media only screen and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) {
  [class*="slideChildrenContainer"] {
    align-items: normal !important;
    justify-content: start !important;
  }
  .moto-product-summary.moto-product-summary-family {
    border-bottom: 8px solid #001428;
    flex-basis: auto !important;
    width: 480px !important;
    margin-left: -1px;
    margin-bottom: -1px;
    background-color: #ffffff;
  }
}
@media (max-width: 767px) {
  .moto-product-summary.moto-product-summary-family {
    flex-basis: 100%;
    
  }
}
@media screen and (min-width: 320px) {
  .moto-product-summary.moto-product-summary-family {
    border-right: none;
    border-bottom: 2px solid #eff4f7;
  }
  [class*="slideChildrenContainer"] {
    align-items: normal !important;
   }
}

@media screen and (min-width: 768px) {
  .moto-product-summary.moto-product-summary-family {
    border-right: 8px solid #001428;
    border-bottom: 8px solid #001428;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1024px) {
  .moto-product-summary .trade-in-section .trade-in-logo {
    height: 14px;
  }
  .moto-product-summary .trade-in-section p {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .moto-product-summary.moto-product-summary-family {
    border-right: 8px solid #001428;
    margin-right: 10px !important;
  }
  .moto-product-summary:nth-child(2n + 2) {
    border-right: 8px solid #001428;
  }
  .moto-product-summary:nth-child(3n + 3) {
    border-right: none;
  }
  .moto-product-summary.moto-product-summary-family {
    flex-basis: 32%;
    margin-left: -1px;
    margin-bottom: 10px;
    background-color: #ffffff;
}
}

.card-description > .card-description-content > h6 {
  font-weight: 300;
}

.card-description > .card-description-content > h2 {
  font-weight: 300;
}
.card-description > .card-description-content > h2 > strong{
  font-weight: 300;
}
.moto-product-summary.moto-product-summary-family {
  display: flex;
  flex-flow: column nowrap;
}
.moto-product-summary.moto-product-summary-family .card-actions {
  margin-top:auto;
  padding: 0px 24px 0px 24px;
}
.moto-product-summary .trade-in-section .trade-in-logo {
  width: auto;
  height: 16px;
  vertical-align: text-top;
  margin-left: 6px;
  margin-top: 1px;
}

.moto-product-summary .trade-in-section {
  margin-top: 7px;
}

.moto-product-summary .trade-in-section p {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.moto-product-summary .trade-in-section p  .trade-in-price-value {
  font-weight: bold;
}

.moto-product-summary.moto-product-summary-family .card-details .trade-in-section{
  color: #000000 !important;
}