.step1 .textWrapper1,
.step2 .textWrapper2,
.step3 .textWrapper3,
.step4 .textWrapper4,
.step5 .textWrapper5,
.stepLast .textWrapperLast {
  opacity: 1;
  transform: translateY(0);
  mix-blend-mode: difference;
}

.textWrapper {
  transition: 0.7s ease-in-out;
}

.text {
  font-size: 96px;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .text {
    font-size: 36px;
  }
}
