.omni-channel-odyssey {  
  position: relative;
  overflow: hidden;
  padding: 76px 0;
}
.omni-channel-odyssey .oco-heading {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 26px;
  font-weight: 300;
}
.omni-channel-odyssey .oco-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.omni-channel-odyssey .oco-list .oco-items-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 75px;
  margin: 26px 0px;
}

/* tablet */
@media (min-width: 768px) {
  .omni-channel-odyssey {  
    padding: 185px 0;
  }
  .omni-channel-odyssey .oco-heading {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 63px;
  }
  .omni-channel-odyssey .oco-list {
    flex-direction: row;
  }
  .omni-channel-odyssey .oco-list .oco-items-image {
    width: 130px;
    height: 75px;
    margin: 0 10px;
  }
  .omni-channel-odyssey .oco-list .oco-items-image a {
    position: relative;
    top: 0;
    transition: top 0.5s ease-out;
    -webkit-backface-visibility: hidden;
  }
  .omni-channel-odyssey .oco-list .oco-items-image a:hover {
    top: -15px;
    transition: top 0.25s ease-in;
  }
}
