.promo-block {
  background-size: auto 100% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 190px;
  min-height: 270px;
  position: relative;
}
.promo-text {
  background: none repeat scroll 0 0 rgba(5,5,5,0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.promo-text .promo-title {
  font-size: 18px;
  font-weight: bold;
}
.promo-text .promo-description {
  display: none;
}
.promo-block:hover .promo-description {
  display: block;
  font-size: 12px;
  font-weight: bold;
}
@media (max-width: 1139px) {
  .promo-block {
    display: none;
  }
}