.notificationBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  background: #9DC5E8;
}

.notificationBarContainer.bg-base--inverted {
  background: #9DC5E8;
}

.notificationBar a {
  color: white !important;
}

[class*="notificationBarContainer"][class*="bg-base--inverted"] {
  background: #9DC5E8;
}