.masonry-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #001428;
  padding-bottom: 64px;
}

.masonry-container {
  color: white;
  max-width: 1280px;
}

.masonry-headline {
  text-align: center;
  font-size: 48px;
  margin: 48px;
}

.masonry-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.masonry-row {
  display: flex;
  flex-direction: row;
  padding: 0px 24px;
  gap: 32px;
}

.masonry-col {
  flex: 1;
  display: flex;
}

.masonry-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 536px;
  padding: 24px;
  background-color: #252d35;
  border-radius: 12px;
}

.masonry-info {}

.masonry-info > h4 {
  font-size: 24px;
  margin-bottom: 16px;
}

.masonry-info > p {
  font-size: 14px;
}

.masonry-info, p, h4 {
  margin: 0;
  padding: 0;
}

.masonry-media {
  height: 100%;
  margin-top: 32px;
  border-radius: 6px;
  overflow: hidden;
}

.masonry-media > div {
  height: 100% !important;
}

.masonry-media > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .masonry-headline {
    font-size: 32px;
  }
  .masonry-row {
    flex-direction: column;
    gap: 24px;
  }
  .masonry-media > div {
    height: 259px !important;
  }
}
