.quiz-footer {
  text-align: center;
  padding: 64px 0;
}
.quiz-footer .qf-logo-container img {
  width: 142px;
  height: 36px;
}
.quiz-footer .qf-text-wrapper {
  color: #ffffff;
  padding: 48px 30px 0 30px;
  font-size: 12px;
  line-height: 21px;
}
.quiz-footer .qf-text-wrapper .qf-second-paragraph{
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .quiz-footer {
    text-align: center;
    padding: 120px 0 64px 0;
  }
  .quiz-footer .qf-logo-container img {
    width: 190px;
    height: 48px;
  }
  .quiz-footer .qf-text-wrapper {
    padding: 48px 100px 0 100px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .quiz-footer .qf-text-wrapper {
    padding: 48px 0 0 0;
    width: 800px;
    margin: 0 auto;
  }
}
