.product-family,
.product-family.without-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  position: relative;
  width: 33.33%;
}
.product-family {
  height: 600px;
}
.product-family.without-modal {
  height: auto;
  padding: 20px;
}

.family-block {
  transform: translateY(0px);
  visibility: visible;
  position: absolute;
}
.family-block.close-family-block {
  transform: translateY(-600px);
  animation-name: closeBlock;
  animation-duration: 0.4s;
  opacity: 0;
}
.family-block.open-family-block {
  transform: translateY(0px);
  animation-name: openBlock;
  animation-duration: 0.4s;
  opacity: 1;
}
.family-block .family-details {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.family-block .family-details .family-name {
  font-weight: bold;
  text-align: center;
  flex: 1;
}
.icon-plus, .icon-minus, .icon-check {
  flex-shrink: 0;
}
.icon-plus, .icon-minus {
  width: 20px;
  height: 20px;
}
.family-heading .icon-minus {
  position: absolute;
  top: 60px;
  right: 30px;
}
.family-box {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: 100px 30px;
  position: absolute;
  height: 100%;
  transform: translateY(600px);
  opacity: 0;
}
.family-box.open-family-box {
  transform: translateY(0px);
  animation-name: openBox;
  animation-duration: 0.4s;
  opacity: 1;
}
.family-box.close-family-box {
  transform: translateY(600px);
  animation-name: closeBox;
  animation-duration: 0.4s;
  opacity: 0;
  z-index: -1;
}

.family-box .family-float-image img,
.product-family.without-modal .family-float-image img {
  height: 34px;
}

.family-box .family-prices,
.product-family.without-modal .family-prices {
  align-items: center;
  display: flex;
  height: 45px;
}

.family-specifications {
  flex: 1;
}
.family-specifications li {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.icon-check {
  margin-top: 20px;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  justify-self: center;
}
.family-cta {
  display: inline-block;
  margin: 10px 0;
  padding: 15px 15px;
  text-align: center;
  border-radius: 30px;
  text-decoration: none;
  width: auto;
}
.product-family.without-modal .family-cta {
  border-radius: 30px;
  text-align: center;
}

@media (min-width: 768px) {
  .family-box {
    align-items: flex-start;
  }
}
@media (max-width: 767px) {
  .family-specifications li {
    justify-content: flex-start;
  }
}

@keyframes openBox {
  0% {
    opacity: 0;
    transform: translateY(600px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  70% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes closeBox {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(600px);
  }
}

@keyframes closeBlock {
  0% {
    visibility: visible;
    transform: translateY(0);
  }
  100% {
    visibility: hidden;
    transform: translateY(-600px);
  }
}

@keyframes openBlock {
  0% {
    opacity: 0;
    transform: translateY(-600px);
  }
  50% {
    opacity: 1;
  }
  70% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* @keyframes familyBox {
  0% {
    visibility: hidden;
    transform: translateY(600px);
  }
  10% {
    visibility: visible;
    transform: translateY(0);
  }
  30% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
} */
