.modalComponentOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modalComponentContent,
.modalComponentThanksContent {
    position: absolute;
    margin: 150px auto;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    bottom: unset;

    padding: 0;
    border-radius: 10px;
    border: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    outline: none;
}

@media only screen and (min-height: 280px) {
    .modalComponentContent,
    .modalComponentThanksContent {
        margin-top: 70px;
        max-height: 86vh;
        width: 90vw;
    }
}

@media only screen and (min-height: 280px) and (min-width: 552px) {
    .modalComponentContent {
        max-height: 74vh;
    }

    .modalComponentThanksContent {
        overflow: hidden;
        max-height: 74vh;
    }
}

@media only screen and (min-height: 360px) and (min-width: 740px) {
    .modalComponentContent {
        max-height: 76vh;
    }

    .modalComponentThanksContent {
        max-height: 76vh;
        overflow: hidden !important;
    }
}
@media only screen and (min-height: 374px) and (min-width: 650px) {
    .modalComponentContent {
        max-height: 78vh;
    }

    .modalComponentThanksContent {
        max-height: 78vh;
        overflow: hidden;
    }
}

@media only screen and (min-height: 567px) {
    .modalComponentContent,
    .modalComponentThanksContent {
        margin-top: 150px;
        max-height: 70vh;
    }
}

@media only screen and (min-height: 600px) and (min-width: 1280px) {
    .modalComponentContent {
        margin-top: 150px;
        max-height: 86vh;
    }

    .modalComponentThanksContent {
        margin-top: 150px;
        max-height: 86vh;
        overflow: hidden;
    }
}

@media only screen and (min-height: 665px) {
    .modalComponentContent,
    .modalComponentThanksContent {
        margin-top: 100px;
    }
}

@media only screen and (min-height: 740px) {
    .modalComponentContent,
    .modalComponentThanksContent {
        margin-top: 150px;
    }
}

@media only screen and (min-height: 810px) {
    .modalComponentContent,
    .modalComponentThanksContent {
        margin-top: 150px;
    }
}

@media only screen and (min-width: 768px) {
    .modalComponentContent,
    .modalComponentThanksContent {
        width: auto;
    }
}