.moto-trade-in-wrapper {
  background: #ffffff14;
  border-radius: 8px;
  padding: 16px;
  margin-top: 36px;
  width: 100%;
}

.moto-trade-in-wrapper.selected {
  border: 1px solid #ffffffbf;
  opacity: 0.7;
}

.mti-checkbox {
  display: inline-block;
  width: 10%;
  vertical-align: text-bottom;
}

.mti-label {
  display: inline-block;
  width: 90%;
  vertical-align: text-top;
}

.mti-logo {
  height: 16px;
  vertical-align: text-top;
  margin-top: 1px;
}

.mti-label-content {
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.mti-off-value {
  font-weight: bold;
}

.moto-trade-in-wrapper
  .vtex-checkbox__inner-container.b--action-primary.bg-action-primary {
  background-color: #ffffff;
  border-color: #ffffff;
}

.moto-trade-in-wrapper .vtex__icon-check {
  color: #001428;
}

.tim-left-section,
.tim-right-section {
  width: 100%;
  display: inline-block;
  vertical-align: text-top;
}

.tim-modal-logo {
  width: 200px;
  height: 24px;
}

.vtex-modal__modal .vtex-styleguide-9-x-scrollBar {
  padding: 24px;
}

.tim-content .vtex-dropdown__button {
  background-color: #ffffff;
  font-weight: 300;
  border-radius: 0.25rem;
}

.tim-content .vtex-dropdown__caption {
  background-color: #ffffff;
  color: #000000;
  font-weight: 300;
}

.tim-content .vtex-dropdown__arrow {
  background-color: #ffffff;
  color: #000000;
  font-weight: 300;
}

.tim-eligibility-req {
  list-style-type: disc;
  list-style-position: outside;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  padding-left: 20px;
  margin-top: 10px;
}

.tim-link-section {
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  margin-top: 16px;
}

.tim-trade-in-title {
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  color: #000000;
  margin-top: 32px;
  margin-bottom: 16px;
}

.tim-trade-in-estimated-section {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  padding-top: 12px;
}

.tim-trade-in-estimated-section .tim-left {
  display: inline-block;
  width: 65%;
  text-align: left;
}

.tim-trade-in-estimated-section .tim-right {
  display: inline-block;
  width: 35%;
  text-align: right;
}

.tim-pb24 {
  padding-bottom: 12px;
}

.tim-pt12 {
  padding-top: 12px;
}

.tim-trade-in-estimated-section.tim-effective-price {
  font-weight: 500;
  border-top: 1px solid #e2e2e2;
}

.tim-checkbox {
  width: fit-content;
}

.tim-label {
  width: 90%;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  padding-left: 5px;
}

.tim-checkbox,
.tim-label {
  display: inline-block;
  vertical-align: top;
}

.tim-button-group {
  margin-top: 25px;
  text-align: right;
  margin-bottom: 25px;
}

#tim-cancel-tradein {
  border: 2px solid #00000029;
  border-radius: 24px;
  background-color: #ffffff;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  display: none;
  margin-top: 0;
}

#tim-confirm-tradein,
#tim-confirm-tradein.bg-disabled {
  border-radius: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-left: 0;
  width: 100%;
  margin-top: 0;
}

#tim-confirm-tradein.bg-disabled {
  background-color: #000000;
  border: 2px solid #00000029;
  opacity: 0.33;
}

#tim-confirm-tradein {
  background-color: #cf4039;
  border: 2px solid #cf4039;
}

.tim-learn-more {
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  opacity: 0.5;
  text-decoration: underline;
}

.tim-title {
  margin-top: 32px;
  margin-bottom: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  color: #000000;
}

.tim-requirement-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  color: #000000;
}

.tim-learn-more .vtex__icon-external-link {
  vertical-align: middle;
}

.vtex__icon-external-link {
  padding-left: 8px;
}

.tim-device-selection .vtex-dropdown__label {
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  opacity: 0.5;
}

.tim-device-selection .vtex-dropdown__container,
.tim-device-selection .vtex-dropdown__button {
  border-color: #00000040;
  border-radius: 8px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.tim-divider {
  display: none;
}

.tim-checkbox .vtex-checkbox__inner-container {
  border-color: #000000;
}

.tim-checkbox
  .vtex-checkbox__inner-container.b--action-primary.bg-action-primary {
  background-color: #000000;
  border-color: #000000;
}

.tim-eligibility-link {
  text-decoration: underline;
  color: #000000;
  font-weight: bold;
}

#tim-cover-spin {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

#tim-cover-spin .vtex__icon-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}

.tim-error-text {
  color: red;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tim-ques-ans-set .tim-ques,
.tim-ques-ans-set .tim-ans {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.tim-ques-ans-set {
  font-size: 12px;
  line-height: 17px;
  color: #000000;
}
.tim-ques-ans-set .button_group .vtex-button {
  border-radius: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid rgba(0, 0, 0, 0.16);
  margin-top: 0;
}

.tim-ques-ans-set .button_group {
  align-items: stretch;
  justify-content: center;
  margin-top: 15px;
}

.tim-ques-ans-set
  .button_group
  .vtex-button.bg-action-primary.b--action-primary.c-on-action-primary {
  background-color: #cf4039 !important;
  border: 2px solid #cf4039 !important;
  color: #ffffff !important;
}
.tim-ques-ans-set .button_group .mr1 {
  margin-right: 1rem;
}

.tim-ques-ans-set .button_group .vtex-button,
.tim-ques-ans-set .button_group span {
  width: 50%;
}
.tim-ques-ans-set .button_group span .vtex-button {
  width: 100%;
}
.tim-error-text .tim-error-text-style {
  color: #A63327 !important;
  padding-left: 0px !important;
}

@media (min-width: 1024px) {
  .moto-trade-in-wrapper {
    width: 27vw;
  }
  .tim-divider {
    position: absolute;
    left: 50%;
    top: 0;
    border: 1px solid rgb(226, 226, 226, 0.5);
    height: 100%;
    display: block;
  }
  .tim-left-section,
  .tim-right-section {
    width: 46.5%;
  }
  .tim-mrt-25 {
    margin-right: 25px;
  }
  .tim-mlt-25 {
    margin-left: 25px;
  }
  .vtex-modal__modal {
    max-width: 75vw;
    max-height: 75%;
  }
  .tim-label {
    width: 95%;
  }
  #tim-cancel-tradein {
    display: inline-block;
  }
  #tim-confirm-tradein,
  #tim-confirm-tradein.bg-disabled {
    margin-left: 16px;
    width: auto;
  }
  .tim-link-section {
    font-size: 12px;
    line-height: 17px;
  }
  .tim-device-selection .vtex-dropdown__container {
    height: 48px;
  }

  .tim-ques-ans-set .tim-ques,
  .tim-ques-ans-set .tim-ans {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  .tim-ques-ans-set .button_group .vtex-button,
  .tim-ques-ans-set .button_group span,
  .tim-ques-ans-set .button_group span .vtex-button {
    width: 80px;
  }
  .tim-ques-ans-set .button_group {
    align-items: center;
    justify-content: center;
  }
  .vtex-modal__modal .vtex-styleguide-9-x-scrollBar {
    overflow: hidden;
  }
  .vtex-modal__modal .tim-right-section.vtex-styleguide-9-x-scrollBar {
    margin-top: 30px;
    padding-bottom: 30px;
    padding-right: 15px;
    overflow-y: auto;
    height: 30vw;
    padding-top: 0;
    padding-left: 15px;
  }
}
