.mainfeatures{
  background-color: #001428;
  color:white;
  text-align: center;
  position:relative;
}
.featureTitle{
    font-size:24px;
    font-weight: 300;
    line-height: 29px;
    padding-bottom:35px;
    padding-top: 4%;
}
.mainfeatures .featuresContent {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}
.mainfeatures .featuresContent .loopContent{
  border: 1px solid #263748;
} 

@media (max-width:480px) {
 .featureTitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  padding-bottom: 35px;
  padding-top: 20px;
 }
.mainfeatures .featuresContent
{
  justify-content: space-evenly !important;
}
.mainfeatures .featuresContent .loopContent{
  border: 1px solid #263748;
  width: 173px;
  height: 64px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.mainfeatures .loopContent .content-mainfeatures{
  display: inline-block;
}
.mainfeatures .featuresContent .loopContent .featureImg{
 padding-top:0px !important;
 float:left;
}
.mainfeatures .featuresContent .loopContent .featuteTitle{
  padding-top:15px !important;
  text-align: left;
  width: 160px;
}
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
.mainfeatures .featuresContent .loopContent {
    width: 184px;
    height: 64px;
}
.mainfeatures .loopContent .content-mainfeatures{
  display: inline-block;
}
.mainfeatures .featuresContent .loopContent .featureImg {
  justify-content: flex-end;
  display: flex;
  float: left;
}
.mainfeatures .featuresContent .loopContent .featuteTitle
{
  width: 90px;
  float: right;
  display: flex;
  text-align: left;
  padding-top: 9%;
}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
.mainfeatures .featuresContent .loopContent {
border: 1px solid #263748;
width: 242px;
height: 72px;
margin-bottom: 10px;
border-radius: 5px;
}
.mainfeatures .loopContent .content-mainfeatures{
display: inline-block;
}
.mainfeatures .featuresContent .loopContent .featureImg {
justify-content: flex-end;
display: flex;
float: left;
}
.mainfeatures .featuresContent .loopContent .featuteTitle
{
  width: 105px;
  float: right;
  display: flex;
  text-align: left;
  padding-top: 9%;
}
}
@media only screen and (min-width: 1024px) 
and (max-height: 1366px) 
and (orientation: portrait) {
.mainfeatures .featuresContent .loopContent {
    width: 250px;
    height: 64px;
}
.mainfeatures .loopContent .content-mainfeatures{
  display: inline-block;
}
.mainfeatures .featuresContent .loopContent .featureImg {
  justify-content: flex-end;
  display: flex;
  float: left;
}
.mainfeatures .featuresContent .loopContent .featuteTitle{
  width: 110px;
  float: right;
  display: flex;
  text-align: left;
  padding-top: 7%;
}
}


@media (min-width: 1025px) {
.mainfeatures .featuresContent .loopContent{
  border: 1px solid #263748;
  width: 287px;
  height: 90px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.mainfeatures .loopContent .content-mainfeatures{
  display: inline-block;
}
.mainfeatures .featuresContent .loopContent .featureImg {
  justify-content: flex-end;
  display: flex;
  float: left;
  padding-top: 10px;
}
.mainfeatures .featuresContent .loopContent .featuteTitle {
  display: flex;
  text-align: left;
  padding-top: 14%;
  float:right;
  width: 98px;
}
}