.moto-filter-by,
.moto-filter-by * {
  font-family: "Gotham A", "Gotham B", "ruble";
}

.moto-filter-by {
  background-color: #001428;
  color: #ffffff;
  padding-bottom: 1px;
}

.shelf-title * {
  color: #ffffff;
}

.sidebar-content.search-multiple-navigator {
  background: #ffffff0a 0% 0% no-repeat padding-box;
}

.moto-product-summary {
  background-color: #ffffff;
}

.moto-filter-by .loading {
  padding-top: 15px;
  background-color: #001428;
  position: absolute;
  right: 50%;
  z-index: 101;
}

.moto-filter-by .container a {
  outline: 0;
}

.moto-filter-by .collection-shelf h1 {
  text-transform: lowercase;
  width: 100%;
}

.moto-filter-by .collection-cards {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 350px);
  max-width: 77%;
  float: right;
  margin-right: 15px;
  position: relative;
}
.moto-filter-by .collection-shelf .shelf-title {
  display: none;
}
.moto-filter-by .collection-cards .shelf-title {
  text-align: center;
  width: 100%;
  padding-bottom: 32px;
  display: block;
}

.moto-filter-by .collection-cards .shelf-title h1 {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  text-transform: initial;
  text-align: left;
}

.moto-filter-by .buttonShowMore {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: pagination;
  grid-row: pagination;
  justify-self: end;
  align-self: center;
}

.moto-filter-by .col-6 {
  width: 50%;
  float: left;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 15px;
}
.moto-filter-by .col-6.filterResetTitle {
  padding: 15px 24px 15px 42px;
}
.moto-filter-by .col-6.filterIconTitle {
  padding: 15px 24px;
  font-size: 16px;
  font-weight: 700;
}
.moto-filter-by .col-6.filter {
  justify-content: flex-start;
}
.moto-filter-by .col-6.reset {
  justify-content: flex-end;
}
.moto-filter-by .orderBy {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-column: orderby;
  grid-row: orderby;
  align-self: center;
  justify-self: stretch;
  display: flex;
}
.moto-filter-by .orderByOptionsContainer {
  min-width: 180px;
}
.moto-filter-by .orderByOptionItem {
  min-width: 180px;
}
.moto-filter-by .collection-shelf .row {
  display: block;
  margin-right: 0;
  margin-left: 0;
}
.moto-filter-by .collection-shelf .sort-by {
  max-width: 320px;
  display: flex;
  float: right;
  margin-right: 15px;
  align-items: center;
  margin-bottom: -65px;
  padding-top: 76px;
  position: absolute;
  right: 36px;
  top: 0;
  z-index: 1;
}

.moto-filter-by .collection-shelf .sortby {
  width: 200px;
  float: right;
  margin-right: 20px;
}

.moto-filter-by .moto-grid-button {
  float: right;
  margin-right: 15px;
  border: none;
  background: none;
  position: relative;
  padding: 0;
}

.moto-filter-by .moto-grid-button:hover {
  cursor: pointer;
}

.moto-grid-view-icn,
.moto-list-view-icn {
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  display: block;
}

.moto-grid-view-icn:hover,
.moto-list-view-icn:hover {
  background-repeat: no-repeat;
}

.moto-grid-view-icn {
  background-image: url("./assets/layoutoption1.png");
}

.moto-list-view-icn {
  background-image: url("./assets/layoutoption2.png");
}

.moto-grid-view-icn-hover {
  background-image: url("./assets/layoutoption1.png");
  display: none;
}

.moto-list-view-icn-hover {
  background-image: url("./assets/layoutoption2-hover.png");
  display: none;
}

.moto-grid-view-icn:hover {
  background-image: url("./assets/layoutoption1-hover.png");
}

.moto-list-view-icn:hover {
  background-image: url("./assets/layoutoption2-hover.png");
}

.moto-grid-button.btn-focus .moto-grid-view-icn {
  background-image: url("./assets/layoutoption1-hover.png");
}

.moto-grid-button.btn-focus .moto-list-view-icn {
  background-image: url("./assets/layoutoption2-hover.png");
}

.moto-filter-by .hover-bg-muted-5:focus,
.hover-bg-muted-5:hover {
  background-color: #001428;
}

.moto-filter-by .moto-product-summary .card-actions a.blue-shelf-cta {
  color: #ffffff !important;
  background: #cf4039 !important;
  border: none;
  font-weight: 700;
}

.moto-filter-by .moto-product-summary .card-actions a.blue-shelf-cta:hover {
  background: #ba1c15 !important;
  color: white !important;
  border: none;
}

.moto-filter-by .moto-product-summary .card-actions a {
  min-width: 180px;
  line-height: 40px;
}

.moto-filter-by .moto-product-summary.moto-layout {
  flex-basis: 100%;
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.moto-filter-by .moto-product-summary.moto-layout .card-image {
  width: 30%;
  min-width: 180px;
  border-bottom: 0;
}

.moto-filter-by .moto-product-summary.moto-layout .card-details {
  width: 70%;
  min-width: 280px;
}

.moto-filter-by .moto-product-summary.moto-layout .moto-compare-button {
  position: absolute;
  right: 15px;
  top: 0;
}

.moto-filter-by .moto-product-summary.moto-layout .card-image img {
  height: auto;
  max-height: 280px;
  margin-top: 20px;
}

.moto-filter-by .moto-product-summary.moto-layout .card-actions {
  background: white;
  display: flex;
  flex-direction: column;
  opacity: 1;
  height: 100%;
  position: relative;
  width: 30% !important;
  min-width: 170px;
}

.moto-filter-by .moto-product-summary .moto-compare-button label.checkbox {
  margin-right: 5px;
}

.moto-filter-by .sidebar {
  min-width: 280px;
  height: 100%;
  width: 16%;
  float: left;
  margin-top: 10px;
}

.moto-filter-by .header-sidebar p {
  padding-left: 10px;
}

.moto-filter-by .header-sidebar p.resetText {
  color: #aac4e6;
  font-weight: 700;
  cursor: pointer;
  font-size: 12px;
}

.moto-filter-by .header-sidebar p.resetText span {
  margin-right: 0px;
}

.moto-filter-by .header-sidebar p.resetText span.text {
  text-transform: uppercase;
}

.moto-filter-by .filterIcon {
  height: auto;
  width: 20px;
}

.moto-filter-by .specsTitle {
  font-weight: 400;
  color: #ffffff;
}

.moto-filter-by .moto-product-summary .moto-compare-button {
  float: right;
  margin-top: 24px;
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  font-weight: 700;
}

.moto-filter-by .moto-specsOption {
  float: left;
  margin-top: 10px;
  display: block;
  position: relative;
  padding-left: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 85%;
  white-space: break-spaces;
  word-break: break-word;
}
.moto-filter-by .moto-specsOption .moto-specsOption-title {
  font-size: 14px;
  font-weight: 300;
}
.moto-filter-by .moto-product-summary .moto-compare-button input,
.moto-filter-by .moto-specsOption input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.moto-filter-by .moto-product-summary .moto-compare-button .checkmark {
  position: absolute;
  right: 85px;
  left: -28px;
  bottom: -2px;
  height: 16px;
  width: 16px;
  border: 1px solid #fff;
}

.moto-filter-by .moto-specsOption .checkmark {
  position: absolute;
  left: -23px;
  top: -2px;
  height: 16px;
  width: 16px;
  border: 1px solid #fff;
}

.moto-filter-by .moto-product-summary .moto-compare-button .checkmark:after,
.moto-filter-by .moto-specsOption .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.moto-filter-by
  .moto-product-summary
  .moto-compare-button
  input:checked
  ~ .checkmark:after,
.moto-filter-by .moto-specsOption input:checked ~ .checkmark:after {
  display: block;
}
.moto-filter-by .moto-specsOption input[type="checkbox"]:checked ~ .checkmark {
  background-color: #fff;
}
.moto-filter-by .moto-product-summary .moto-compare-button .checkmark:after {
  border: 1px solid white;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 13px;
  border-width: 0px 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.moto-filter-by .moto-specsOption .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 13px;
  border: 1px solid black;
  border-width: 0px 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.moto-filter-by .search-multiple-navigator fieldset h5 {
  margin: 0;
  position: relative;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.125s cubic-bezier(0.4, 0, 0.2, 1);
}

.moto-filter-by .search-multiple-navigator fieldset > div {
  display: none;
  padding: 0 24px;
}

.moto-filter-by .search-multiple-navigator fieldset > div.show {
  display: block;
}

.moto-filter-by .search-multiple-navigator fieldset h5:after {
  content: "";
  display: inline-block;
  background: url(assets/icon-arrow-filters-category.png);
  width: 16px;
  height: 10px;
  position: absolute;
  top: 50%;
  right: 0px;
  margin-top: -4px;
  transition: all 0.2s ease;
}

.moto-filter-by .search-multiple-navigator fieldset {
  border: 1px solid #ffffff14;
  border-left: 0;
  border-right: 0;
  border-bottom: none;
  padding: 10px 24px;
}

.moto-filter-by .search-multiple-navigator fieldset h5.c-active:after {
  transform: rotate(180deg);
}

.moto-filter-by .specification-color-swatcher {
  margin-right: 11px;
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  float: right;
  margin: 0 11px 0 0;
}

.moto-filter-by .hide {
  display: block;
}

.moto-filter-by button.moto-grid-button:focus {
  outline: none;
}

.moto-filter-by .text-orderby {
  justify-content: space-between;
}

.moto-filter-by .t-action--small {
  font-size: 16px;
}
.moto-filter-by .sidebar.mobile {
  display: none;
}
.moto-filter-by .collection-shelf .sort-by .radio-button-mobile {
  display: none;
}
.moto-filter-by .collection-shelf .sort-by .sortByIcon {
  width: 14px;
  height: 12px;
  margin-right: 6px;
}
.moto-filter-by .collection-shelf .sort-by .sortByTitle {
  margin-right: 18px;
  font-size: 16px;
  font-weight: 300;
}
.moto-filter-by .fixed-filter-sort-by-mobile {
  position: relative;
}
.moto-filter-by .mobile-filter-btn,
.moto-filter-by .mobile-close-btn,
.moto-filter-by .sortby-close {
  display: none;
}
.moto-filter-by .collection-shelf .sortby {
  border: 1px solid #ffffff40;
}
.moto-filter-by .collection-cards {
  margin-top: 91px;
}
.text-orderby *,
.text-orderby span {
  background-color: #001428;
  color: #fff;
  font-weight: 300;
  border: none;
}
.moto-filter-by .sortby-positionbox {
  border: 1px solid #ffffff14;
}

.moto-filter-by .moto-grid-button {
  background-color: #001428;
}
.moto-filter-by
  .moto-product-summary
  .card-price
  [class$="price_sellingPrice"] {
  color: #ffffff;
  font-weight: 300;
}
@media (max-width: 991px) {
  .moto-filter-by .collection-shelf .sortby {
    border: none;
    height: auto;
  }
  .moto-filter-by .mobile-filter-btn,
  .moto-filter-by .mobile-close-btn,
  .moto-filter-by .sortby-close {
    display: block;
  }
  .moto-filter-by .collection-shelf .shelf-title.mobile-only-title h1 {
    font-size: 18px;
    font-weight: 300;
    text-transform: none;
    margin: 0;
  }
  .moto-filter-by .collection-shelf .shelf-title {
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .moto-filter-by .collection-cards {
    margin: auto 0;
  }

  .moto-filter-by .collection-cards .moto-product-summary {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 16px;
  }
  .moto-filter-by .fixed-filter-sort-by-mobile {
    bottom: 0;
    background: #ffffff0a 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
    height: 56px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 101;
    position: fixed;
    top: auto;
  }
  .mobile-orderby.text-orderby,
  .mobile-orderby.text-orderby span {
    background: none;
  }
  .moto-filter-by .fixed-filter-sort-by-mobile .sidebar-wrap .mobile-filter-btn,
  .moto-filter-by .fixed-filter-sort-by-mobile .sort-by {
    position: fixed;
    top: auto;
    bottom: 0;
    border-right: 1px solid #ffffff14;
  }
  .moto-filter-by .mobile-filter-btn .filterIcon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }
  .moto-filter-by .mobile-filter-btn p {
    font-weight: 300;
  }
  .moto-filter-by .mobile-orderby {
    border: none;
  }
  .moto-filter-by .mobile-orderby span svg {
    display: none;
  }
  .sidebar-wrap .sidebar.desktop {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #001428 0% 0% no-repeat padding-box;
    border: 1px solid #ffffff14;
    border-radius: 8px 8px 0px 0px;
    height: 430px;
    overflow: auto;
    z-index: 100;
    margin: 0 auto;
    opacity: 1;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
  .sidebar-wrap .sidebar.desktop,
  .sidebar-wrap .sidebar.desktop.hide {
    transition: 0.5s;
    transform: translateY(430px);
  }
  .sidebar-wrap .sidebar.desktop.show {
    transition: 0.5s;
    transform: translateY(0);
  }
  .fixed-filter-sort-by-mobile .header-sidebar.row {
    background: #ffffff0a 0% 0% no-repeat padding-box;
  }
  .moto-filter-by .collection-shelf .sort-by {
    width: 50%;
    margin-right: 0px;
    display: block;
    height: 56px;
    padding-top: 0;
    margin-bottom: 0;
  }

  .text-orderby,
  .text-orderby *,
  .text-orderby span {
    font-size: 16px;
  }
  .moto-filter-by .collection-shelf .sort-by .sortByIcon {
    width: 20px;
    height: 16px;
    background: none;
    margin-right: 6px;
    vertical-align: middle;
  }
  .moto-filter-by .collection-shelf .sort-by .sort-by-desktop {
    display: none;
  }
  .moto-filter-by .collection-shelf .sort-by .sortby-positionbox {
    position: fixed;
    height: 400px;
    bottom: 0;
    width: 100%;
    right: 0;
    left: 0;
    top: auto;
    margin-right: 0;
  }
  .moto-filter-by .collection-shelf .sort-by .sortby-positionbox.sort-show {
    transition: 0.5s;
    transform: translateY(0);
  }
  .moto-filter-by .collection-shelf .sort-by .sortby-positionbox.sort-hide {
    transition: 0.5s;
    transform: translateY(400px);
  }
  .moto-filter-by .collection-shelf .sort-by .sortby-positionbox.db,
  .moto-filter-by .collection-shelf .sort-by .sortby-positionbox.dn {
    display: inline-block;
    border-radius: 8px 8px 0px 0px;
  }
  .moto-filter-by .sortby-close .sortByArrow {
    margin-right: 12px;
    width: 16px;
    height: 16px;
  }
  .moto-filter-by .collection-shelf .sort-by .sortby-radio-options {
    display: flex;
    font-size: 14px;
    font-weight: 300;
  }
  .moto-filter-by
    .collection-shelf
    .sort-by
    .sortby-radio-options
    .radio-button-mobile {
    display: block;
    margin-right: 12px;
  }
  .moto-filter-by .filterBy-backdrop {
    position: fixed;
    left: 0;
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    opacity: 0.75;
    bottom: 0;
  }
  [class*="orderByOptionItem--selected"] .sortby-radio-options {
    color: #aac4e6;
  }
  .sidebar-content.search-multiple-navigator fieldset {
    padding: 0 16px;
  }
  .moto-filter-by .search-multiple-navigator fieldset h5 {
    padding: 0;
    margin: 0;
  }
  .mobile-close-btn .col-6.filterMobTitle {
    padding: 0 16px;
  }
  .moto-filter-by .collection-shelf .sortby {
    margin-right: 0;
  }
  .moto-filter-by
    .moto-product-summary
    .card-price
    [class$="price_sellingPrice"] {
    font-size: 16px;
  }
  .moto-filter-by .moto-product-summary .card-price [class$="price_listPrice"] {
    font-size: 12px;
  }
  .sort-by button:focus,
  .sort-by button:focus-within {
    outline: none;
  }

  .moto-filter-by .sortby-positionbox {
    margin-top: 53px;
  }

  .moto-filter-by .filterTitle {
    display: none;
  }
  .moto-filter-by .mobile-close-btn {
    border-bottom: 1px solid #ffffff14;
    border-top: 1px solid #ffffff14;
    text-align: center;
    height: 64px;
    line-height: 64px;
  }
  .moto-filter-by .mobile-close-btn p {
    margin: 0 !important;
  }
  .moto-filter-by .col-6.filterMobTitle.filter p {
    font-size: 14px;
    font-weight: 300;
  }
  .moto-filter-by .sidebar-wrap {
    position: absolute;
    width: 100%;
  }
  .moto-filter-by .mobile-filter-btn {
    width: 50%;
    text-align: center;
    position: absolute;
    z-index: 4;
    font-weight: bold;
    color: #ffffff;
    height: 56px;
  }
  .moto-filter-by .collection-shelf .sort-by {
    position: absolute;
    right: 0;
    z-index: 99;
    max-width: none;
  }
  .moto-filter-by .moto-grid-button {
    display: none;
  }
  .moto-filter-by .collection-shelf .sortby {
    width: auto;
    float: none;
    margin-top: 0;
  }
  .moto-filter-by .mobile-orderby {
    top: auto;
    bottom: 0;
    display: inline-block;
  }
  .moto-filter-by .sortby-close {
    width: 100%;
    background: none;
    border: none;
    height: 42px;
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
    padding-top: 24px;
  }
  .moto-filter-by .collection-cards {
    width: auto;
    padding-top: 24px;
    max-width: 100%;
    float: none;
  }
  .moto-filter-by .moto-product-summary .card-actions a {
    min-width: 100px;
    line-height: 40px;
  }
  .moto-product-summary .card-image img {
    height: auto;
    width: auto;
  }
  .moto-filter-by .collection-shelf .shelf-title.mobile-only-title {
    display: block;
    padding-bottom: 0;
  }
  .moto-filter-by .collection-cards .shelf-title {
    display: none;
  }
  .moto-filter-by .loading {
    position: static;
  }
  .moto-filter-by .header-sidebar p.resetText span {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .moto-filter-by .collection-cards {
    display: block;
  }
  .moto-filter-by .collection-cards {
    margin: auto 16px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .moto-filter-by .collection-cards .moto-product-summary {
    margin-left: 16px;
    margin-right: 0px;
    margin-bottom: 16px;
    flex-basis: 47%;
  }
}

@media (max-width: 401px) {
  .moto-product-summary .card-image img {
    height: auto;
    width: auto;
  }
  .moto-filter-by .collection-cards {
    max-width: 100%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
  .moto-filter-by .moto-product-summary {
    flex-basis: 47%;
  }
  .moto-filter-by .sidebar {
    margin-top: 0px;
  }
  .moto-filter-by .collection-shelf .sort-by {
    margin-right: 0;
    right: 22px;
  }
  .moto-filter-by .col-6.filterResetTitle {
    padding: 14px 24px 15px 35px;
  }
}
@media (min-width: 1024px) {
  .sidebar-content.search-multiple-navigator {
    height: 147vh;
  }
}
