.pdp-my-ux {
	position: relative;
	background-color: rgb(17, 30, 49);
}

.pdp-my-ux .pmu-row {
	align-items: center;
	align-content: center;
	padding-top: 11vw;
	padding-bottom: 11vw;
	margin-right: 0;
	margin-left: 0;
}

.pdp-my-ux .pmu-video-information {
	color: rgb(225, 227, 229);
	text-align: center;
}

.pdp-my-ux .pmu-video-title {
	font-weight: lighter;
	font-size: 18px;
	line-height: 19px;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
}

.pdp-my-ux .pmu-video-description {
	text-align: center;
	font-weight: lighter;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
}

.pdp-my-ux .pmu-react-player {
	margin-left: auto;
	margin-right: auto;
}

.pdp-my-ux .pmu-video-information .vp-video-wrapper.transparent {
	border-radius: 30px;
}

.pdp-my-ux .pmu-video-information {
	color: rgb(225, 227, 229);
	width: 73.5vw;
	margin: auto;
}

.pdp-my-ux .pmu-video-information.bottom {
	margin-bottom: 1rem;
}


/*desktop styles*/

@media (min-width: 768px) {
	.pdp-my-ux .pmu-row {
		padding-top: 5%;
		padding-bottom: 5%;
		height: 49vw;
	}
	.pdp-my-ux .pmu-video-title {
		font-size: 24px;
		line-height: 29px;
	}
	.pdp-my-ux .pmu-video-description {
		text-align: left;
		font-size: 16px;
		line-height: 24px;
	}
	.pdp-my-ux .pmu-video-information {
		width: 28vw;
		text-align: left;
	}
	.pdp-my-ux .pmu-video-information.left {
		margin-left: 13vw;
	}
	.pdp-my-ux .pmu-item-video.left {
		margin-left: 4.6vw;
	}
	.pdp-my-ux .pmu-video-information .vp-video-wrapper.transparent {
		border-radius: 50px;
	}
}

/* tablets */
@media (max-device-width: 1024px) {
	/*.pdp-my-ux .pmu-video-title {
		font-size: 24px;
		line-height: 29px;
	}
	.pdp-my-ux .pmu-video-description {
		font-size: 16px;
		line-height: 24px;
	}*/
}