.gwp-thank-you {
    background-color: #001428;
    color: #FFFFFF;
    margin-top: -4px;
}

.gwp-thank-you-container {
    width: 1200px;
    margin: 0 auto;
    height: auto;
    padding: 20px;
}

.gwp-thankyou-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin: 20px;
}

.gwp-thankyou-logo-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gwp-thankyou-section{
    margin-top: 20px;
}

.gwp-thankyou-formvalue{
    margin-top: 20px;
    margin-bottom: 20px;
}

.gwp-thank-you-validate{
    margin-top: 25px;
    margin-bottom: 20px;
}
.gwp-thank-you-regards{
    margin-top: 20px;
    margin-bottom: 20px;
}
.gwp-thankyou-formcontent{
    margin-top: 10px;
}
