.carrier-compatibility-page {
  background-color: #001428;
}
.carrier-compatibility-page .cc-content {
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 15px;
  padding-top: 137px;
}
.carrier-compatibility-page .cc-content * {
  box-sizing: border-box !important;
}
.carrier-compatibility-page .cc-content select {
  -webkit-appearance: none;
  background: #ffffff url(./assets/arrow-bottom.png) 95% no-repeat;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  -moz-appearance: none;
}
.carrier-compatibility-page .cc-filter-section {
  width: auto;
}
.carrier-compatibility-page .cc-filtered-product-tiles {
  width: auto;
}
.carrier-compatibility-page .cc-product-tile-wrapper.has-content {
  margin: -2.5%;
  width: auto;
  text-align: center;
  margin-bottom: 45px;
}
.carrier-compatibility-page .cc-product-image {
  text-align: center;
  margin-top: 45px;
}
.carrier-compatibility-page .cc-product-image .cc-image {
  max-width: 160px;
  width: auto;
  max-height: 160px;
  min-height: 160px;
}
.carrier-compatibility-page .cc-product-tile {
  float: left;
  width: 28.33%;
  border: 1px solid #ffffff5e;
  height: auto;
  margin: 2.5%;
  margin-bottom: 0px;
}
.carrier-compatibility-page .cc-product-tile-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
.carrier-compatibility-page .cc-back-to-top {
  text-align: center;
  display: block;
  padding-bottom: 30px;
}
.carrier-compatibility-page .cc-back-to-top-text {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
  color: #ffffff;
}
.carrier-compatibility-page .cc-product-tile h3 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 8px;
  margin-top: 10px;
  text-transform: capitalize;
  text-align: center;
  height: 60px;
  padding-left: 6px;
  padding-right: 6px;
}
.carrier-compatibility-page .cc-product-tile .cc-compatibility-details-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 8px;
  margin-top: 10px;
  text-transform: capitalize;
  text-align: center;
  height: 60px;
  padding-left: 6px;
  padding-right: 6px;
}
.carrier-compatibility-page .cc-content .cc-product-price [class$="price_listPrice"] {
  text-decoration: line-through !important;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
.carrier-compatibility-page .cc-content .cc-product-price [class$="price_sellingPrice"] {
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
}
.carrier-compatibility-page .cc-product-price {
  margin-top: 15px;
  margin-bottom: 20px;
  height: 40px;
}
.carrier-compatibility-page .cc-learn-more-link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}
.carrier-compatibility-page .cc-learn-more {
  margin-bottom: 50px;
}
.carrier-compatibility-page .cc-compatibility-box {
  margin-top: 60px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 5em;
  margin-right: 5em;
  border-radius: 5px;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 14px;
}
.carrier-compatibility-page #cc-family-carrier-select-section {
  margin-bottom: 60px;
  width: 100%;
  text-align: center;
  margin-top: 47px;
}


.carrier-compatibility-page select option {
  background-color: #061F38;
  height: 30px;
}
.carrier-compatibility-page .cc-filter-section-header {
  text-align: center;
  color: #ffffff;
  line-height: 50px;
}
.carrier-compatibility-page .cc-main-title {
  font-size: 36px;
  font-weight: 300;
}
.carrier-compatibility-page .cc-sub-title {
  font-size: 14px;
  font-weight: 300;
}
.carrier-compatibility-page .cc-smartphones {
  color: #ffffff;
  font-weight: 400;
  width: 25%;
  display: inline-block;
  border-radius: 4px;
  padding: 0;
  left: 15px;
  bottom: 25px;
  background-color: #CF4039;
  text-decoration: none;
  margin-top: 10px;
}
.carrier-compatibility-page .cc-smartphones span {
  color: #ffffff;
  font-size: 16px;
}
.carrier-compatibility-page select.cc-select-family {
  border: 1px solid #595959;
  height: 56px;
  width: 35%;
  font-size: 16px;
  background-size: 25px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #001428;
  font-weight: 300;
  margin-right: 20px;
  text-align-last: center;
}
.carrier-compatibility-page select.cc-select-carrier {
  border: 1px solid #595959;
  height: 56px;
  width: 35%;
  font-size: 16px;
  background-size: 25px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #001428;
  font-weight: 300;
  text-align-last: center;
}
.carrier-compatibility-page .cc-back-to-top-image {
  margin-bottom: 10px;
  cursor: pointer;
}
.carrier-compatibility-page .cc-back-to-top.hide {
  display: none;
}

@media screen and (max-width: 767px) {
  .carrier-compatibility-page .cc-content {
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 6%;
    margin-right: 6%;
  }
  .carrier-compatibility-page .cc-main-title {
    font-size: 24px;
  }
  .carrier-compatibility-page .cc-sub-title {
    font-size: 12px;
  }
  .carrier-compatibility-page .cc-smartphones {
    width: 100%;
  }
  .carrier-compatibility-page select.cc-select-family {
    width: 100%;
    margin-bottom: 20px;
  }
  .carrier-compatibility-page select.cc-select-carrier {
    width: 100%;
  }
  .carrier-compatibility-page #cc-family-carrier-select-section {
    margin-top: 36px;
    margin-bottom: 45px;
  }
  .carrier-compatibility-page .cc-back-to-top {
    padding-top: 0px;
  }
  .carrier-compatibility-page .cc-product-tile-wrapper.has-content {
    margin: 0px;
  }
  .carrier-compatibility-page .cc-product-tile {
    width: 100%;
    margin: 0px;
    margin-bottom: 18px;
  }
  .carrier-compatibility-page .cc-learn-more {
    margin-bottom: 30px;
  }
  .carrier-compatibility-page .cc-learn-more-link {
    font-size: 14px;
  }
  .carrier-compatibility-page .cc-back-to-top-text {
    font-size: 12px;
  }
  .carrier-compatibility-page .cc-product-price {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .carrier-compatibility-page .cc-content .cc-product-price [class$="price_sellingPrice"] {
    font-size: 21px;
  }
  .carrier-compatibility-page .cc-product-tile h3 {
    height: 38px;
  }
  .carrier-compatibility-page .cc-product-tile .cc-compatibility-details-text {
    height: 50px;
  }
  .carrier-compatibility-page .cc-product-image {
    margin-top: 22px;
  }
  .carrier-compatibility-page .cc-compatibility-box {
    margin-top: 30px;
  }
  .carrier-compatibility-page .cc-smartphones span {
    font-size: 14px;
  }
  .carrier-compatibility-page #cc-family-carrier-select-section {
  display: flex;
  flex-direction: column;
}
.carrier-compatibility-page select.cc-select-family {
  order: 2;
  margin-bottom: 20px;
}
.carrier-compatibility-page select.cc-select-carrier {
  order: 1;
  margin-bottom: 20px;
}

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1023px)  {
  .carrier-compatibility-page .cc-product-tile {
    width: 45%;
  }
  .carrier-compatibility-page .cc-content {
    margin-left: 5%;
    margin-right: 5%;
  }
  .carrier-compatibility-page select.cc-select-family,
  .carrier-compatibility-page select.cc-select-carrier {
    width: 45%;
  }
  .carrier-compatibility-page .cc-smartphones {
    width: 30%;
  }
  .carrier-compatibility-page .cc-align-center-1 .cc-product-tile {
    margin-left: 28%;
  }
}

@media screen and (min-width: 1024px) {
  .carrier-compatibility-page .cc-align-center-1 .cc-product-tile {
    margin-left: 36%;
  }
  .carrier-compatibility-page .cc-align-center-2 .cc-product-tile {
    margin-left: 19%;
  }
}

@media screen and (min-width: 1600px) {
  .carrier-compatibility-page .cc-content {
    margin-left: 15%;
    margin-right: 15%;
  }
  .carrier-compatibility-page .cc-compatibility-box {
    margin-left: 6em;
    margin-right: 6em;
  }
}