.warranty-page {
  background: #001428;
  color: #333;
  padding: 20px;
  width: 100%;
}
.warranty-page-product {
  background: white;
  display: flex;
  padding: 40px 15px;
  width: 100%;
}
.warrant-page-product-image {
  align-items: center;
  display: flex;
  flex-basis: 15%;
  flex-direction: column;
}
.warranty-page-mobile-product-image {
  display: none;
}
.warranty-page-product-quantity {
  text-align: center;
}
.warranty-page-product-info h3 {
  font-size: 24px;
  margin-top: 0px;
  font-weight: 700;
}
.warranty-page-product-price h3,
.warranty-page-product-quantity h3 {
  font-size: 30px;
  font-weight: 700;
}
.warranty-page-text {
  font-size: 17px;
  opacity: 0.5;
  color: #000000;
  font-weight: 700;
}
.warranty-page-product-block {
  background: url("./images/moto-icon-Blue.svg") no-repeat -9999px -9999px;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-basis: 85%;
}
.warranty-page-product-info {
  align-items: center;
  border-bottom: 1px solid #707070;
  display: flex;
  padding-bottom: 0px;
  margin-bottom: 40px;
  justify-content: space-between;
}
.moto-care-item {
  display: flex;
}
.warranty-page-moto-care-options {
  font-size: 14px;
}
.moto-care-plan-image {
  width: 153px;
  height: 28px;
}
.moto-care-plan-text {
  display: block;
  margin-bottom: 28px !important;
}
.moto-care-plan-text p {
  font-size: 14px;
  line-height: 15px;
}
a.warranty-page-link-text {
  color: #4db2c1;
  text-decoration: none;
}
.moto-care-learn-more {
  margin-bottom: 38px;
}
.moto-care-learn-more a {
  text-decoration: underline;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  cursor: pointer;
}
.moto-care-learn-more .moto-care-learn-more-icon {
  font-size: 14px;
  line-height: 15px;
  font-weight: bold;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #000;
  text-align: center;
  margin-right: 10px;
}

.learn-more-tooltip-header {
  float: right;
}
.learn-more-tooltip-close-button {
  font-size: 23px;
  opacity: 0.5;
  cursor: pointer;
  height: 0;
  padding-right: 10px;
}
.learn-more-tooltip-content-section {
  display: flex;
}
.learn-more-tooltip-content {
  padding: 25px 20px;
}
.learn-more-tooltip-inner-content {
  font-size: 14px;
  line-height: 15px;
}
.learn-more-tooltip-icon {
  float: left;
  font-size: 20px;
  font-weight: bold;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid #000;
  text-align: center;
  margin-right: 10px;
}
.moto-care-option {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 38px 30px 55px 24px;
  margin-top: 28px;
  margin-right: 25px;
  width: 265px;
}
.no-coverage {
  cursor: pointer;
  display: flex;
  padding-bottom: 28px;
}
.moto-care-option-name {
  font-size: large;
  line-height: 17px;
  height: 56px;
}
.no-coverage .moto-care-option-price {
  font-size: 17px;
  font-weight: normal;
  padding-top: 3px;
  padding-bottom: 0;
}
.moto-care-option-price {
  font-size: 25px;
  font-weight: normal;
  padding-bottom: 22px;
}
.moto-care-option.recommended {
  padding-top: 0;
  margin-top: 0px;
}
.moto-care-option.recommended.moto-care-option-selected {
  background-color: #001428;
  border: none;
  color: #ffffff;
  padding-top: 0;
  margin-top: 0px;
}
.no-coverage .no-coverage-moto-care-radio-input {
  border-radius: 50%;
  display: block;
  height: 23px;
  width: 23px;
  border: 1px solid rgba(0, 0, 0, 1);
  flex-basis: 23px;
  margin-right: 7px;
  cursor: pointer;
}
.moto-care-item .moto-care-radio-input {
  border-radius: 19px;
  text-align: center;
  display: block;
  height: 47px;
  width: 164px;
  border: 1px solid #000000;
  background-image: url("./images/Moto-icon-Black.svg");
  background-repeat: no-repeat;
  background-size: 11px;
  background-position-y: center;
  background-position-x: 26%;
  cursor: pointer;
}

.moto-care-option-selected {
  background-color: #001428;
  color: #ffffff;
  border: 1px solid rgba(28, 126, 223, 0.2)
}

.moto-care-radio-input:hover,
.moto-care-option.recommended .moto-care-radio-input:hover {
  background-image: url("./images/moto-icon-Blue.svg");
  color: #92c1e9;
  border: 1px solid #92c1e9;
}

.moto-care-option.recommended .moto-care-radio-input.radio-checked,
.moto-care-radio-input.radio-checked {
  color: #ffffff;
  background: #163E5F;
  border: 1px solid #163E5F;
  border-radius: 19px;
}

.moto-care-option.recommended .moto-care-radio-input.radio-checked label,
.moto-care-radio-input.radio-checked label{
margin-left: 12px;
}

.moto-care-option.recommended .moto-care-radio-input.radio-checked svg,
.moto-care-radio-input.radio-checked svg {
width:14px;
height: 14px;
}

.moto-care-option.recommended .moto-care-radio-input {
  background-image: url("./images/Moto-icon-Black.svg");
}
.moto-care-radio-input label {
  cursor: pointer;
  font-size: 17px;
  line-height: 45px;
  margin-left: 20px;
  font-weight: 700;
}
.recommended .moto-care-radio-input {
  border: 1px solid #000000;
  color: #000000;
}
.no-coverage .no-coverage-moto-care-radio-input.radio-checked {
  background-color: #001428;
  border-color: #001428;
  box-shadow: inset 0 0 0 2px #fff;
}
.warranty-page-footer {
  align-items: center;
  background: white;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  width: 100%;
}
.warranty-checkout-button {
  border: none;
  background: #cf4039;
  cursor: pointer;
  color: white;
  font-size: 14px;
  padding: 15px 40px;
  border-radius: 19px;
}
.warranty-checkout-button:disabled,
.warranty-checkout-button[disabled] {
  background: #ccc;
  cursor: not-allowed;
}
.warranty-page-cart-empty {
  padding: 10px 20px 20px 20px;
}
.moto-care-plan-image-mobile {
  display: none;
}
.moto-care-service-plane-name {
  font-size: xx-large;
  line-height: 14px;
  color: #92c1e9;
  opacity: 1;
  padding-bottom: 34px;
  font-weight: 700;
}
.moto-care-option .warranty-bullet-points {
  padding-top: 52px;
}
.moto-care-option .warranty-bullet-points img {
  width: 20px;
  margin-right: 18px;
  vertical-align: middle;
  margin-top: -2px;
}
.moto-care-option .warranty-bullet-points li {
  display: flex;
  font-size: 15px;
  margin: 0 0 21px 0;
}
.recommended .moto-care-recommended {
  background-color: #92c1e9;
  border-radius: 0px 0px 5px 5px;
  opacity: 1;
  width: fit-content;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  padding: 9px 17px 9px 13px;
}
.recommended .moto-care-service-plane-name {
  padding-top: 30px;
}
.react-tooltip-lite {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #d7d7d7 !important;
  width: 750px !important;
  margin-top: -1px;
  margin-left: -38px;
}
.react-tooltip-lite-arrow.react-tooltip-lite-down-arrow {
  margin-left: -40px;
}
.moto-care-selected-warranty-first-section img {
  width: 153px;
  height: 19px;
}
.moto-care-selected-warranty-item {
  display: flex;
  align-items: center;
  background: #00000008 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  height: 146px;
}
.moto-care-selected-warranty-first-section {
  width: 20%;
  text-align: center;
}
.moto-care-selected-warranty-item-second-section {
  width: 80%;
  display: flex;
  justify-content: space-between;
  background: #00000008 0% 0% no-repeat padding-box;
  border-radius: 0px 5px 5px 0px;
  height: 146px;
  padding: 35px 28px;
  align-items: center;
}

.moto-care-selected-warranty-item.warranty-plan-not-selected {
  display: none;
}

.moto-care-selected-warranty-item-text span,
.moto-care-selected-warranty-item-amount span {
  display: block;
}
.moto-care-selected-warranty-item-text span {
  font-size: 13px;
}
.moto-care-selected-warranty-item-text .moto-care-selected-warranty-name {
  font-size: 13px;
  padding-top: 25px;
}
.moto-care-selected-warranty-item-amount .moto-care-selected-warranty-price {
  font-size: 20px;
  padding-bottom: 28px;
  text-align: right;
}
.moto-care-selected-warranty-edit-plan {
  font-size: 14px;
  font-weight: 700;
  width: 109px;
  border: 1px solid #000000;
  border-radius: 19px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  cursor: pointer;
}

.moto-care-selected-warranty-type strong,
.moto-care-no-coverage strong {
  font-weight: 700;
}
.warranty-page-mobile-quantity-price-section {
  display: none;
}
.warranty-page-error-container{
  background-color: #ffffff;
  width: 100%;
  float: right;
  padding: 15px;
}
.warranty-page-error {
  text-align: center;
  display: flex;
  background: rgb(255, 85, 77, 0.3);
  border: 1px solid rgb(179, 21, 21,0.3);
  border-radius: 3px;
  padding: 20px 18px;
  width: 85%;
  float: right;
}
.warranty-page-error img {
  width: 20px;
  height: 20px;

  margin-right: 12px;
}
.warranty-page-error span {
  font-size: 13px;
  line-height: 23px;
  font-weight: normal;
  color: #cf4039;

}
@media (max-width: 991px) {
  .warranty-page-desktop-content {
    display: none;
  }
  .warranty-page-product-info {
    align-items: flex-start;
  }
  .warranty-page-product,
  .warranty-page-mobile-quantity-price-section {
    display: block;
  }
  .warranty-page-product {
    padding: 40px 20px;
  }
  .warrant-page-product-image {
    display: none;
  }
  .warranty-page-mobile-product-image {
    display: block;
    margin-top: -25px;
  }
  .warranty-page-mobile-product-image img {
    width: 132px;
    max-width: none;
  }
  .warranty-page-mobile-quantity-price-section .warranty-page-product-quantity {
    display: flex;
    float: right;
  }
  .warranty-page-product-quantity span {
    font-size: 17px;
    font-weight: 700;
    opacity: 0.5;
  }
  .moto-care-option {
    width: 216px;
    padding: 40px 30px 18px;
    margin-right: 16px;
  }
  .moto-care-option-details {
    text-align: center;
  }
  .moto-care-service-plane-name {
    padding-bottom: 22px;
  }
  .moto-care-option-price {
    padding-top: 10px;
    padding-bottom: 16px;
  }
  .react-tooltip-lite {
    width: 600px !important;
    margin-left: -10px;
  }
  .react-tooltip-lite-arrow.react-tooltip-lite-down-arrow {
    margin-left: -38px;
  }
  .moto-care-option .warranty-bullet-points {
    text-align: left;
    padding-top: 34px;
  }
  .moto-care-option .warranty-bullet-points img {
    margin-top: -8px;
    margin-right: 15px;
  }
  .warranty-page-product-name {
    margin-right: 4px;
    margin-left: 28px;
  }
  .warranty-page-mobile-quantity-price-section
    .warranty-page-product-quantity
    h3 {
    margin-top: -5px;
  }
  .moto-care-selected-warranty-item-second-section {
    padding: 35px 32px;
  }
  .warranty-page-error-container{
    padding: 15px 20px;

  }
  .warranty-page-error{
    width: 100%;
  }
  .warranty-page-error span{
    text-align: left;
    line-height: 20px;
  }
}

@media (max-width: 1024px) {
  .moto-care-radio-input:hover, .moto-care-option.recommended .moto-care-radio-input:hover {
    color: #000000;
    border: 1px solid #000000;
    background-image: url("./images/Moto-icon-Black.svg");
    background-repeat: no-repeat;
    background-size: 11px;
    background-position-y: center;
    background-position-x: 26%;
  }
  .moto-care-option.recommended .moto-care-radio-input.radio-checked, .moto-care-radio-input.radio-checked {
    color: #ffffff;
    background: #163E5F;
    border: 1px solid #163E5F;
    border-radius: 19px;
  }
  .moto-care-radio-input:active, .moto-care-option.recommended .moto-care-radio-input:active {
    background-image: url("./images/moto-icon-Blue.svg");
    color: #92c1e9;
    border: 1px solid #92c1e9;
  }
}

@media (max-width: 767px) {
  .warranty-page-product {
    padding: 40px 20px;
  }
  .warrant-page-product-image {
    display: none;
  }
  .moto-care-plan-image-mobile {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  .warranty-page-product-block {
    justify-content: center;
    flex-basis: 100%;
    width: 100%;
  }
  .warranty-page-moto-care-options {
    width: 100%;
    text-align: center;
  }
  .moto-care-item {
    display: block;
  }
  .moto-care-option {
    margin-bottom: 22px;
    text-align: center;
    margin-right: 0;
    padding: 38px 29px 28px;
    flex-basis: 100%;
    width: 100%;
  }
  .no-coverage {
    justify-content: center;
    padding-bottom: 8px;
  }
  .warranty-checkout-button {
    width: 164px;
    margin: 0 auto;
  }
  .moto-care-selected-warranty-item {
    width: 100%;
    flex-direction: column;
    height: auto;
  }
  .recommended .moto-care-recommended {
    margin: 0 auto;
    width: 170px;
  }
  .moto-care-item .moto-care-radio-input {
    margin: 0 auto;
  }
  .moto-care-selected-warranty-item-text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .warranty-page-product-block h3,
  .warranty-page-product-quantity .warranty-page-text,
  .warranty-page-product-price .warranty-page-text {
    font-size: 14px;
  }
  .warranty-page-product-price .warranty-page-text {
    font-size: 10px;
  }
  .warranty-page-product-name {
    margin-right: 22px;
    margin-left: 0px;
  }
  .warranty-page-product-quantity .warranty-page-text {
    margin-right: 15px;
  }
  .moto-care-plan-image {
    width: 139px;
    height: 26px;
    text-align: center;
  }
  .moto-care-selected-warranty-item-second-section {
    background: none;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 44px 29px;
  }
  .moto-care-option .warranty-bullet-points.mobile-collapsible-bullet-points {
    padding-top: 27px;
    text-align: center;
  }
  .moto-care-option .warranty-bullet-points img {
    margin-right: 23px;
    margin-top: -2px;
  }
  .mobile-collapsible-bullet-points .Collapsible__contentInner {
    padding-top: 32px;
  }
  .mobile-collapsible-bullet-title-section {
    font-size: 16px;
    color: #030303;
    font-weight: 700;
  }
  .moto-care-option-selected .mobile-collapsible-bullet-title-section {
    color: #ffffff;
  }
  .mobile-collapsible-bullet-text {
    text-decoration: underline;
  }
  .react-tooltip-lite {
    width: 325px !important;
    margin-top: -1px;
    margin-left: -16px;
  }
  .react-tooltip-lite-arrow.react-tooltip-lite-down-arrow {
    margin-left: -43px;
  }
  .moto-care-selected-warranty-first-section {
    display: none;
  }
  .moto-care-selected-warranty-item-amount .moto-care-selected-warranty-price {
    text-align: center;
  }
  .moto-care-selected-warranty-edit-plan {
    margin: 0 auto;
  }
  .warranty-page-mobile-quantity-price-section
    .warranty-page-product-quantity
    h3 {
    margin-top: 0px;
  }
  .warranty-page-mobile-product-image {
    margin-top: -20px;
  }
  .warranty-page-mobile-product-image img {
    width: 92px;
  }
  .warranty-bullet-points.mobile-collapsible-bullet-points
    .Collapsible__contentOuter {
    display: inline-block;
    text-align: left;
  }
  .warranty-page-error-container{
    padding: 15px 20px;
  }
  .warranty-page-error {
    flex-direction: column;
  }
  .warranty-page-error img{
    margin: 0 auto;
  }
  .warranty-page-error span{
    margin-top: 14px;
    text-align: center;
  }

}
