.camera-gallery {
  background: #111E31;
  position: relative;
  padding-top: 41px;
  overflow: hidden;
  padding-bottom: 41px;
}
.camera-gallery .cg-grid-background {
  width: 235px;
  line-height: 0;
}
.camera-gallery .cg-grid-wrapper {
  width: 150px;
  position: absolute;
  top: 57px;
}
.camera-gallery .align-items-sm-center {
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}
.camera-gallery .cg-right {
  align-items: center;
  display: flex;
  justify-content: center;
}
.camera-gallery .cg-left {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.camera-gallery .cg-gallery-items {
  width: 65px;
  display: inline-block;
  margin: 10px 5px;
  position: relative;
  line-height: 0;
}
.camera-gallery .cg-details-wrapper.active {  
  animation: fadeIn 0.5s;
  animation-timing-function: linear;
  opacity: 1;
}
.camera-gallery .cg-details-wrapper.inactive {  
  animation: fadeOut 0.5s;
  animation-timing-function: linear;
  opacity: 0;
}
.camera-gallery .cg-large-image {
  line-height: 0;
}
.camera-gallery .cg-details {
  width: 283px;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.camera-gallery .cg-helptex {  
  margin: 11px 0px;
  width: 235px;
  text-align: center;
  color: #ffffff;
  font-weight: lighter;
  font-size: 14px;
  line-height: 16px;
}
.camera-gallery .cg-details-wrapper h3 {
  color: #ffffff;
  font-size: 18px;
  font-weight: lighter;
  line-height: 19px;
}
.camera-gallery .cg-details-wrapper h6 {
  color: #ffffff;
  font-weight: lighter;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  height: 150px;
  overflow-y: auto;
}
.camera-gallery .cg-overlay {
  display: none;
}
.camera-gallery .cg-overlay.active {
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
}
.camera-gallery .cg-close {
  width: 28px;
  position: absolute;
  right: 5px;
  top: 10px;
  z-index: 3;
  line-height: 0;
}
.camera-gallery .cg-items-background {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 12px;
  line-height: 16px;
  padding: 5px;
  text-align: center;
  color: #FFFFFF;
  background: rgb(0, 0, 0, 0.5);
  word-break: break-word;
  overflow: hidden;
}
.camera-gallery .cg-grid-wrapper .active .cg-items-background, 
.camera-gallery .cg-grid-wrapper .hover .cg-items-background {
  align-items: center;
  justify-content: center;
  display: flex;
}
#cg-vimeo-videoId > div > iframe body {height: 500px;}
/* tablet */
@media (min-width: 768px) {
  .camera-gallery{
    height: auto;
  }
  .camera-gallery .align-items-sm-center {
    min-height: auto;
  }
  .camera-gallery .cg-grid-background {
    width: 577px;
  }
  .camera-gallery .cg-grid-wrapper {
    width: 386px;
    top: 135px;
  }  
  .camera-gallery .cg-gallery-items {
    width: 165px;
    margin: 27px 14px;
  }  
  .camera-gallery .cg-details {
    width: 596px;
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .camera-gallery .cg-items-background {
    font-size: 16px;
  }
  .camera-gallery .cg-helptex {  
    width: 596px;
    font-size: 24px;
    line-height: 29px;
    font-weight: lighter;
  }
  .camera-gallery .cg-details-wrapper h3 {
    font-size: 24px;
    line-height: 29px;
  }
  .camera-gallery .cg-details-wrapper h6 {
    font-size: 16px;
    line-height: 24px;
    height: auto;
    overflow-y: hidden;
  }

  .camera-gallery .cg-react-player  {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0;
    overflow: hidden;
  }
  .camera-gallery .cg-react-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
/* desktop */
@media (min-width: 1200px) {
  .camera-gallery {
    padding-top: 124px;
    height: auto;
  }
  .camera-gallery .order-md-first {
    -ms-flex-order: -1;
    order: -1
  }
  .camera-gallery .cg-helptex {  
    margin: 0px 0px;
  }
  .camera-gallery .cg-helptex.inactive {  
    display: none;
  }
  .camera-gallery .cg-details {
    top: auto;
    left: auto;
    transform: none;
    width: 645px;
  }
  .camera-gallery .cg-overlay {
    display: none;
  }
  .camera-gallery .cg-overlay.active {
    display: none;
  }
  .camera-gallery .cg-right {
    position: relative;
  }
  .camera-gallery .cg-gallery-items {
    cursor: pointer;
  }

  .camera-gallery .cg-react-player  {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0;
    overflow: hidden;
  }
  .camera-gallery .cg-react-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}
/* animantion */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-ms-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}