.motoblogpost-header-container {
  background: #001428;
  height: 93vw;
  max-height: 93vw;
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.motoblogpost-header-image {
  width: 100%;
  height: 93vw;
  max-height: 93vw;
  background: #001428;
  position: absolute;
  z-index: 2;
}

.motoblogpost-header-image:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -moz-linear-gradient(180deg, #00000000 0%, #000000 100%);
  background: -webkit-linear-gradient(180deg, #00000000 0%, #000000 100%);
  background: -o-linear-gradient(180deg, #00000000 0%, #000000 100%);
  background: -ms-linear-gradient(180deg, #00000000 0%, #000000 100%);
  background: linear-gradient(180deg, #00000000 0%, #000000 100%);
}

.motoblogpost-header-image img {
  width: 100%;
  height: 93vw;
  max-height: 93vw;
  object-fit: cover;
}

.motoblogpost-header {
  font-size: 21px;
  line-height: 27px;
  font-weight: 300;
  color: #ffffff;
  padding-right: 63px;
}

.motoblogpost-header-content {
  padding-bottom: 16px;
  top: 50%;
  z-index: 3;
}

.motoblogpost-header-content.container .row {
  margin-left: 16px;
  margin-right: 0;
}

.motoblogpost-avatar {
  width: 36px;
  height: 36px;
}

.motoblogpost-author {
  font-size: 14px;
  line-height: 34px;
  font-weight: 500;
  color: #ffffff;
  vertical-align: middle;
  display: inline-block;
  margin-left: 12px;
}

.motoblogpost-date {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.motoblogpost-separator::after {
  content: "|";
  color: #ffffff;
}

.motoblogpost-share {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #ffffff;
  text-transform: capitalize;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.motoblogpost-share-social-icons img {
  width: 16px;
  height: 16px;
}

.motoblogpost-share-social-icons {
  display: inline-block;
  margin-right: 12px;
  margin-left: 12px;
  vertical-align: middle;
  line-height: 12px;
}

.motoblogpost-share-social-icons div {
  cursor: pointer;
}

.motoblogpost-category {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  padding: 9px 12px;
  border: 1px solid #fff;
  border-radius: 16px;
  margin-right: 12px;
}

.motoblogpost-header-meta-section-one,
.motoblogpost-header-meta-section-two {
  margin-left: 16px;
}

.motoblogpost-header-meta-section-two {
  margin-top: 16px;
}

.motoblogpost-header-meta-section-one .motoblogpost-header-meta-item,
.motoblogpost-header-meta-section-two .motoblogpost-header-meta-item {
  display: inline-block;
  vertical-align: middle;
}

.motoblogpost-separator.mobile-none {
  display: none;
}

.motoblogpost-header-container .no-link {
  cursor: auto;
}

.mbphc-categories {
  display: none;
}

.mbphc-home-link,
.mbphc-home-link:hover,
.mbphc-home-link:active {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  overflow: hidden;
}

.mbphc-navigation-breadcrumb {
  position: absolute;
  top: 70px;
  color: #fff;
  z-index: 5;
  padding-left: 16px;
  padding-top: 16px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}

.mbphc-separator {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}
.mbphc-breadcrumb-optional-separator {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.mbphc-breadcrumb-title,
.mbphc-breadcrumb-optional-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90px;
  display: inline-block;
}
.mbphc-breadcrumb-optional-title {
  width: auto;
}

@media only screen and (max-device-width: 767px) {
  .motoblogpost-header-container .motoblogpost-header-content.container {
    margin-left: 0px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .motoblogpost-header {
    font-size: 36px;
    line-height: 54px;
    font-weight: 300;
    color: #ffffff;
    padding-right: 63px;
    margin-top: 16px;
  }

  .motoblogpost-header-container {
    height: 67vw;
    max-height: 67vw;
  }

  .motoblogpost-header-image {
    height: 67vw;
    max-height: 67vw;
  }

  .motoblogpost-header-image img {
    height: 67vw;
    max-height: 67vw;
  }

  .motoblogpost-header-content {
    margin-left: 0;
  }

  .motoblogpost-header-content.container .row {
    margin-left: 0;
  }

  .motoblogpost-header-meta-section-one,
  .motoblogpost-header-meta-section-two {
    display: inline-block;
  }
  .motoblogpost-header-meta-section-two {
    height: 36px;
    line-height: 30px;
    vertical-align: middle;
    margin-top: 0;
    margin-left: 0;
  }

  .motoblogpost-separator.mobile-none {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
  }

  .mbphc-categories {
    display: block;
  }
  .motoblogpost-no-author{
    margin-left: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .motoblogpost-header-container {
    height: 38vw;
    max-height: 38vw;
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .motoblogpost-header-image {
    height: 38vw;
    max-height: 38vw;
    position: absolute;
    z-index: 2;
  }

  .motoblogpost-header-image img {
    height: 38vw;
    max-height: 38vw;
  }

  .motoblogpost-header {
    font-size: 48px;
    line-height: 72px;
    font-weight: 300;
    color: #ffffff;
    padding-right: 63px;
    margin-top: 16px;
  }

  .motoblogpost-header-content.container {
    margin-left: 66px;
    z-index: 3;
  }

  .motoblogpost-header-content.container .row {
    margin-left: 0;
  }
  .motoblogpost-profile-pic {
    display: inline-block;
    vertical-align: middle;
  }
  .motoblogpost-author {
    line-height: 16px;
    margin-right: 18px;
  }
  .motoblogpost-date {
    font-size: 14px;
    line-height: 16px;
    margin-right: 16px;
    margin-left: 16px;
  }
  .motoblogpost-share {
    font-size: 14px;
    line-height: 16px;
  }
  .motoblogpost-share-social-icons img {
    width: 24px;
    height: 24px;
  }
  .motoblogpost-share {
    margin-left: 16px;
    margin-right: 4px;
  }
  .motoblogpost-separator {
    display: inline-block;
    vertical-align: middle;
  }
  .motoblogpost-header-meta-section-one,
  .motoblogpost-header-meta-section-two {
    display: inline-block;
  }
  .motoblogpost-header-meta-section-two {
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    margin-top: 0;
    margin-left: 0;
  }
  .motoblogpost-separator.mobile-none {
    display: inline-block;
  }
  .mbphc-categories {
    display: block;
  }
  .mbphc-navigation-breadcrumb {
    top: 84px;
    padding-left: 80px;
    padding-top: 24px;
  }
  .mbphc-breadcrumb-title {
    width: 150px;
  }
}
