/* .disclaimer-block-container {
  background-color: #111e31 !important;
  color: #ffffff;
  margin-top: -2px !important;
  padding-top: 20px;
  position: relative;
  font-weight: 300;
  font-family:  "Gotham A","Gotham B",'ruble';
} */
.prod-specification-detail {
  padding: 0px;
  margin-bottom: 0px;
  background-color: #111e31;
  padding: 5px 5px;
  position: relative;
}
.prod-specification-detail .psd-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}
.prod-specification-detail .psd-show-hide-label {
  display: none;
}
.prod-specification-detail .psd-container .psd-contents-wrapper {
  border-top: 1px solid #ffffff;
}

@media screen and (min-width: 768px) {
  .prod-specification-detail {
    margin-top: -2px;
    padding-bottom: 20px;
  }
  .prod-specification-detail .psd-container {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
  .prod-specification-detail .psd-show-hide-label {
    display: block;
    font-size: 24px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    cursor: pointer;
  }
  .prod-specification-detail .psd-container .psd-contents-wrapper {
    display: none;
    visibility: hidden;
    border-top: none;
  }
  .prod-specification-detail .psd-container.open .psd-contents-wrapper {
    display: block;
    visibility: visible;
  }
  .prod-specification-detail .psd-container.open .psd-show-hide-label.bottom {
    margin-top: 0;
  }
  .prod-specification-detail
    .psd-container
    .psd-show-hide-label
    .psd-top-arrow {
    vertical-align: middle;
    margin-right: 10px;
    transform: rotate(0deg);
    max-width: 34px;
    max-height: 34px;
  }
  .prod-specification-detail
    .psd-container.open
    .psd-show-hide-label
    .psd-top-arrow {
    transform: rotate(90deg);
  }
  .prod-specification-detail
    .psd-container.open
    .psd-show-hide-label
    .psd-bottom-arrow {
    vertical-align: middle;
    margin-right: 10px;
    max-width: 34px;
    max-height: 34px;
  }
  .prod-specification-detail .psd-container .psd-show-hide-label.bottom {
    display: none;
    visibility: hidden;
  }
  .prod-specification-detail .psd-container.open .psd-show-hide-label.bottom {
    display: block;
    visibility: visible;
  }
}

@media screen and (min-width: 992px) {
  .prod-specification-detail .psd-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
