.rc_container {
  padding: 10px 0;
  color: #ffffff;
}
.review {
  padding-left: 15px;
  padding-right: 15px;
  height: 230px;
  cursor: pointer;
}
.review-container {
  position: relative;
  height: 230px;
  border-radius: 22px;
}
.review-content {
  padding: 35px;
  position: relative;
  z-index: 1;
  height: 100%;
}
.review-description-container {
  margin: 0 0 10px 0;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.review-desktop-desc {
  display: block;
}
.review-mobile-desc {
  display: none;
}
.padding-left-right {
  padding: 0 15px 0 15px;
}

img.review-image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 230px;
}

/* Review logo image */
.review-logo-image {
  display: inline-block !important;
  height: 90px;
}

.review-logo-container {
  margin-top: 10px;
  display: flex;
    align-items: center;
}
.logo-border-right {
  border-right: 1px solid rgba(255,255,255,0.2);
}
.logo-border-left {
  border-left: 1px solid rgba(255,255,255,0.2);
}
/* review logo image end */

/* Background image container */
.review-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
/* Background image container end*/

/* arrow component */
.review-arrow {
  width: 25px;
  height: 25px;
  z-index: 100;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 45%;
  display: block;
  cursor: pointer;

}

.review-arrow-previous {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA0NTEuOCA0NTEuOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDUxLjggNDUxLjg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDojRkZGRkZGO308L3N0eWxlPjxnPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik05Ny4xLDIyNS45YzAtOC4xLDMuMS0xNi4yLDkuMy0yMi40TDMwMC43LDkuM2MxMi40LTEyLjQsMzIuNC0xMi40LDQ0LjgsMGMxMi40LDEyLjQsMTIuNCwzMi40LDAsNDQuN0wxNzMuNSwyMjUuOWwxNzEuOSwxNzEuOWMxMi40LDEyLjQsMTIuNCwzMi40LDAsNDQuN2MtMTIuNCwxMi40LTMyLjQsMTIuNC00NC44LDBMMTA2LjQsMjQ4LjNDMTAwLjIsMjQyLjEsOTcuMSwyMzQsOTcuMSwyMjUuOXoiLz48L2c+PC9zdmc+);
  left: 100px !important;
}
.review-arrow-next {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA0NTEuOCA0NTEuOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDUxLjggNDUxLjg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDojRkZGRkZGO308L3N0eWxlPjxnPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0zNDUuNCwyNDguM0wxNTEuMiw0NDIuNmMtMTIuNCwxMi40LTMyLjQsMTIuNC00NC44LDBjLTEyLjQtMTIuNC0xMi40LTMyLjQsMC00NC43bDE3MS45LTE3MS45TDEwNi40LDU0Yy0xMi40LTEyLjQtMTIuNC0zMi40LDAtNDQuN2MxMi40LTEyLjQsMzIuNC0xMi40LDQ0LjgsMGwxOTQuMywxOTQuM2M2LjIsNi4yLDkuMywxNC4zLDkuMywyMi40QzM1NC43LDIzNCwzNTEuNiwyNDIuMSwzNDUuNCwyNDguM3oiLz48L2c+PC9zdmc+);
  right: 100px !important;
}


/* arrow component end */
.slick-slide.slick-active .review-content {
  opacity: 1;
  background: none;
  border-radius: 0px;
}
.slick-slide .review-content {
  opacity: 0.7;
  background: #000000;
  border-radius: 22px;
}
.slick-slide .review-content:hover {
  opacity: 1;
  background: none;
  border-radius: 0px;
}

@media screen and (max-width: 767px) {
  .review {
    padding-left: 3px;
    padding-right: 3px;
  }
  .review-description-container {
    padding: 0 !important;
  }
  .review-arrow {
    top: 50%;

    top: 0;
    width: 8%;
  }
  .review-content {
    padding: 25px;
  }
  .review-arrow-previous {
    background-image: none !important;
    left: 1px !important;

  }
  .review-arrow-next {
    background-image: none !important;
    right: 1px !important;
  }

  .review-desktop-desc {
    display: none;
  }
  .review-mobile-desc {
    display: block;
    padding: 0 10px;
  }
  .slick-slide .review-content {
    opacity: 1;
    background: none;
    border-radius: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .review-arrow-previous {
    left: 10px !important;
  }
  .review-arrow-next {
    right: 10px !important;
  }
  .slick-slide.slick-active .review-content {
    opacity: 1;
  }
  .slick-slide .review-content{
    opacity: 0.5;
    background: none;
    border-radius: 0px;
  }
  .slick-slide.slick-active .review-content:hover {
    opacity: 1;
  }
  .slick-slide .review-content:hover {
    opacity: 0.7;
  }
}
.review-lazyload-default-img {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}