[class*="skuSelectorItem--white"],
[class*="skuSelectorItem--weiss"] {
  background: white;
}
[class*="skuSelectorItem--black000000"],
[class*="skuSelectorItem--black"],
[class*="skuSelectorItem--schwarz"] {
  background: #000000;
}
[class*="skuSelectorItem--blush-gold"] {
  background: #e1c4bc;
}
[class*="skuSelectorItem--brushed-bronze"] {
  background: #6b4e3c;
}
[class*="skuSelectorItem--cosmic-purple"] {
  background: #451a4c;
}
[class*="skuSelectorItem--deep-indigo"] {
  background: #484B63;
}
[class*="skuSelectorItem--denim-blue"] {
  background: #343d62;
}
[class*="skuSelectorItem--electric-grey"] {
  background: #707372;
}
[class*="skuSelectorItem--felt-grey"] {
  background: #707372;
}
[class*="skuSelectorItem--flash-grey"] {
  background: #727272;
}
[class*="skuSelectorItem--grey"] {
  background: grey;
}
[class*="skuSelectorItem--frost-white"] {
  background: #ffffff;
}
[class*="skuSelectorItem--dark-grey"] {
  background: #333f48;
}
[class*="skuSelectorItem--lunar-grey"] {
  background: #4f4f4f;
}
[class*="skuSelectorItem--marine-blue"] {
  background: #283857;
}
[class*="skuSelectorItem--melange-pink"] {
  background: #7c455c;
}
[class*="skuSelectorItem--orange"] {
  background: #ff6a00;
}
[class*="skuSelectorItem--oxford-blue"] {
  background: #394e6a;
}
[class*="skuSelectorItem--pearl-white"] {
  background: #f5f5f5;
}
[class*="skuSelectorItem--purple"]{
  background: #491d3f;
}
[class*="skuSelectorItem--red"] {
  background: #eb140a;
}
[class*="skuSelectorItem--starry-black"] {
  background: #000000;
}
[class*="skuSelectorItem--sterling-blue"] {
  background: #b7bdcb;
}
[class*="skuSelectorItem--white"] {
  background: #ffffff;
}
[class*="skuSelectorItem--yellow"] {
  background: #fee600;
}
[class*="skuSelectorItem--polished-graphite"] {
  background: #2a3439;
}
[class*="skuSelectorItem--bright-cherry"] {
  background: #790604;
}
[class*="skuSelectorItem--ceramic-black"] {
  background: #1e1e1e;
}
[class*="skuSelectorItem--ice-violet"] {
  background: #7d7893;
}
[class*="skuSelectorItem--fine-gold"] {
  background: #ccbea1;
}
[class*="skuSelectorItem--viva-red"] {
  background: #8d2328;
}
[class*="skuSelectorItem--bronze-gradient"] {
  background: #804a00;
}
[class*="skuSelectorItem--pearl-white"] {
  background: #eef4f4;
}
[class*="skuSelectorItem--polished-graphite"] {
  background: #2a3439;
}
[class*="skuSelectorItem--ultra-violet"] {
  background: #9d4199;
}
[class*="skuSelectorItem--space-blue"] {
  background: #003b59;
}
[class*="skuSelectorItem--cosmic-blue"] {
  background: #383680;
}
[class*="skuSelectorItem--steel-black"] {
  background: #120f12;
}
[class*="skuSelectorItem--crystal-pink"] {
  background: #8e2d31;
}
[class*="skuSelectorItem--sapphire-blue"] {
  background: #0f52ba;
}
[class*="skuSelectorItem--deepsea-blue"] {
  background: #006994;
}
[class*="skuSelectorItem--fresh-orchid"] {
  background: #6a3151;
}
[class*="skuSelectorItem--blau"] {
  background: rgb(0, 59, 89);
}
[class*="skuSelectorItem--silbergrau"] {
  background: rgb(127, 159, 174);
}
[class*="skuSelectorItem--gunmental"] {
  background: rgb(127, 159, 174);
}
[class*="skuSelectorItem--mineral-blue"] {
  background: rgb(45, 146, 224);
}
[class*="skuSelectorItem--violet-gradient"] {
  background: #d40083;
}
[class*="skuSelectorItem--sapphire-gradient"] {
  background: rgb(30, 60, 97);
}
[class*="skuSelectorItem--dark-amber"] {
  background: #601f1b;
}
[class*="skuSelectorItem--deep-sea-blue"] {
  background: #4797d9;
}
[class*="skuSelectorItem--smoke-black"] {
  background: #666666;
}
[class*="skuSelectorItem--capri-blue"] {
  background: #7195aa;
}
[class*="skuSelectorItem--smoke-black"] {
  background: #666666;
}
[class*="skuSelectorItem--mystic-indigo"] {
  background: #00a4d6;
}
[class*="skuSelectorItem--frost-white"] {
  background: #ffffff;
}
[class*="skuSelectorItem--blush-gold"] {
  background: #e1c4bc;
}
[class*="skuSelectorItem--electric-grey"] {
  background: #686d63;
}
[class*="skuSelectorItem--ocean-blue"] {
  background: #2ebfe6;
}
[class*="skuSelectorItem--crystal-pink"] {
  background: #8e2d31;
}
[class*="skuSelectorItem--fresh-orchid"] {
  background: #bf5393;
}
[class*="skuSelectorItem--noir-black"] {
  background: #000000;
}
[class*="skuSelectorItem--neon-blue"] {
  background: #5c88e1;
}
[class*="skuSelectorItem--peacock-blue"] {
  background: #157b90;
}
[class*="skuSelectorItem--sunrise-red"] {
  background: #af2947;
}
[class*="skuSelectorItem--mystic-indigo"] {
  background: #2d2b6d;
}
[class*="skuSelectorItem--frost-white"] {
  background: #ffffff;
}
[class*="skuSelectorItem--clear-white"] {
  background: #ffffff;
}
[class*="skuSelectorItem--blush-gold"] {
  background: #e1c4bc;
}
[class*="skuSelectorItem--noir-black"] {
  background: #000000;
}
[class*="skuSelectorItem--royal-blue"] {
  background: #1c325b;
}
[class*="skuSelectorItem--arctic-blue"] {
  background: #23acc1;
}
[class*="skuSelectorItem--blush-gold"] {
  background: #ac9889;
}
[class*="skuSelectorItem--smoky-sangria"] {
  background: #6e2548;
}
[class*="skuSelectorItem--thunder-grey"] {
  background: #074f71;
}
[class*="skuSelectorItem--solar-black"] {
  background: #0d0d0d;
}
[class*="skuSelectorItem--midnight-magenta"] {
  background: #672743;
}
[class*="skuSelectorItem--rose-gold"] {
  background: #e6a483;
}
[class*="skuSelectorItem--phantom-black"] {
  background: #1f1e1e;
}
[class*="skuSelectorItem--steel-gray"] {
  background: #a2a2a3;
}
[class*="skuSelectorItem--midnight-blue"] {
  background: #1c3554;
}
[class*="skuSelectorItem--meteor-grey"] {
  background: #58585d;
}
[class*="skuSelectorItem--electric-pink"] {
  background: #c14979;
}
[class*="skuSelectorItem--twilight-blue"] {
  background: #1b5f89;
}
[class*="skuSelectorItem--moonlight-white"] {
  background: #ffffff;
}
[class*="skuSelectorItem--surfing-blue"] {
  background: #1a54a4;
}
[class*="skuSelectorItem--mystic-lilac"] {
  background: #8587b9;
}
[class*="skuSelectorItem--polished-graphite"] {
  background: #565B5F;
}
[class*="skuSelectorItem--liquid-mercury"] {
  background: #A6A9AA;
}
[class*="skuSelectorItem--oxford-blue"] {
  background: #03123B;
}
[class*="skuSelectorItem--aurora-black"] {
  background: #323236;
}
[class*="skuSelectorItem--aurora-white"] {
  background: #E7E7E7;
}
[class*="skuSelectorItem--misty-blue"] {
  background: #173468;
}
[class*="skuSelectorItem--flash-gray"] {
  background: #71686A;
}
[class*="skuSelectorItem--polar-silver"] {
  background: #BEC3C5;
}
[class*="skuSelectorItem--frosted-silver"] {
  background: #B6B6B8;
}
[class*="skuSelectorItem--volcanic-grey"] {
  background: #4F4B55;
}
[class*="skuSelectorItem--cosmic-emerald"] {
  background: #24514C;
}
[class*="skuSelectorItem--iridescent-ocean"] {
  background: #3699B9;
}
[class*="skuSelectorItem--nebula-blue"] {
  background: #3e578e;
}
[class*="skuSelectorItem--iridescent-sky"] {
  background: #E3E9EB;
}
[class*="skuSelectorItem--glowing-blue"] {
  background: #1144B4;
}
[class*="skuSelectorItem--twilight-blue"] {
  background: #35426E;
}
[class*="skuSelectorItem--dusty-rose"] {
  background: #D2B4B5;
}
[class*="skuSelectorItem--neptune-green"] {
  background: #00D0DE;
}
[class*="skuSelectorItem--metallic-rose"] {
  background: #D2B4B5;
}
[class*="skuSelectorItem--cosmos-blue"] {
  background: #2A5161;
}
[class*="skuSelectorItem--stardust-white"] {
  background: #CDD5E4;
}
[class*="skuSelectorItem--dark-grove"] {
  background: #293135;
}
[class*="skuSelectorItem--ice-blue"] {
  background: #C2C8DE;
}
[class*="skuSelectorItem--moonlight-gray"] {
  background: #687689;
}
[class*="skuSelectorItem--steel-blue"] {
  background: #41465B;
}
[class*="skuSelectorItem--seafoam-green"] {
  background: #3D7167;
}