.moto-blog-podcast-list {
  background: #001428;
  padding-left: 16px;
  padding-bottom: 30px;
  padding-right: 16px;
  padding-top: 16px;
  border-bottom: 1px solid #334353;
}
.moto-blog-podcast-list .mbpl-top {
  display: flex;
  justify-content: space-between;
}
.moto-blog-podcast-list .mbpl-filter {
  z-index: 1;
  margin-top: 22px;
}
.moto-blog-podcast-list .mbpl-bottom {
  margin-top: 32px;
  margin-bottom: 2px;
}
.moto-blog-podcast-list .mbpl-heading {
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 0px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: 24px;
}
.moto-blog-podcast-list .mbpl-category-section {
  display: none;
}
.moto-blog-podcast-list .mbpl-category {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0px;
  display: inline-block;
  vertical-align: middle;
  padding: 9px 12px;
  border: 1px solid #ffffff;
  border-radius: 16px;
  margin-right: 12px;
  margin-top: 12px;
}
.moto-blog-podcast-list .mbpl-container-item {
  margin-bottom: 16px;
  height: 176px;
}
.moto-blog-podcast-list .mbpl-image {
  width: 32%;
  max-width: 32%;
  display: inline-block;
  vertical-align: top;
  height: 100%;
}
.moto-blog-podcast-list .mbpl-image img {
  height: 100%;
  max-height: 100%;
  width: 100%;
}
.moto-blog-podcast-list .mbpl-content {
  width: 68%;
  max-width: 68%;
  height: 100%;
  background: #000000;
  display: inline-block;
  vertical-align: top;
}
.moto-blog-podcast-list .mbpl-title {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0px;
  display: block;
  padding: 15px 16px 16px 16px;
}
.moto-blog-podcast-list .mbpl-date {
  color: #7f7f7f;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0px;
  display: block;
  padding-left: 16px;
  padding-bottom: 16px;
}
.moto-blog-podcast-list .no-link {
  cursor: auto;
}
.moto-blog-podcast-list .mbpl-navigation-breadcrumb {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  letter-spacing: 0px;
}
.moto-blog-podcast-list .mbpl-home-link,
.moto-blog-podcast-list .mbpl-home-link:hover,
.moto-blog-podcast-list .mbpl-home-link:active {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}
.moto-blog-podcast-list .mbpl-separator {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.moto-blog-podcast-list .mbpl-breadcrumb-title {
  display: inline-block;
}
.moto-blog-podcast-list .mbpl-image,
.moto-blog-podcast-list .mbpl-image img {
  object-fit: cover;
}
.moto-blog-podcast-list .mbpl-listennow {
  background: #cf4039 0% 0% no-repeat padding-box;
  text-align: center;
  height: 32px;
  margin-bottom: 16px;
  margin-right: 16px;
  margin-left: 16px;
  padding-top: 5px;
  cursor: pointer;
}
.moto-blog-podcast-list .mbpl-listennow .text {
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding-right: 12px;
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}
.moto-blog-podcast-list .mbpl-listennow .image {
  display: inline-block;
  position: relative;
  top: 3px;
}
.push-unsubscribe-link{
  position: absolute;
  z-index: 99;
  margin-left: 71%;
  top: 10%;
}
.push-unsubscribe-link a{ 
  color: #ffffff;
  font-size: 14px;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .moto-blog-podcast-list .mbpl-bottom {
    margin-top: 24px;
    margin-bottom: 8px;
  }
  .moto-blog-podcast-list .mbpl-heading {
    font-size: 24px;
    line-height: 29px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .moto-blog-podcast-list .mbpl-title {
    font-size: 21px;
    line-height: 32px;
    padding: 16px 46px 16px 24px;
    font-weight: 300;
  }
  .moto-blog-podcast-list .mbpl-date {
    font-size: 14px;
    line-height: 16px;
    padding-left: 24px;
    padding-bottom: 24px;
  }
  .moto-blog-podcast-list .mbpl-container-item {
    width: 48.5%;
    max-width: 48.5%;
    height: 54.5vw;
    max-height: 54.5vw;
    margin-bottom: 24px;
    display: inline-block;
    margin-right: 11px;
    position: relative;
  }
  .moto-blog-podcast-list .mbpl-category-section {
    padding-left: 24px;
    display: inline-block;
  }
  .moto-blog-podcast-list .mbpl-image {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: top;
  }
  .moto-blog-podcast-list .mbpl-image img {
    height: 100%;
    max-height: 100%;
    width: 100%;
  }
  .moto-blog-podcast-list .mbpl-content {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: fit-content;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    bottom: 0;
    left: 0;
    background: none;
  }
  .moto-blog-podcast-list .mbpl-image:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: -moz-linear-gradient(180deg, #00000000 0%, #000000 100%);
    background: -webkit-linear-gradient(180deg, #00000000 0%, #000000 100%);
    background: -o-linear-gradient(180deg, #00000000 0%, #000000 100%);
    background: -ms-linear-gradient(180deg, #00000000 0%, #000000 100%);
    background: linear-gradient(180deg, #00000000 0%, #000000 100%);
  }

  .moto-blog-podcast-list .mbpl-listennow {
    height: 48px;
    margin-bottom: 24px;
    margin-right: 24px;
    margin-left: 24px;
    padding-top: 14px;
  }
  .moto-blog-podcast-list .mbpl-listennow .text {
    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .moto-blog-podcast-list {
    padding-top: 24px;
  }
  .moto-blog-podcast-list .mbpl-title {
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .moto-blog-podcast-list {
    padding-top: 24px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
  .moto-blog-podcast-list .mbpl-container-item {
    height: 41vw;
    max-height: 41vw;
    margin-right: 11px;
  }
  .moto-blog-podcast-list .mbpl-navigation-breadcrumb {
    padding-top: 0px;
  }
}

@media screen and (min-width: 1025px) {
  .moto-blog-podcast-list .mbpl-container-item {
    width: 32%;
    max-width: 32%;
    height: 30vw;
    max-height: 30vw;
    display: inline-block;
    margin-right: 16px;
    position: relative;
  }
  .moto-blog-podcast-list .mbpl-category-section {
    padding-left: 24px;
    display: inline-block;
  }
}
