.water-wrapper {
  position: relative;

  padding-bottom: 64px;
}

.background-image {
  width: 100%;
  height: 100%;
}

.background-content {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  color: white;
  mix-blend-mode: difference;
}

.content-top {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 64px;
}

.content-top > h2 {
  font-weight: 400;
  font-size: 48px;
  margin: 0;
}

.content-bottom {
  display: flex;
  justify-content: center;
  gap: 48px;
  padding-bottom: 64px;
}

.content-bottom > h4 {
  margin: 0;
  font-weight: 400;
  text-align: right;
  font-size: 32px;
}

.content-bottom > p {
  text-align: left;
  font-size: 16px;
  max-width: 410px;
  margin: 0;
  line-height: 21px;
}

@media (max-width: 1025px) {
  .content-top {
    padding-top: 32px;
  }

  .content-bottom {
    padding-bottom: 32px;
  }
}

@media (max-width: 639px) {
  .content-top {
    padding-top: 0px;
    padding-left: 24px;
    justify-content: flex-start;
  }

  .content-top > h2 {
    max-width: 150px;
  }

  .content-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding-bottom: 32px;
    margin-left: auto;
    margin-right: 24px;
    max-width: 250px;
  }

  .content-bottom > h4 {
    text-align: left;
  }
}
