.moto-blog-downloads {
  background: #001428;
  padding-left: 16px;
  padding-bottom: 30px;
  padding-right: 16px;
  border-bottom: 1px solid #334353;
}

.moto-blog-downloads-section-title {
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 18px;
}

.moto-blog-downloads-container-item {
  margin-bottom: 32px;
}

.mbd-image {
  height: 80vw;
  max-height: 80vw;
  display: inline-block;
  vertical-align: top;
}

.mbd-image img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

.mbd-content-wrapper {
  height: 80vw;
  max-height: 80vw;
  position: relative;
}

.mbd-image:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: transparent linear-gradient(180deg, transparent, #000) 0 0
    no-repeat padding-box;
  opacity: 0.93;
}

.mbd-content {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  bottom: 0;
  left: 0;
}

.mbd-title {
  color: #ffffff;
  font-size: 21px;
  line-height: 32px;
  font-weight: 300;
  display: block;
  padding: 16px 31px 16px 16px;
}

.moto-blog-downloads .no-link {
  cursor: auto;
}
.mbd-cta-section{
  margin-top: 16px;
}

.mbd-category {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  background: #cf4039 0% 0% no-repeat padding-box;
  display: inline-block;
  vertical-align: middle;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}
.mbd-category img {
  margin-left: 16px;
  vertical-align: middle;
}
.mbd-download-link-text {
  max-width: 75%;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .moto-blog-downloads-container-item {
    width: 29.5%;
    max-width: 29.5%;
    height: 40.5vw;
    max-height: 40.5vw;
    margin-bottom: 32px;
    display: inline-block;
    margin-right: 23px;
    position: relative;
  }
  .mbd-content-wrapper {
    height: 33vw;
    max-height: 33vw;
    position: relative;
  }
  .mbd-image {
    width: 100%;
    max-width: 100%;
    height: 33vw;
    max-height: 33vw;
    display: inline-block;
    vertical-align: top;
  }

  .mbd-image img {
    height: 100%;
    max-height: 100%;
    width: 100%;
  }

  .mbd-content {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    bottom: 0;
    left: 0;
    background: none;
  }
  .mbd-title {
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
  }
  .moto-blog-downloads-section-title {
    font-size: 24px;
    line-height: 29px;
  }
  .moto-blog-downloads-container-item:last-child {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .moto-blog-downloads {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .moto-blog-downloads {
    padding: 40px 80px 35px 80px;
  }
  .moto-blog-downloads-section-title{
    padding-bottom: 32px;
  }
  .moto-blog-downloads-container-item {
    height: 38.5vw;
    max-height: 38.5vw;
    width: 29.5%;
    max-width: 29.5%;
  }
  .mbd-content-wrapper {
    height: 33vw;
    max-height: 33vw;
    position: relative;
  }
  .mbd-cta-section{
    margin-top: 10px;
  }
  .mbd-title {
    padding: 16px 38px 16px 24px;
  }
}

@media screen and (min-width: 1025px) {
  .moto-blog-downloads {
    padding: 40px 80px 60px 80px;
  }
  .moto-blog-downloads-container-item {
    width: 32%;
    max-width: 32%;
    height: 37vw;
    max-height: 37vw;
    margin-bottom: 16px;
    display: inline-block;
    margin-right: 18px;
    position: relative;
  }
  .moto-blog-downloads-container-item:nth-child(2) {
    margin-right: 18px;
  }
  .mbd-title {
    font-size: 21px;
    line-height: 32px;
    font-weight: 300;
    padding: 16px 70px 24px 24px;
  }
  .mbd-image {
    height: 30vw;
    max-height: 30vw;
  }
  .mbd-cta-section{
    margin-top: 24px;
  }
}
