@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

.container {
  margin: 0 auto;
  height: auto;
}

@media (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1139px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
  }
}
