@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-ms-keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-moz-keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-ms-keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-o-keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-moz-keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-ms-keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-o-keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
}

.moto-experience {
  max-width: 1200px;
  margin: 0 auto;
  color: #ffffff;
}

.moto-experience .me-container {
  padding: 35px 25px 35px;
  padding: 12vw 10vw 12vw;
}

.moto-experience .me-container.layer-left .me-title {
  text-align: left;
}

.moto-experience .me-container .me-title {
  font-size: 38px;
  font-size: 10vw;
  line-height: 1.2em;
  color: #b9b9b9;
  font-weight: bold;
  width: 100%;
  opacity: 0;
  transform: translateY(-50%);
}

.moto-experience .me-container .me-title.animate-in {
  animation-name: slideDown;
  animation-delay: 0.3s * 1;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.moto-experience .me-container .me-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-top: 26px;
  margin-top: 8vw;
}

.moto-experience .me-container .me-content .me-textbox {
  margin-top: 30px;
  margin-top: 10vw;
  width: 100%;
  width: 80vw;
  height: auto;
  height: 80vw;
  overflow: hidden;
  padding: 1.4em 1.2em;
  font-size: 20px;
  font-size: 6vw;
  line-height: 1.2em;
  text-align: left;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.18);
  display: inline-block;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  animation-delay: 0.3s * 2;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.moto-experience .me-container .me-content .me-textbox .me-textbox-text {
  opacity: 0;
  animation-delay: 0.3s * 5;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.moto-experience
  .me-container
  .me-content
  .me-textbox.animate-in
  .me-textbox-text {
  animation-name: fadeIn;
}

.moto-experience .me-container .me-content .me-image {
  width: 100%;
  height: auto;
  opacity: 0;
  animation-delay: 0.3s * 3;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.moto-experience .me-container .me-content .me-image img {
  width: 100%;
}

.moto-experience .me-container.layer-left .me-content .me-textbox,
.moto-experience .me-container.layer-left .me-content .me-image,
.moto-experience .me-container.layer-right .me-content .me-textbox,
.moto-experience .me-container.layer-right .me-content .me-image {
  transform: translateX(-5%);
}

.moto-experience .me-container.layer-left .me-content .me-textbox.animate-in,
.moto-experience .me-container.layer-right .me-content .me-image.animate-in {
  animation-name: slideRight;
}

.moto-experience .me-container.layer-left .me-content .me-image.animate-in,
.moto-experience .me-container.layer-right .me-content .me-textbox.animate-in {
  animation-name: slideLeft;
}

.moto-experience .me-container.layer-right .me-title {
  text-align: right;
}

@media screen and (min-width: 768px) {
  .moto-experience .me-container {
    padding: 30px 25px 60px;
  }

  .moto-experience .me-container .me-title {
    font-size: 40px;
  }

  .moto-experience .me-container .me-content {
    margin-top: 25px;
  }

  .moto-experience .me-container.layer-left .me-content {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .moto-experience .me-container .me-content .me-textbox {
    margin-top: 0;
    width: 14em;
    height: 14em;
    padding: 2.2em 1.6em;
    font-size: 16px;
    -webkit-flex-basis: auto;
    -ms-flex-basis: auto;
    flex-basis: auto;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
  }

  .moto-experience .me-container .me-content .me-image {
    width: auto;
    -webkit-flex-basis: 0;
    -ms-flex-basis: 0;
    flex-basis: 0;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
  }

  .moto-experience .me-container.layer-left .me-content .me-textbox {
    margin-right: 50px;
  }

  .moto-experience .me-container.layer-right .me-content {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .moto-experience .me-container.layer-right .me-content .me-textbox {
    margin-left: 50px;
  }
}

@media screen and (min-width: 992px) {
  .moto-experience .me-container {
    padding: 50px 30px 100px;
  }

  .moto-experience .me-container .me-title {
    font-size: 70px;
  }

  .moto-experience .me-container .me-content {
    margin-top: 54px;
  }

  .moto-experience .me-container .me-content .me-textbox {
    font-size: 20px;
    margin-top: 1em;
  }

  .moto-experience .me-container.layer-left .me-content .me-textbox {
    margin-top: 1em;
    margin-right: 100px;
  }

  .moto-experience .me-container.layer-right .me-content .me-textbox {
    margin-left: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .moto-experience .me-container .me-content .me-textbox {
    font-size: 24px;
  }
}

@media screen and (min-width: 1920px) {
  .moto-experience .me-container .me-content .me-textbox {
    font-size: 28px;
  }
}
.moto-experience-lazyload-default-img {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}