.blog-featured-press-kits-container {
  width: 100%;
}

.blog-featured-press-kits-container .bfpkc-header {
  margin-bottom: 20px;
}

.blog-featured-press-kits-container .bfpkc-title {
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}

.blog-featured-press-kits-container .bfpkc-learn-more {
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: #CF4039;
  text-transform: lowercase;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  float: right;
}

.bfpkc-learn-more-link, .bfpkc-learn-more-link:hover, .bfpkc-learn-more-link:active, .bfpkc-learn-more-link:focus {
  text-decoration: none;
  color: #CF4039;
}

.blog-featured-press-kits-container .bfpkc-learn-more-arrow {
  font-size: 12px;
  padding-left: 12px;
}

.blog-featured-press-kits-container .bfpkc-leader-section {
  width: 47%;
  height: 172px;
  display: inline-block;
  margin-bottom: 16px;
  position: relative;
}

.blog-featured-press-kits-container .bfpkc-leader-section:nth-of-type(odd) {
  margin-right: 9px;
}

.blog-featured-press-kits-container .bfpkc-leader-section:nth-of-type(even) {
  margin-left: 9px;
}

.blog-featured-press-kits-container .bfpkc-leader-section .bfpkc-image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.blog-featured-press-kits-container .bfpkc-leader-section .bfpkc-image:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -moz-linear-gradient(180deg, #00000000 0%, #000000 100%);
  background: -webkit-linear-gradient(180deg, #00000000 0%, #000000 100%);
  background: -o-linear-gradient(180deg, #00000000 0%, #000000 100%);
  background: -ms-linear-gradient(180deg, #00000000 0%, #000000 100%);
  background: linear-gradient(180deg, #00000000 0%, #000000 100%);
}

.blog-featured-press-kits-container .bfpkc-leader-section .bfpkc-image img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.blog-featured-press-kits-container .bfpkc-leader-section .bfpkc-text {
  width: auto;
  max-width: fit-content;
  height: auto;
  max-height: fit-content;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  bottom: 0;
  left: 0;
  background: none;
  padding-left: 16px;
  padding-bottom: 16px;
}

.blog-featured-press-kits-container .bfpkc-leader-section .bfpkc-text .bfpkc-leader-name {
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #ffffff;
  padding-bottom: 0;
}

.blog-featured-press-kits-container
  .bfpkc-leader-section
  .bfpkc-text
  .bfpkc-leader-position {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #aaaaaa;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  .blog-featured-press-kits-container .bfpkc-leader-section {
    width: 31%;
  }
  .blog-featured-press-kits-container .bfpkc-leader-section {
    height: 250px;
    margin-bottom: 24px;
  }
  .blog-featured-press-kits-container .bfpkc-leader-section:nth-of-type(odd) {
    margin-right: 0;
  }
  .blog-featured-press-kits-container .bfpkc-leader-section:nth-of-type(even) {
    margin-left: 0;
  }
  .blog-featured-press-kits-container .bfpkc-leader-section:nth-child(3n+2) {
    margin-left: 23px;
    margin-right: 23px;
  }
}

@media screen and (min-width: 1024px) {
    .blog-featured-press-kits-container .bfpkc-leader-section {
        width: 31.5%;
      }
}

@media screen and (min-width: 1200px) {
  .blog-featured-press-kits-container {
    background: #000000;
    padding: 24px 16px;
  }
  .blog-featured-press-kits-container .bfpkc-leader-section {
    width: 46%;
  }
}
