.vtex-store-components-3-x-skuSelectorItem--white,
.vtex-store-components-3-x-skuSelectorItem--weiss {
  background: white;
}
.vtex-store-components-3-x-skuSelectorItem--black000000,
.vtex-store-components-3-x-skuSelectorItem--black,
.vtex-store-components-3-x-skuSelectorItem--schwarz {
  background: #000000;
}
.vtex-store-components-3-x-skuSelectorItem--blush-gold {
  background: #e1c4bc;
}
.vtex-store-components-3-x-skuSelectorItem--brushed-bronze {
  background: #6b4e3c;
}
.vtex-store-components-3-x-skuSelectorItem--cosmic-purple {
  background: #451a4c;
}
.vtex-store-components-3-x-skuSelectorItem--deep-indigo {
  background: #484B63;
}
.vtex-store-components-3-x-skuSelectorItem--denim-blue {
  background: #343d62;
}
.vtex-store-components-3-x-skuSelectorItem--electric-grey {
  background: #707372;
}
.vtex-store-components-3-x-skuSelectorItem--felt-grey {
  background: #707372;
}
.vtex-store-components-3-x-skuSelectorItem--flash-grey {
  background: #727272;
}
.vtex-store-components-3-x-skuSelectorItem--grey {
  background: grey;
}
.vtex-store-components-3-x-skuSelectorItem--frost-white {
  background: #ffffff;
}
.vtex-store-components-3-x-skuSelectorItem--dark-grey {
  background: #333f48;
}
.vtex-store-components-3-x-skuSelectorItem--lunar-grey {
  background: #4f4f4f;
}
.vtex-store-components-3-x-skuSelectorItem--marine-blue {
  background: #283857;
}
.vtex-store-components-3-x-skuSelectorItem--melange-pink {
  background: #7c455c;
}
.vtex-store-components-3-x-skuSelectorItem--orange {
  background: #ff6a00;
}
.vtex-store-components-3-x-skuSelectorItem--oxford-blue {
  background: #394e6a;
}
.vtex-store-components-3-x-skuSelectorItem--pearl-white {
  background: #f5f5f5;
}
.vtex-store-components-3-x-skuSelectorItem--purple {
  background: #491d3f;
}
.vtex-store-components-3-x-skuSelectorItem--red {
  background: #eb140a;
}
.vtex-store-components-3-x-skuSelectorItem--starry-black {
  background: #000000;
}
.vtex-store-components-3-x-skuSelectorItem--sterling-blue {
  background: #b7bdcb;
}
.vtex-store-components-3-x-skuSelectorItem--white {
  background: #ffffff;
}
.vtex-store-components-3-x-skuSelectorItem--yellow {
  background: #fee600;
}
.vtex-store-components-3-x-skuSelectorItem--polished-graphite {
  background: #2a3439;
}
.vtex-store-components-3-x-skuSelectorItem--bright-cherry {
  background: #790604;
}
.vtex-store-components-3-x-skuSelectorItem--ceramic-black {
  background: #1e1e1e;
}
.vtex-store-components-3-x-skuSelectorItem--ice-violet {
  background: #7d7893;
}
.vtex-store-components-3-x-skuSelectorItem--fine-gold {
  background: #ccbea1;
}
.vtex-store-components-3-x-skuSelectorItem--viva-red {
  background: #8d2328;
}
.vtex-store-components-3-x-skuSelectorItem--bronze-gradient {
  background: #804a00;
}
.vtex-store-components-3-x-skuSelectorItem--pearl-white {
  background: #eef4f4;
}
.vtex-store-components-3-x-skuSelectorItem--polished-graphite {
  background: #2a3439;
}
.vtex-store-components-3-x-skuSelectorItem--ultra-violet {
  background: #9d4199;
}
.vtex-store-components-3-x-skuSelectorItem--space-blue {
  background: #003b59;
}
.vtex-store-components-3-x-skuSelectorItem--cosmic-blue {
  background: #383680;
}
.vtex-store-components-3-x-skuSelectorItem--steel-black {
  background: #120f12;
}
.vtex-store-components-3-x-skuSelectorItem--crystal-pink {
  background: #8e2d31;
}
.vtex-store-components-3-x-skuSelectorItem--sapphire-blue {
  background: #0f52ba;
}
.vtex-store-components-3-x-skuSelectorItem--deepsea-blue {
  background: #006994;
}
.vtex-store-components-3-x-skuSelectorItem--fresh-orchid {
  background: #6a3151;
}
.vtex-store-components-3-x-skuSelectorItem--blau {
  background: rgb(0, 59, 89);
}
.vtex-store-components-3-x-skuSelectorItem--silbergrau {
  background: rgb(127, 159, 174);
}
.vtex-store-components-3-x-skuSelectorItem--gunmental {
  background: rgb(127, 159, 174);
}
.vtex-store-components-3-x-skuSelectorItem--mineral-blue {
  background: rgb(45, 146, 224);
}
.vtex-store-components-3-x-skuSelectorItem--ice-violet-gradient {
  background: #d40083;
}
.vtex-store-components-3-x-skuSelectorItem--sapphire-gradient {
  background: rgb(30, 60, 97);
}
.vtex-store-components-3-x-skuSelectorItem--dark-amber {
  background: #601f1b;
}
.vtex-store-components-3-x-skuSelectorItem--deep-sea-blue {
  background: #4797d9;
}
.vtex-store-components-3-x-skuSelectorItem--smoke-black {
  background: #666666;
}
.vtex-store-components-3-x-skuSelectorItem--capri-blue {
  background: #7195aa;
}
.vtex-store-components-3-x-skuSelectorItem--smoke-black {
  background: #666666;
}
.vtex-store-components-3-x-skuSelectorItem--mystic-indigo {
  background: #00a4d6;
}
.vtex-store-components-3-x-skuSelectorItem--frost-white {
  background: #ffffff;
}
.vtex-store-components-3-x-skuSelectorItem--blush-gold {
  background: #e1c4bc;
}
.vtex-store-components-3-x-skuSelectorItem--electric-grey {
  background: #686d63;
}
.vtex-store-components-3-x-skuSelectorItem--ocean-blue {
  background: #2ebfe6;
}
.vtex-store-components-3-x-skuSelectorItem--ocean-blue {
  background: #2ebfe6;
}
.vtex-store-components-3-x-skuSelectorItem--crystal-pink {
  background: #8e2d31;
}
.vtex-store-components-3-x-skuSelectorItem--fresh-orchid {
  background: #bf5393;
}
.vtex-store-components-3-x-skuSelectorItem--noir-black {
  background: #000000;
}
.vtex-store-components-3-x-skuSelectorItem--neon-blue {
  background: #5c88e1;
}
.vtex-store-components-3-x-skuSelectorItem--peacock-blue {
  background: #157b90;
}
.vtex-store-components-3-x-skuSelectorItem--sunrise-red {
  background: #af2947;
}
.vtex-store-components-3-x-skuSelectorItem--mystic-indigo {
  background: #2d2b6d;
}
.vtex-store-components-3-x-skuSelectorItem--frost-white {
  background: #ffffff;
}
.vtex-store-components-3-x-skuSelectorItem--clear-white {
  background: #ffffff;
}
.vtex-store-components-3-x-skuSelectorItem--blush-gold {
  background: #e1c4bc;
}
.vtex-store-components-3-x-skuSelectorItem--noir-black {
  background: #000000;
}
.vtex-store-components-3-x-skuSelectorItem--royal-blue {
  background: #1c325b;
}
.vtex-store-components-3-x-skuSelectorItem--arctic-blue {
  background: #23acc1;
}
.vtex-store-components-3-x-skuSelectorItem--blush-gold {
  background: #ac9889;
}
.vtex-store-components-3-x-skuSelectorItem--smoky-sangria {
  background: #6e2548;
}
.vtex-store-components-3-x-skuSelectorItem--thunder-grey {
  background: #074f71;
}
.vtex-store-components-3-x-skuSelectorItem--thunder-gray {
  background: #074f71;
}
.vtex-store-components-3-x-skuSelectorItem--solar-black {
  background: #0d0d0d;
}
.vtex-store-components-3-x-skuSelectorItem--midnight-magenta {
  background: #672743;
}
.vtex-store-components-3-x-skuSelectorItem--rose-gold {
  background: #e6a483;
}
.vtex-store-components-3-x-skuSelectorItem--phantom-black {
  background: #1f1e1e;
}
.vtex-store-components-3-x-skuSelectorItem--steel-gray {
  background: #a2a2a3;
}
.vtex-store-components-3-x-skuSelectorItem--midnight-blue {
  background: #1c3554;
}
.vtex-store-components-3-x-skuSelectorItem--meteor-grey {
  background: #58585d;
}
.vtex-store-components-3-x-skuSelectorItem--electric-pink {
  background: #c14979;
}
.vtex-store-components-3-x-skuSelectorItem--twilight-blue {
  background: #1b5f89;
}
.vtex-store-components-3-x-skuSelectorItem--moonlight-white {
  background: #ffffff;
}
.vtex-store-components-3-x-skuSelectorItem--surfing-blue {
  background: #1a54a4;
}
.vtex-store-components-3-x-skuSelectorItem--mystic-lilac {
  background: #8587b9;
}
.vtex-store-components-3-x-skuSelectorItem--polished-graphite {
  background: #565B5F;
}
.vtex-store-components-3-x-skuSelectorItem--liquid-mercury {
  background: #A6A9AA;
}
.vtex-store-components-3-x-skuSelectorItem--oxford-blue {
  background: #03123B;
}
.vtex-store-components-3-x-skuSelectorItem--aurora-black {
  background: #323236;
}
.vtex-store-components-3-x-skuSelectorItem--aurora-white {
  background: #E7E7E7;
}
.vtex-store-components-3-x-skuSelectorItem--misty-blue {
  background: #173468;
}
.vtex-store-components-3-x-skuSelectorItem--flash-gray {
  background: #71686A;
}
.vtex-store-components-3-x-skuSelectorItem--polar-silver {
  background: #BEC3C5;
}
.vtex-store-components-3-x-skuSelectorItem--frosted-silver {
  background: #B6B6B8;
}
.vtex-store-components-3-x-skuSelectorItem--volcanic-grey {
  background: #4F4B55;
}
.vtex-store-components-3-x-skuSelectorItem--cosmic-emerald {
  background: #24514C;
}
.vtex-store-components-3-x-skuSelectorItem--iridescent-ocean {
  background: #3699B9;
}
.vtex-store-components-3-x-skuSelectorItem--nebula-blue {
  background: #3e578e;
}
.vtex-store-components-3-x-skuSelectorItem--iridescent-sky {
  background: #E3E9EB;
}
.vtex-store-components-3-x-skuSelectorItem--glowing-blue {
  background: #1144B4;
}
.vtex-store-components-3-x-skuSelectorItem--twilight-blue {
  background: #35426E;
}
.vtex-store-components-3-x-skuSelectorItem--dusty-rose {
  background: #D2B4B5;
}
.vtex-store-components-3-x-skuSelectorItem--neptune-green {
  background: #00D0DE;
}
.vtex-store-components-3-x-skuSelectorItem--metallic-rose {
  background: #D2B4B5;
}
.vtex-store-components-3-x-skuSelectorItem--cosmos-blue {
  background: #2A5161;
}
.vtex-store-components-3-x-skuSelectorItem--stardust-white {
  background: #CDD5E4;
}
.vtex-store-components-3-x-skuSelectorItem--dark-grove {
  background: #293135;
}
.vtex-store-components-3-x-skuSelectorItem--ice-blue {
  background: #C2C8DE;
}
.vtex-store-components-3-x-skuSelectorItem--twilight-black {
  background: #212327;
}
.vtex-store-components-3-x-skuSelectorItem--gardenia {
  background: #E5E6E6;
}
.vtex-store-components-3-x-skuSelectorItem--peak-blue {
  background: #789BAB;
}
.vtex-store-components-3-x-skuSelectorItem--moonlight-gray {
  background: #687689;
}
.vtex-store-components-3-x-skuSelectorItem--steel-bluee {
  background: #41465B;
}
.vtex-store-components-3-x-skuSelectorItem--seafoam-green {
  background: #3D7167;
}
