.product-details-rogue {
  background-color: #000a13 !important;
  background-image: none !important;
}

.product-details-rogue .moto-product-details-container {
  flex-direction: row-reverse;
  align-items: center;
}

/* Carousel */
.product-details-rogue .vtex-store-components-3-x-caretIcon {
  border-top: 2px solid #000 !important;
  border-left: 2px solid #000 !important;
}

.product-details-rogue .vtex-store-components-3-x-carouselGaleryThumbs {
  display: none;
}

.product-details-rogue .vtex-store-components-3-x-swiperBullet {
  width: 60px;
  height: 3px;
  border-radius: 2px;
}

/* Product Details Container */
.product-details-rogue .product-details-block-content {
  padding-left: 50px;
  line-height: normal;
}

.product-details-rogue .product-details-price {
  margin: 0px;
}

.product-details-rogue .vtex-store-components-3-x-listPrice {
  height: 30px;
}

.product-details-rogue .product-details-buy-button {
  margin-top: 20px !important;
  margin-bottom: 0px !important;
}

.product-details-rogue .product-details-buy-button .vtex-button {
  background-color: #fff;
  color: #000;
  font-weight: 500 !important;
  padding: 10px;
  margin-top: 0px;
  border-color: #fff;
  border: none;
  border-radius: 4px !important;
}

.product-details-rogue .moto-trade-in-wrapper {
  margin-top: 1px !important;
}

.product-details-rogue .product-details-float-image img {
  max-width: 150px;
}

/* SKU Selector */
.product-details-rogue [class*="skuSelectorName"] {
  display: flex;
  align-items: center;
  position: relative;
  width: max-content;
}

.product-details-rogue [class*="skuSelectorSubcontainer--color"],
.product-details-rogue [class*="skuSelectorSubcontainer--colour"] {
  width: 100% !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.product-details-rogue [class*="skuSelectorOptionsList"] {
  width: auto;
  height: max-content;
}

.product-details-rogue [class*="skuSelectorTextContainer "] {
  margin-bottom: 0px;
  margin-right: 20px;
  display: flex !important;
}

.product-details-rogue [class*="skuSelectorSelectorImageValue"] {
  position: absolute;
  left: 100%;
  width: fit-content;
  color: #5c8fa3;
  font-weight: 500;
}

.product-details-rogue
  [class*="skuSelectorSubcontainer"]
  .vtex-dropdown__container {
  border: none !important;
  background: #ffffff1f !important;
  border-radius: 4px !important;
  padding-right: 5px;
}

.product-details-rogue
  [class*="skuSelectorSubcontainer"]
  .vtex-dropdown__button {
  background-color: transparent;
  font-weight: 300;
  border-radius: 0.25rem;
}

.product-details-rogue
  [class*="skuSelectorSubcontainer"]
  [class*="frameAround"][class*="ba"] {
  border: 1px solid #fff !important;
}

@media (min-width: 1024px) {
  .product-details-rogue .modal-3d-wrapper .pdp-hero-3d-cta {
    left: 0%;
  }
}

@media (max-width: 991px) {
  .product-details-rogue [class*="skuSelectorContainer"] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .product-details-rogue [class*="skuSelectorName"] {
    flex-direction: column;
    align-items: flex-start;
    align-self: self-start;
    margin-bottom: 10px;
  }

  .product-details-rogue [class*="skuSelectorOptionsList"] {
    margin-left: 0px;
    width: 100%;
    justify-content: flex-start;
  }

  .product-details-rogue [class*="skuSelectorSelectorImageValue"] {
    position: relative;
    margin-left: 5px;
    left: 0px;
  }

  .product-details-rogue .affirm-product-details,
  .product-details-rogue .vtex-store-components-3-x-priceContainer,
  .product-details-rogue .vtex-store-components-3-x-sellingPriceContainer {
    text-align: left;
  }

  .product-details-rogue [class*="skuSelectorSubcontainer"] {
    margin-bottom: 10px;
  }

  .product-details-rogue [class*="skuSelectorNameContainer"] {
    width: 100%;
  }

  .product-details-rogue .product-details-block-content {
    padding-left: 0px;
  }

  .product-details-rogue .modal-3d-wrapper {
    position: relative;
    margin-top: -30px;
  }

  .product-details-rogue .modal-3d-wrapper .pdp-hero-3d-cta {
    position: initial;
  }

  .product-details-rogue .product-details-float-image {
    justify-content: flex-start;
    padding: 0px;
  }

  .product-details-rogue .product-details-description {
    text-align: left !important;
  }

  .product-details-rogue .product-details-price,
  .product-details-rogue .affirm-product-details,
  .product-details-rogue .product-details-buy-button {
    padding: 0px;
  }
}

.product-details-rogue
  .product-details-images
  > .vtex-store-components-3-x-content {
  display: flex;
}

.product-details-rogue
  .product-details-images
  > .vtex-store-components-3-x-content
  > .vtex-store-components-3-x-carouselContainer {
  flex: 1;
}

.product-details-rogue
  .product-details-images
  > .vtex-store-components-3-x-content
  > .vtex-store-components-3-x-carouselContainer
  > .vtex-store-components-3-x-carouselGaleryCursor {
  height: 100%;
}

.product-details-rogue
  .product-details-images
  > .vtex-store-components-3-x-content
  > .vtex-store-components-3-x-carouselContainer
  > .vtex-store-components-3-x-carouselGaleryCursor
  > div {
  height: 100%;
}
