/*
  US: color
  UK: color
  DE: farbe 
*/

.vtex-store-components-3-x-skuSelectorSubcontainer--color, 
.vtex-store-components-3-x-skuSelectorSubcontainer--colour, 
.vtex-store-components-3-x-skuSelectorSubcontainer--farbe,
.vtex-store-components-3-x-skuSelectorSubcontainer--couleur,
.vtex-store-components-3-x-skuSelectorSubcontainer--kleuren,
.vtex-store-components-3-x-skuSelectorSubcontainer--kolory,
.vtex-store-components-3-x-skuSelectorSubcontainer--colori {
  margin-top: 10px;
  width: 100%;
}

.vtex-store-components-3-x-skuSelectorSubcontainer--color .vtex-store-components-3-x-frameAround, 
.vtex-store-components-3-x-skuSelectorSubcontainer--colour .vtex-store-components-3-x-frameAround, 
.vtex-store-components-3-x-skuSelectorSubcontainer--farbe .vtex-store-components-3-x-frameAround,
.vtex-store-components-3-x-skuSelectorSubcontainer--couleur .vtex-store-components-3-x-frameAround,
.vtex-store-components-3-x-skuSelectorSubcontainer--kleuren .vtex-store-components-3-x-frameAround,
.vtex-store-components-3-x-skuSelectorSubcontainer--kolory .vtex-store-components-3-x-frameAround,
.vtex-store-components-3-x-skuSelectorSubcontainer--colori .vtex-store-components-3-x-frameAround{
  border-radius: 50%;
  border: none;
}
.vtex-store-components-3-x-skuSelectorSubcontainer--color .vtex-store-components-3-x-frameAround.ba,
.vtex-store-components-3-x-skuSelectorSubcontainer--colour .vtex-store-components-3-x-frameAround.ba,
.vtex-store-components-3-x-skuSelectorSubcontainer--farbe .vtex-store-components-3-x-frameAround.ba,
.vtex-store-components-3-x-skuSelectorSubcontainer--couleur .vtex-store-components-3-x-frameAround.ba,
.vtex-store-components-3-x-skuSelectorSubcontainer--kleuren .vtex-store-components-3-x-frameAround.ba,
.vtex-store-components-3-x-skuSelectorSubcontainer--kolory .vtex-store-components-3-x-frameAround.ba,
.vtex-store-components-3-x-skuSelectorSubcontainer--colori .vtex-store-components-3-x-frameAround.ba{
  border: 4px solid #fff;
}
.vtex-store-components-3-x-skuSelectorSubcontainer--color .vtex-store-components-3-x-skuSelectorItem .w-100.h-100,
.vtex-store-components-3-x-skuSelectorSubcontainer--colour .vtex-store-components-3-x-skuSelectorItem .w-100.h-100,
.vtex-store-components-3-x-skuSelectorSubcontainer--farbe .vtex-store-components-3-x-skuSelectorItem .w-100.h-100,
.vtex-store-components-3-x-skuSelectorSubcontainer--couleur .vtex-store-components-3-x-skuSelectorItem .w-100.h-100,
.vtex-store-components-3-x-skuSelectorSubcontainer--kleuren .vtex-store-components-3-x-skuSelectorItem .w-100.h-100,
.vtex-store-components-3-x-skuSelectorSubcontainer--kolory .vtex-store-components-3-x-skuSelectorItem .w-100.h-100,
.vtex-store-components-3-x-skuSelectorSubcontainer--colori .vtex-store-components-3-x-skuSelectorItem .w-100.h-100{
  border: none !important;
}
.vtex-store-components-3-x-skuSelectorSubcontainer--color .vtex-store-components-3-x-skuSelectorItem,
.vtex-store-components-3-x-skuSelectorSubcontainer--colour .vtex-store-components-3-x-skuSelectorItem,
.vtex-store-components-3-x-skuSelectorSubcontainer--farbe .vtex-store-components-3-x-skuSelectorItem,
.vtex-store-components-3-x-skuSelectorSubcontainer--couleur .vtex-store-components-3-x-skuSelectorItem,
.vtex-store-components-3-x-skuSelectorSubcontainer--kleuren .vtex-store-components-3-x-skuSelectorItem,
.vtex-store-components-3-x-skuSelectorSubcontainer--kolory .vtex-store-components-3-x-skuSelectorItem,
.vtex-store-components-3-x-skuSelectorSubcontainer--colori .vtex-store-components-3-x-skuSelectorItem{
  border-radius: 50%;
  margin-right: 1rem;
}

.vtex-store-components-3-x-skuSelectorSubcontainer--color .vtex-store-components-3-x-skuSelectorItem img,
.vtex-store-components-3-x-skuSelectorSubcontainer--colour .vtex-store-components-3-x-skuSelectorItem img,
.vtex-store-components-3-x-skuSelectorSubcontainer--farbe .vtex-store-components-3-x-skuSelectorItem img,
.vtex-store-components-3-x-skuSelectorSubcontainer--couleur .vtex-store-components-3-x-skuSelectorItem img,
.vtex-store-components-3-x-skuSelectorSubcontainer--kleuren .vtex-store-components-3-x-skuSelectorItem img,
.vtex-store-components-3-x-skuSelectorSubcontainer--kolory .vtex-store-components-3-x-skuSelectorItem img,
.vtex-store-components-3-x-skuSelectorSubcontainer--colori .vtex-store-components-3-x-skuSelectorItem img{
  display: none;
}

.vtex-store-components-3-x-skuSelectorSubcontainer--carrier .vtex-store-components-3-x-frameAround,
.vtex-store-components-3-x-skuSelectorSubcontainer--in-the-box .vtex-store-components-3-x-frameAround,
.vtex-store-components-3-x-skuSelectorSubcontainer--storage .vtex-store-components-3-x-frameAround,
.vtex-store-components-3-x-skuSelectorSubcontainer--sim-card .vtex-store-components-3-x-frameAround,
.vtex-store-components-3-x-skuSelectorSubcontainer--sim-karte .vtex-store-components-3-x-frameAround,
.vtex-store-components-3-x-skuSelectorSubcontainer--speicherkapazitat .vtex-store-components-3-x-frameAround,
.vtex-store-components-3-x-skuSelectorSubcontainer--memoria-interna .vtex-store-components-3-x-frameAround {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px !important;
}
.vtex-store-components-3-x-skuSelectorSubcontainer--carrier .vtex-store-components-3-x-frameAround.ba,
.vtex-store-components-3-x-skuSelectorSubcontainer--in-the-box .vtex-store-components-3-x-frameAround.ba,
.vtex-store-components-3-x-skuSelectorSubcontainer--storage .vtex-store-components-3-x-frameAround.ba,
.vtex-store-components-3-x-skuSelectorSubcontainer--sim-card .vtex-store-components-3-x-frameAround.ba,
.vtex-store-components-3-x-skuSelectorSubcontainer--sim-karte .vtex-store-components-3-x-frameAround.ba,
.vtex-store-components-3-x-skuSelectorSubcontainer--speicherkapazitat .vtex-store-components-3-x-frameAround.ba,
.vtex-store-components-3-x-skuSelectorSubcontainer--memoria-interna .vtex-store-components-3-x-frameAround.ba {
  border-radius: 5px !important;
  box-shadow: 0 0 1px 2px #fff !important;
}
.vtex-store-components-3-x-skuSelectorSubcontainer--carrier .vtex-store-components-3-x-skuSelectorItem .w-100.h-100,
.vtex-store-components-3-x-skuSelectorSubcontainer--in-the-box .vtex-store-components-3-x-skuSelectorItem .w-100.h-100,
.vtex-store-components-3-x-skuSelectorSubcontainer--storage .vtex-store-components-3-x-skuSelectorItem .w-100.h-100,
.vtex-store-components-3-x-skuSelectorSubcontainer--sim-card .vtex-store-components-3-x-skuSelectorItem .w-100.h-100,
.vtex-store-components-3-x-skuSelectorSubcontainer--sim-karte .vtex-store-components-3-x-skuSelectorItem .w-100.h-100,
.vtex-store-components-3-x-skuSelectorSubcontainer--speicherkapazitat .vtex-store-components-3-x-skuSelectorItem .w-100.h-100,
.vtex-store-components-3-x-skuSelectorSubcontainer--memoria-interna .vtex-store-components-3-x-skuSelectorItem .w-100.h-100 {
  border: none !important;
}
.vtex-store-components-3-x-skuSelectorSubcontainer--carrier .vtex-store-components-3-x-skuSelectorItem .w-100.h-100 .t-body,
.vtex-store-components-3-x-skuSelectorSubcontainer--in-the-box .vtex-store-components-3-x-skuSelectorItem .w-100.h-100 .t-body,
.vtex-store-components-3-x-skuSelectorSubcontainer--storage .vtex-store-components-3-x-skuSelectorItem .w-100.h-100 .t-body,
.vtex-store-components-3-x-skuSelectorSubcontainer--sim-card .vtex-store-components-3-x-skuSelectorItem .w-100.h-100 .t-body,
.vtex-store-components-3-x-skuSelectorSubcontainer--sim-karte .vtex-store-components-3-x-skuSelectorItem .w-100.h-100 .t-body,
.vtex-store-components-3-x-skuSelectorSubcontainer--speicherkapazitat .vtex-store-components-3-x-skuSelectorItem .w-100.h-100 .t-body, 
.vtex-store-components-3-x-skuSelectorSubcontainer--memoria-interna .vtex-store-components-3-x-skuSelectorItem .w-100.h-100 .t-body {
  color: white;
}

.vtex-store-components-3-x-skuSelectorName {
  color: white !important;
}

.vtex-store-components-3-x-skuSelectorItem {
  margin-right: 20px !important;
} 

.vtex-store-components-3-x-skuSelectorContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.vtex-store-components-3-x-skuSelectorSubcontainer--storage .vtex-store-components-3-x-skuSelectorOptionsList .ma2.o-20{
  opacity: 0.7;
}
