.timer {
  vertical-align: bottom;
}

.timer .circle {
  stroke-linecap: round;
  fill: none;
}

.timer .circle.dashed {
  stroke-width: 2px;
  stroke: white;
  stroke-opacity: 0.45;
}

.timer .circle.gradient {
  stroke-dashoffset: 30px;
  stroke-width: 4px;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transform-origin: 50% 50%;
}

.timer .value {
  fill: #ffffff;
  font-size: 30px;
  font-weight: 700;
}

.timer .label {
  font-size: 5px;
  font-weight: 700;
  text-transform: uppercase;
}
