.timer.small {
  vertical-align: bottom;
}
.timer.small .gif {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
}
.timer.small .label {
  font-size: 6px;
  font-weight: 700;
  text-transform: uppercase;
  fill: white;
  padding-top: 10px;
}
