.prod-specification-detail .psd-items-group {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ffffff;
  padding: 0;
  word-wrap: break-word;
  flex-direction: column;
}
.prod-specification-detail .psd-items-group .psd-items-category {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: capitalize;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prod-specification-detail
  .psd-items-group
  .psd-items-category
  .psd-mobile-arrow {
  transform: rotate(90deg);
  max-width: 10px;
  max-height: 10px;
}
.prod-specification-detail
  .psd-items-group.mobile-open
  .psd-items-category
  .psd-mobile-arrow {
  transform: rotate(-90deg);
}

.prod-specification-detail .psd-items-group .psd-items-contents {
  flex-direction: column;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}
.prod-specification-detail .psd-items-group.mobile-open .psd-items-contents {
  max-height: 1000px;
}
.prod-specification-detail .psd-items-group .psd-items-contents .psd-item-box {
  width: 100%;
  padding: 0 15px 0 15px;
  word-wrap: break-word;
  margin-right: 20px;
}
.prod-specification-detail
  .psd-items-group
  .psd-items-contents
  .psd-contents-item-wrapper {
  margin-bottom: 35px;
}
.prod-specification-detail
  .psd-items-group
  .psd-items-contents
  .psd-contents-item-headline {
  font-weight: 700;
  text-transform: capitalize;
}
.prod-specification-detail
  .psd-items-group
  .psd-items-contents
  .psd-contents-item-value
  a {
  color: var(--color);
}
.prod-specification-detail .psd-items-group .psd-items-contents .color-box {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}
.psd-items-contents {
  color: #ffffff;
}
.prod-specification-detail
  .psd-items-group
  .psd-items-contents
  .color-box.white-color {
  border: 3px solid #ffffff;
}
@media screen and (min-width: 768px) {
  .prod-specification-detail .psd-items-group {
    padding: 40px 0 45px 0;
    flex-direction: row;
  }
  
  .psd-contents-item-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding: 0 10px;
  }
  .prod-specification-detail .psd-contents-wrapper .psd-items-group:last-child {
  border-bottom: none;
}
  .prod-specification-detail .psd-items-group .psd-items-contents {
    height: auto;
    max-height: none;
    transition: none;
  }
  .prod-specification-detail .psd-items-group .psd-items-contents {
    width: 80%;
    padding: 0 7.5px 0 7.5px;
  }
  .prod-specification-detail .psd-items-group .psd-items-category {
    width: 20%;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 24px;
    font-weight: 400;
    cursor: auto;
    padding-left: 0;
    padding-right: 0;
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .prod-specification-detail
    .psd-items-group
    .psd-items-contents
    .psd-item-box {
    padding: 0 15px 0 15px;
  }
}
