@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css');
* {
  font-family: "Gotham A","Gotham B",'ruble';
}

.container {
  margin: 0 auto;
  height: auto;
}

body {
  padding-top: 83px;
}

@media (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1139px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 1119px) {
  body {
    padding-top: 54px;
  }
  .container {
    max-width: 100%;
  }
}


@media (max-width: 411px) {
  .vtex-toast, .vtex-toast a {
    font-size: 13px !important
  }
}

/* Order placed */
section[data-testid="warnings-section"] ul li:first-child p {
  visibility: hidden;
  position: relative;
}
section[data-testid="warnings-section"] ul li:first-child p::after {
  content: "Payment approval may take from 4 hours up to 5 business days.";
  visibility: visible;
  display: block;
  margin-top: -.75rem
}
a[data-testid="button-link"] button.c-danger {
  display: none;
}
.vtex-my-orders-app-3-x-orderDetails > div > section > article:nth-child(3) > section > div:nth-child(4) > div:nth-child(1) {
  visibility: hidden;
}
.vtex-my-orders-app-3-x-orderDetails > div > section > article:nth-child(3) > section > div:nth-child(4) > div:nth-child(1)::after {
  content: "Taxes";
  visibility: visible;
  display: block;
  margin-top: -1rem;
}