.scroll-video--section-wapper {
  width: 100%;
}

.scroll-video__animation-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000a13;
  width: 100vw;
}

.scroll-video__player-wrapper {
  background: #000a13;
  position: relative;
  width: 100%;
  top: 0;
}

.scroll-video__player-wrapper--react-video iframe {
  position: relative;
  left: 0;
  top: 30px !important;
  transform: none;
}

.scrollmagic-pin-spacer {
  padding-top: 0px !important;
}

.vp-video-wrapper {
  top: 69px !important;
}

.scroll-video__animation-container {
  position: sticky !important;
  position: -webkit-sticky;
  overflow: hidden;
  top: 0 !important;
}

.scroll-video__text-wrapper {
  color: #fff;
  text-align: center;
  transform-origin: center;
  z-index: 2;
  position: absolute;
  flex-direction: column;
  -webkit-transform-origin-y: center;
  display: flex;
  margin: auto;
  width: max-content;
  line-height: 36px;
  margin-bottom: 128px;
  white-space: nowrap;
}

@media screen and (max-width: 1324px) {
  .scroll-video__text-wrapper {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 820px) {
  .scroll-video__text-wrapper {
    margin-bottom: 128px;
  }
}

@media screen and (max-width: 768px) {
  .scroll-video__player-wrapper--react-video iframe {
    top: 2% !important;
  }
}
