.builder-card .bc-video-wrapper {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 90;
}
.builder-card .bc-video-wrapper iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* builder youtube */
.builder-card .colmd-12 .bc-builder-video-container {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.builder-card .colmd-12 .bc-builder-video-container .bc-video-wrapper {
  text-align: left;
  padding-top: 51vh;
  margin-top: -80vh;
  padding-bottom: 57.25vh;
}
.builder-card .colmd-6 .bc-builder-video-container {
  min-height: 47.5vh;
  display: table;
}
.builder-card .colmd-6 .bc-builder-video-container .bc-video-wrapper {
  padding-top: 51vh;
  margin-top: -81vh;
  padding-bottom: 57.25vh;
}

@media screen and (min-width: 768px) {
  .builder-card .colmd-12 .bc-builder-video-container {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  .builder-card .colmd-12 .bc-builder-video-container .bc-video-wrapper {
    text-align: left;
    padding-top: 143vh;
    margin-top: -217vh;
    padding-bottom: 56.25vh;
  }
  .builder-card .colmd-6 .bc-builder-video-container {
    min-height: 47.5vh;
    display: table;
  }
  .builder-card .colmd-6 .bc-builder-video-container .bc-video-wrapper {
    padding-top: 141vh;
    margin-top: -216vh;
    padding-bottom: 56.25vh;
  }
}

@media screen and (min-width: 1367px) {
  .builder-card .colmd-12 .bc-builder-video-container {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  .builder-card .colmd-12 .bc-builder-video-container .bc-video-wrapper {
    text-align: left;
    padding-top: 126vh;
    margin-top: -171vh;
    padding-bottom: 56.25vh;
  }
  .builder-card .colmd-6 .bc-builder-video-container {
    min-height: 95vh;
    display: table;
  }
  .builder-card .colmd-6 .bc-builder-video-container .bc-video-wrapper {
    padding-top: 126vh;
    margin-top: -169vh;
    padding-bottom: 56.25vh;
  }
}
