.bc-paragraphs-item-panels .fbvc-vimeo-video {
  height: 100%;
  width: auto;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
}

.bc-paragraphs-item-panels .fbvc-vimeo-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 766px) {
  .bc-paragraphs-item-panels .fbvc-vimeo-video {
    width: 100%;
    padding-bottom: 100%;  /* 1:1 */
  }
}
