/* bc-panel-draw-region */
.bc-panel-draw-region section.bc-panel-region[class*="paragraph-item-region-"] {
  background-color: #000000;
}
.bc-panel-draw-region .bc-draw-region-close {
  padding-top: 10px;
  padding-left: calc(50vw - 25px);
  padding-bottom: 30px;

  position: relative;
  background-color: #001428;
}
.bc-panel-draw-region .bc-draw-region-close .bc-draw-region-close-icon {
  width: 50px;
  cursor: pointer;
}
.bc-panel-draw-region .bc-draw-region-close .bc-draw-region-close-icon img {
  width: 40px;
}
.bc-panel-draw-region .builder-card .colmd-12 {
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}
.bc-panel-draw-region .builder-card .colmd-12 .builder-video-container {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 47.5vh;
}
.bc-panel-draw-region .builder-card .colmd-6 .builder-video-container {
  height: 47.5vh;
}
.bc-panel-draw-region
  .builder-card
  .colmd-12
  .builder-video-container
  .video-wrapper {
  text-align: left;
  padding-top: 51vh;
  margin-top: -80vh;
  padding-bottom: 57.25vh;
}
.bc-panel-draw-region
  .builder-card
  .colmd-6
  .builder-video-container
  .video-wrapper {
  padding-top: 51vh;
  margin-top: -81vh;
  padding-bottom: 57.25vh;
}

@media screen and (min-width: 768px) {
  .bc-panel-draw-region .builder-card .colmd-12 {
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
  }
  .bc-panel-draw-region .builder-card .colmd-12 .builder-video-container {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 47.5vh;
  }
  .bc-panel-draw-region .builder-card .colmd-6 .builder-video-container {
    height: 47.5vh;
  }
  .bc-panel-draw-region
    .builder-card
    .colmd-12
    .builder-video-container
    .video-wrapper {
    text-align: left;
    padding-top: 143vh;
    margin-top: -217vh;
    padding-bottom: 56.25vh;
  }
  .bc-panel-draw-region
    .builder-card
    .colmd-6
    .builder-video-container
    .video-wrapper {
    padding-top: 141vh;
    margin-top: -216vh;
    padding-bottom: 56.25vh;
  }
}
@media screen and (min-width: 992px) {
  .bc-panel-draw-region .bc-draw-region-close {
    padding-bottom: 50px;
  }
  .bc-panel-draw-region .bc-draw-region-close .bc-draw-region-close-icon img {
    width: 50px;
  }
  .bc-panel-draw-region .builder-card .colmd-12 {
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
  }
  .bc-panel-draw-region .builder-card .colmd-12 .builder-video-container {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 95vh;
  }
  .bc-panel-draw-region .builder-card .colmd-6 .builder-video-container {
    height: 95vh;
  }
  .bc-panel-draw-region
    .builder-card
    .colmd-12
    .builder-video-container
    .video-wrapper {
    text-align: left;
    padding-top: 126vh;
    margin-top: -171vh;
    padding-bottom: 56.25vh;
  }
  .bc-panel-draw-region
    .builder-card
    .colmd-6
    .builder-video-container
    .video-wrapper {
    padding-top: 126vh;
    margin-top: -169vh;
    padding-bottom: 56.25vh;
  }
}
