.prod-specification-detail .psd-items-group {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 0;
  word-wrap: break-word;
  flex-direction: column;
}
.prod-specification-detail .psd-items-group .psd-items-category {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: capitalize;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prod-specification-detail
  .psd-items-group
  .psd-items-category
  .psd-mobile-arrow {
  transform: rotate(90deg);
  max-width: 10px;
  max-height: 10px;
}
.prod-specification-detail
  .psd-items-group.mobile-open
  .psd-items-category
  .psd-mobile-arrow {
  transform: rotate(-90deg);
}
.prod-specification-detail .psd-contents-wrapper div:last-child {
  border-bottom: none !important;
}
.prod-specification-detail .psd-items-group .psd-items-contents {
  flex-direction: column;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  overflow: hidden;
  height: 0;
  max-height: 0;
  transition: max-height 1s ease-in-out;
}
.prod-specification-detail .psd-items-group.mobile-open .psd-items-contents {
  display: flex !important;
  height: auto;
  max-height: 1000px;
}
.prod-specification-detail .psd-items-group .psd-items-contents .psd-item-box {
  width: 100%;
  padding: 0 15px 0 15px;
  word-wrap: break-word;
  margin-right: 20px;
}
.prod-specification-detail
  .psd-items-group
  .psd-items-contents
  .psd-contents-item-wrapper {
  margin-bottom: 35px;
}
.prod-specification-detail
  .psd-items-group
  .psd-items-contents
  .psd-contents-item-headline {
  font-weight: bold;
  text-transform: capitalize;
}
.prod-specification-detail
  .psd-items-group
  .psd-items-contents
  .psd-contents-item-value
  a {
  color: var(--color);
}
.prod-specification-detail .psd-items-group .psd-items-contents .color-box {
  height: 70px;
  width: 70px;
  border-radius: 70px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.prod-specification-detail
  .psd-items-group
  .psd-items-contents
  .color-box-label {
  float: left;
  margin-top: 25px;
  font-weight: bold;
  text-transform: capitalize;
}
.prod-specification-detail
  .psd-items-group
  .psd-items-contents
  .color-box.white-color {
  border: 4px solid #f1f1f1;
}
@media screen and (min-width: 768px) {
  .prod-specification-detail .psd-items-group {
    padding: 40px 0 45px 0;
  }
  .prod-specification-detail .psd-items-group .psd-items-contents {
    display: flex;
    flex-direction: row;
    height: auto;
    max-height: none;
    transition: none;
  }
  .prod-specification-detail
    .psd-items-group
    .psd-items-contents
    .psd-item-box {
    width: 33.33%;
    padding: 0 7.5px 0 7.5px;
  }
  .prod-specification-detail .psd-items-group .psd-items-category {
    margin-bottom: 40px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 24px;
    cursor: auto;
    padding-left: 0;
    padding-right: 0;
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .prod-specification-detail .psd-items-group {
    flex-direction: row;
  }
  .prod-specification-detail
    .psd-items-group
    .psd-items-contents
    .psd-item-box {
    padding: 0 15px 0 15px;
  }
  .prod-specification-detail .psd-items-group .psd-items-category {
    width: 20%;
    margin-bottom: 0;
  }
  .prod-specification-detail .psd-items-group .psd-items-contents {
    width: 80%;
  }
}
