.full-bleed-image {
  position: relative;
  height: 100%;
  color: #ffffff;
  background-color: #001428;
}

.full-bleed-image h6 {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.full-bleed-image h3 {
  font-size: 30px;
  line-height: 34px;
}

.full-bleed-image .fbi-background-image img {
  display: block;
}

.full-bleed-image .fbi-content {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 30px 20px;
  height: 100%;
}

.fbi-description-layer{
  width: 100%;
  top: 0;
  height: 100%;
}
.fbi-description-container{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .fbi-description-layer{
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
  }
  .full-bleed-image .fbi-content {
    padding: 30px 0px;
    display: flex;
  }
  .full-bleed-image .fbi-content.left-aligned {
    width: 50%;
    text-align: left;
    float: left;
  }
  .full-bleed-image .fbi-content.right-aligned {
    width: 50%;
    text-align: left;
    float: right;
  }
  .full-bleed-image .fbi-content.center-aligned {

    width: 100%;
    text-align: center;
    /* float: left; */
    /* text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); */
  }

  .full-bleed-image .left-aligned .center-vertical,
  .full-bleed-image .right-aligned .center-vertical,
  .full-bleed-image .left-aligned .top-vertical,
  .full-bleed-image .right-aligned .top-vertical,
  .full-bleed-image .left-aligned .bottom-vertical,
  .full-bleed-image .right-aligned .bottom-vertical,
  .full-bleed-image .center-aligned .top-vertical,
  .full-bleed-image .center-aligned .bottom-vertical,
  .full-bleed-image .center-aligned .center-vertical {
    /* width: 80%; */
    margin: 0 auto;
    padding: 0 15px;

  }

  .full-bleed-image .fbi-content .center-vertical {
    align-self: center;
  }

  .full-bleed-image .fbi-content .top-vertical {
    align-self: flex-start;
  }

  .full-bleed-image .fbi-content .bottom-vertical {
    align-self: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .full-bleed-image .fbi-content {
    max-width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .full-bleed-image .camera div {
    text-align: left;
    width: 50%;
    margin: auto;
    padding: 10px;
  }

  .full-bleed-image .camera h3 {
    margin-bottom: -10px;
  }

  .full-bleed-image .camera h6 {
    white-space: nowrap;
  }
}
.fbi-lazyload-default-img,
.fbi-background-img {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
