.cta {
  padding-top: 12px;
}

.cta a {
  cursor: pointer;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 25px;
  font-weight: 500;
  border: 2px solid;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
}
