.product-title {
  background: #f8fafc;
  border-bottom: 1px solid #dfe5e9;
  color: #83888c;
  padding: 17px 24px;
  height: 80px;
}
.product-image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 0;
}
.product-image img {
  height: 270px;
}
.product-actions {
  background: #f8fafc;
  border-top: 1px solid #dfe5e9;
  padding: 24px;
}
.product-actions a {
  background: #3e8edd;
  border: 1px solid #3e8edd;
  color: white;
  display: inline-block;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
}
.product-actions a:hover {
  background-color: #4caded;
  border: 1px solid #4caded;
}
@media (max-width: 991px) {
  .search-result-product-wrapper {
    flex-basis: 50%;
  }
}
@media (max-width: 767px) {
  .search-result-product-wrapper {
    flex-basis: 100%;
  }
}