.in-page-navigation-with-config {
  position: fixed;
  bottom: 0px;
  z-index: 1200;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 264px;
  border-radius: 25px 25px 0px 0px;
  -moz-border-radius: 25px 25px 0px 0px;
  -webkit-border-radius: 25px 25px 0px 0px;
  box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.6);
}
.in-page-navigation-with-config .col-xs-12,
.in-page-navigation-with-config .container {
  margin: 0;
  padding: 0;
  float: none;
  width: auto;
}
.in-page-navigation-with-config .in-page-navigation-block ul {
  margin: 0;
  float: left;
  width: 70%;
}
.in-page-navigation-with-config .in-page-navigation-block ul li {
  float: none;
  text-align: center;
  display: none;
}
.in-page-navigation-with-config .in-page-navigation-block ul li a {
  font-size: 14px;
  padding: 10px 0;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  float: none;
  line-height: 20px;
  display: block;
}
.in-page-navigation-with-config .in-page-navigation-block ul .active {
  display: block;
}
.in-page-navigation-with-config .in-page-navigation-block .previous {
  float: left;
  width: 11%;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  cursor: pointer;
  padding-left: 10px;
}
.in-page-navigation-with-config .in-page-navigation-block .next {
  float: right;
  width: 11%;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  cursor: pointer;
  padding-right: 10px;
}
.in-page-navigation-with-config .in-page-navigation-block.active .previous,
.in-page-navigation-with-config .in-page-navigation-block.active .next {
  display: block;
}
.in-page-navigation-with-config .in-page-navigation-block.active .scroll-down {
  display: none;
}
.in-page-navigation-with-config .in-page-navigation-block.active li {
  display: block;
}
.in-page-navigation-with-config ul li a:hover {
  background: none;
  background-color: transparent !important;
}
.in-page-navigation-with-config ul li a:focus {
  background: none;
  background-color: transparent !important;
}
@media screen and (min-width: 768px) {
  .in-page-navigation-with-config {
    width: 100%;
    bottom: auto;
    border-radius: inherit;
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    box-shadow: none;
  }
  .in-page-navigation-with-config .col-xs-12,
  .in-page-navigation-with-config .container {
    margin: inherit;
  }
  .in-page-navigation-with-config .scroll-down {
    display: none !important;
  }
  .in-page-navigation-with-config .previous,
  .in-page-navigation-with-config .next {
    display: none;
  }
  .in-page-navigation-with-config .in-page-navigation-block {
    height: 30px;
    margin-left: 46px;
  }
  .in-page-navigation-with-config .in-page-navigation-block ul {
    width: 100%;
  }
  .in-page-navigation-with-config .in-page-navigation-block ul li {
    float: left;
    display: block;
    padding: 0 15px;
  }
  .in-page-navigation-with-config .in-page-navigation-block ul li a {
    padding: 7px 0;
    float: left;
  }
  .in-page-navigation-with-config .in-page-navigation-block .previous {
    display: none;
  }
  .in-page-navigation-with-config .in-page-navigation-block .next {
    display: none;
  }
  .in-page-navigation-with-config .in-page-navigation-block.active .previous,
  .in-page-navigation-with-config .in-page-navigation-block.active .next {
    display: none;
  }
  .in-page-navigation-with-config .in-page-navigation-block.active .previous,
  .in-page-navigation-with-config .in-page-navigation-block.active .next {
    display: none;
  }
  .in-page-navigation-with-config .navbar-nav > li > a {
    line-height: 16px;
  }
}
