.prod-specs-summary {
  position: relative;
  padding: 5px 5px;
  background-color: #111e31;
  text-align: left;
  color: #ffffff;
}
.prod-specs-summary .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}
.prod-specs-summary .ps-item {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
}
.prod-specs-summary .ps-heading {
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 5px;
}
.prod-specs-summary .ps-heading h2 {
  font-size: 22px;
}
.prod-specs-summary .ps-heading h3 {
  font-size: 18px;
  line-height: 19px;
  font-weight: lighter;
}
.prod-specs-summary .ps-desc h6 {
  font-size: 18px;
  line-height: 19px;
  margin: 0;
}
.prod-specs-summary .ps-desc {
  text-align: left;
  color: #ffffff;
}
.prod-specs-summary .ps-item {
  margin-bottom: 30px;
}
.ps-desc p {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: lighter;
}
.prod-specs-summary strong,
.prod-specs-summary b {
  font-weight: lighter;
}
@media screen and (min-width: 768px) {
    .prod-specs-summary {
        margin-top: -2px;
      }
  .prod-specs-summary .ps-item {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0 7.5px;
  }
  .prod-specs-summary .ps-desc h6 {
    font-size: 24px;
    line-height: 29px;
    font-weight: lighter;
    margin-bottom: 20px;
  }
  .prod-specs-summary .ps-desc h6 strong {
    font-weight: lighter;
  }
  .prod-specs-summary .ps-desc {
    padding-top: 20px;
    border-top: 1px solid;
    border-color: #cccccc;
  }
  .prod-specs-summary .ps-heading h2 {
    font-size: 38px;
    margin: 0;
  }
  .prod-specs-summary .ps-heading h3 {
    font-size: 24px;
    line-height: 29px;
    font-weight: lighter;
  }
  .prod-specs-summary .ps-item {
    margin-bottom: 40px;
  }
  .prod-specs-summary .ps-heading {
    margin-top: 80px;
    margin-bottom: 50px;
  }
  .ps-desc p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (min-width: 992px) {
  .prod-specs-summary .ps-item {
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .prod-specs-summary .ps-items {
    margin: 0 auto;
    padding: 0 15px 10px;
    max-width: 1200px;
  }
  .prod-specs-summary .ps-heading {
    padding: 0px 15px;
  }
}
