.highlight {
  color: #368CA3
}

.camera-overview {
  padding-top: 88px;
  font-family: "Gotham A","Gotham B",'ruble';
  font-weight: lighter;
  width: 100% !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 90%;
}

.camera-overview__header {
  transition: all 0.3s ease-in-out;
}

.camera-overview__header__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.camera-overview__header__description,
.camera-overview__cameras__infos__texts__description {
  color: #BFC4C9;
  font-size: 14px;
  line-height: 24px;
  padding-left:5%;
  width:267px;
  height:58px;
}

.camera-overview__cameras {
  transition: all 0.3s ease-in-out;
  height:100vh;
}

.camera-overview__cameras__infos {
  margin-top: 5%;
  z-index:2;
}

.camera-overview__cameras__infos__texts {
  top: 55%;
  margin-top:5% !important;
}

.camera-overview__cameras__infos__texts-1 {
  opacity: 1;
  top: 10%;
}

.camera-overview__cameras__infos__texts__title {
  font-size: 24px;
  margin-bottom:20px;
  padding-left:5%;
  font-weight:300;
}
 
.camera-overview__cameras__camera {
  transition: all 0.3s ease-in-out;
  top:25%;
}

.camera-overview__cameras__camera__camera-overlay {
  left: 0;
  transition: all 0.3s ease-in-out;
}

.camera-overview__cameras__camera__camera-base {
  transition: all 0.3s ease-in-out;
  height: 100%;
}

@media (max-height: 650px) {
  .camera-overview {
    padding-top: 88px;
    font-family: "Gotham A","Gotham B",'ruble';
    font-weight: lighter;
    width: 100% !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 90%;
  }
  .camera-overview__header__title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .camera-overview__cameras__infos__texts__title {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight:300;
  }
  
  .camera-overview__header__description,
  .camera-overview__cameras__infos__texts__description  {
    font-size: 14px;
    line-height: 20px;
  }

  .camera-overview__cameras__infos {
    margin-top: 5%;
    z-index:2;
  }

  .camera-overview__cameras__camera {
    display: flex;
    justify-content: flex-end;
  }

  .camera-overview__cameras__camera__camera-overlay {
    width: 90%;
    right: 0;
    left: auto;
  }

  .camera-overview__cameras__camera__camera-base {
    width: 90%;
  }
}

  /*tablet-Potrait*/
  @media (min-device-width: 480px)  and (max-width: 768px) {
    .camera-overview {
      padding-top: 88px;
      font-family: "Gotham A","Gotham B",'ruble';
      font-weight: lighter;
      width: 100% !important;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 100% 100%;
    }
    .camera-overview__cameras {
      margin: 0 auto;
      width: 100%;
      font-family: "Gotham A","Gotham B",'ruble';
      font-weight: lighter;
      height:100vh;
    }
    .camera-overview__cameras__camera__camera-overlay {
       transition: all 0.3s ease-in-out; 
    }
    .camera-overview__cameras__infos__texts__title{
      font-size: 36px;
      margin-bottom: 20px;
      margin-left: 220px;
      margin-top: 75px;
      font-weight:300;
    }
    .camera-overview__header__description,
    .camera-overview__cameras__infos__texts__description{
      width: 58%;
      margin-left: 204px;
      margin-bottom: 10%
    }
  }
  @media screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
    .camera-overview {
      padding-top: 88px;
      font-family: "Gotham A","Gotham B",'ruble';
      font-weight: lighter;
      height: 65vh;
      width: 100% !important;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 100% 100%;
    }
    .camera-overview__cameras__camera{
      top: 12%;
      width: 55%;
      margin-left: 214px;
    }
    .camera-overview__cameras__infos__texts__title{
      font-size: 36px;
      margin-bottom: 20px;
      padding-left: 5%;
      font-weight: 300;
      margin-left: 113px;
      text-align:center;
    }
    .camera-overview__header__description, .camera-overview__cameras__infos__texts__description{
      font-size: 16px;
      line-height: 24px;
      padding-left: 5%;
      width: 467px;
      height: 58px;
      margin-left: 230px;
    }
  }
  @media screen and (min-device-width: 768px)  and (max-device-width: 1023px) {
    .camera-overview {
      padding-top: 88px;
      font-family: "Gotham A","Gotham B",'ruble';
      font-weight: lighter;
      width: 100% !important;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 100% 100%;
    }
    .camera-overview__cameras {
      margin: 0 auto;
      width: 100%;
      font-family: "Gotham A","Gotham B",'ruble';
      font-weight: lighter;
    }
    .camera-overview__cameras__camera__camera-overlay {
      transition: all 0.3s ease-in-out; 
    }
    .camera-overview__cameras__camera{
      width: 75%;
      left: 14%;
      top: 32%;
    }
    .camera-overview__cameras__infos__texts__title{
      font-size: 36px;
      margin-bottom: 20px;
      margin-left: 100px;
      margin-top: 75px;
      font-size:36px;
      padding-left: 0%;
      font-weight:300;
      text-align: center;
    }
    .camera-overview__header__description,
    .camera-overview__cameras__infos__texts__description{
      width: 391px;
      height: 44px;
      margin-left: 180px;
      margin-bottom: 10%;
      font-size:16px;
      padding-left: 0%;
    }
  }
  /*Tablet-Landscape*/
  @media screen and (min-device-width: 768px)  and (max-device-width: 1025px)
  and (orientation:landscape){
    .camera-overview {
      padding-top: 88px;
      font-family: "Gotham A","Gotham B",'ruble';
      font-weight: lighter;
      height: 90vh;
      width: 100% !important;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 56% 100%;
    }
  .camera-overview__cameras__camera{
    width: 50%;
    margin-left: 50%;
    top: 0px;
    left:0%;
    justify-content: end;
  }
  .camera-overview__cameras__camera__camera-overlay {
    transition: all 0.3s ease-in-out;
  }
  .camera-overview__cameras__camera__camera-overlay-1 {
    opacity: 1;
    top: 10%;
  }
  .camera-overview__cameras__infos__texts__title{
    font-weight:300;
    font-size: 36px;
    margin-bottom: 20px;
    margin-left: 0%;
    margin-top: 5%;
    padding-left: 5%;
  }
  .camera-overview__header__description, 
  .camera-overview__cameras__infos__texts__description{
    width:391px;
    height:67px;
    margin-left: 0%;
    margin-bottom: 10%;
    font-size: 16px;
  }
  .camera-overview__cameras {
    margin: 0 auto;
    width: 100%;
    font-family: "Gotham A","Gotham B",'ruble';
    font-weight: lighter;
    height:60vh;
    top:82px;
  }
  .camera-overview__cameras__infos {
    position: absolute;
    right: 50%;
    width: 44%;
    margin-top: 14%;
    z-index:99;
  }
  .camera-overview__cameras__infos__texts-5{
    left:0px !important;
  }
}
@media screen and (min-device-width: 1366px)
and (orientation:landscape){
  .camera-overview {
    padding-top: 88px;
    font-family: "Gotham A","Gotham B",'ruble';
    font-weight: lighter;
    width: 100% !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 55% 100% !important;
  }
}

/*Desktop*/
@media screen and (min-width: 1026px) {
  .camera-overview {
    padding-top: 88px;
    font-family: "Gotham A","Gotham B",'ruble';
    font-weight: lighter;
    width: 100% !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 72% 100%;
  }
  .camera-overview__cameras {
    margin: 0 auto;
    width: 100%;
    font-family: "Gotham A","Gotham B",'ruble';
    font-weight: lighter;
  }
  .camera-overview__cameras__infos {
    position: absolute;
    right: 50%;
    width: 40%;
    margin-top: 180px;
    z-index:99;
  }
  .camera-overview__cameras__camera__camera-overlay {
    right: -108px;
    position: absolute;
    transition: all 0.3s ease-in-out; 
  }
  .camera-overview__cameras__camera__camera-overlay-1 {
    opacity: 1;
    top: 10%;
  }
  .camera-overview__cameras__camera{
    justify-content: end;
    width:37%;
    left:55%;
    top:0%;
  }
  .camera-overview__cameras__infos__texts{
    margin-top:10% !important;
  }
  .camera-overview__cameras__infos__texts__title {
    font-size: 48px;
    font-weight:300;
    width:488px;
  }
  .camera-overview__cameras__infos__texts__description {
    font-size: 16px;
    width: 391px;
    height: 43px;
  }
} 

