.main-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.main-nav .nav-inner ul {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; 
  height: 55px;
}
.main-nav ul li .navbar-item {
  color: #FFFFFF;
  display: inline-block;
  font-size: 14px;
  padding: 0 20px;
  text-decoration: none;
  line-height: 55px;
  white-space: nowrap;
  font-weight: 300;
}
.main-nav ul li .navbar-item:hover {
  background: #192B3D;
  text-shadow: 0 0 .01px black, 0 0 .01px black, 0 0 .01px black;
}

@media (max-width: 991px) {
  .main-nav {
    display: none;
  }
}