.pdp-disclaimers-container {
    background: #d3d3d3;
}
.product-page-disclaimers {
    padding: 10px 0;
}
.product-page-disclaimers p {
    line-height: 25px;
    font-size: 12px;
    margin: 10px 0;
    text-align: justify;
}