@keyframes modal-podcast {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-podcast-inner {
  from {
    transform: translate(0, 100px);
  }

  to {
    transform: translate(0, 0);
  }
}

.moto-blog-podcast-list .modal-podcast {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15000;
  cursor: pointer;
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-podcast;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.moto-blog-podcast-list .modal-podcast-effect-exit {
  opacity: 0;
}

.moto-blog-podcast-list .modal-podcast-effect-exit .modal-podcast-movie-wrap {
  -webkit-transform: translate(0, 100px);
  -moz-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  -o-transform: translate(0, 100px);
  transform: translate(0, 100px);
}

.moto-blog-podcast-list .modal-podcast-body {
  max-width: 1002px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: table;
}

.moto-blog-podcast-list .modal-podcast-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.moto-blog-podcast-list .modal-podcast-movie-wrap {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 45% !important;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-podcast-inner;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.moto-blog-podcast-list .modal-podcast-movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.moto-blog-podcast-list .modal-podcast-close-btn {
  position: absolute;
  z-index: 2;
  top: -35px;
  right: -35px;
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: none;
  background: transparent;
  cursor: pointer;
}

.moto-blog-podcast-list .modal-podcast-close-btn:before,
.moto-blog-podcast-list .modal-podcast-close-btn:after {
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #fff;
  border-radius: 5px;
  margin-top: -6px;
}

.moto-blog-podcast-list .modal-podcast-movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.moto-blog-podcast-list .podcast-trailer {
  background-color: #001428;
  position: relative;
}
.moto-blog-podcast-list .podcast-trailer .pt-content {
  padding-top: 48px;
  padding-bottom: 61px;
  color: #ffffff;
}
.moto-blog-podcast-list .podcast-trailer .pt-content .pt-section-text {
  text-align: left;
  font-size: 24px;
  background: #000000 0% 0% no-repeat padding-box;
  font-weight: 300;
  position: relative;
  padding: 10px;
  flex: 57%;
  word-break: break-word;
  padding-top: 82px;
  line-height: 36px;
  padding-left: 24px;
}
.moto-blog-podcast-list .podcast-trailer .pt-content .pt-section-video {
  position: relative;
  flex: 43%;
}
.moto-blog-podcast-list .podcast-trailer .pt-section-body {
  display: flex;
  height: 300px;
}
.moto-blog-podcast-list .podcast-trailer .pt-section-header {
  font-size: 24px;
  text-align: left;
  padding-bottom: 32px;
  line-height: 29px;
  font-weight: 300;
}
.moto-blog-podcast-list .podcast-trailer .pt-cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body.no-scroll {
  overflow: hidden;
}
.moto-blog-podcast-list .pt-listennow {
  background: #cf4039 0% 0% no-repeat padding-box;
  text-align: center;
  height: 48px;
  padding-top: 3px;
  cursor: pointer;
  width: 43%;
}
.moto-blog-podcast-list .pt-listennow .text {
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding-right: 12px;
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
}
.moto-blog-podcast-list .pt-listennow .image {
  display: inline-block;
  position: relative;
  top: 3px;
}
.moto-blog-podcast-list .podcast-trailer .pt-desc {
  padding-bottom: 36px;
  width: 60%;
}

@media only screen and (max-device-width: 767px) {
  .moto-blog-podcast-list .podcast-trailer .pt-content .pt-section-text {
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    position: relative;
    word-break: break-word;
    width: 68%;
    max-width: 68%;
    height: 100%;
    background: #000000;
    display: inline-block;
    vertical-align: top;
    padding: 0px;
    padding-top: 28px;
    line-height: 24px;
  }
  .moto-blog-podcast-list .podcast-trailer .pt-section-header {
    font-size: 21px;
    padding-bottom: 24px;
    line-height: 25px;
    font-weight: 300;
  }
  .moto-blog-podcast-list .podcast-trailer .pt-content .pt-section-video {
    position: relative;
    width: 32%;
    max-width: 32%;
    height: 100%;
  }
  .moto-blog-podcast-list .podcast-trailer .pt-section-body {
    height: 176px;
  }
  .moto-blog-podcast-list .podcast-trailer .pt-desc {
    padding-bottom: 24px;
    margin-left: 16px;
    line-height: 24px;
  }
  .moto-blog-podcast-list .modal-podcast-close-btn {
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    right: -5px;
    top: -28px;
  }
  .moto-blog-podcast-list .modal-podcast-body {
    width: 95%;
  }
  .moto-blog-podcast-list .pt-listennow {
    background: #cf4039 0% 0% no-repeat padding-box;
    text-align: center;
    height: 32px;
    margin-bottom: 16px;
    margin-right: 16px;
    margin-left: 16px;
    padding-top: 5px;
    cursor: pointer;
    width: auto;
  }
  .moto-blog-podcast-list .pt-listennow .text {
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    padding-right: 12px;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
  }
  .moto-blog-podcast-list .podcast-trailer .pt-content {
    padding-top: 32px;
    padding-bottom: 20px;
  }
}

@media screen and (orientation: landscape) and (max-device-width: 767px) {
  .moto-blog-podcast-list .modal-podcast-body {
    width: 70%;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .moto-blog-podcast-list .modal-podcast-body {
    width: 90%;
  }
  .moto-blog-podcast-list .pt-listennow {
    width: 50%;
  }
  .moto-blog-podcast-list .podcast-trailer .pt-content {
    padding-top: 32px;
    padding-bottom: 26px;
  }
  .moto-blog-podcast-list .podcast-trailer .pt-section-body {
    height: 280px;
  }
  .moto-blog-podcast-list .podcast-trailer .pt-content .pt-section-text {
    font-size: 21px;
    font-weight: 32px;
    padding-top: 72px;
    padding-bottom: 32px;
  }
  .moto-blog-podcast-list .podcast-trailer .pt-desc {
    width: 75%;
  }
  .moto-blog-podcast-list .podcast-trailer .pt-section-header {
    padding-bottom: 24px;
  }
}

@media screen and (orientation: landscape) and (min-device-width: 768px) and (max-device-width: 1023px) {
  .moto-blog-podcast-list .modal-podcast-body {
    width: 68%;
  }
}

@media only screen and (min-device-width: 1024px) {
  .moto-blog-podcast-list .modal-podcast-movie-wrap {
    padding-bottom: 25% !important;
  }
  .moto-blog-podcast-list .podcast-trailer .pt-desc {
    width: 55%;
  }
  .moto-blog-podcast-list .podcast-trailer .pt-content .pt-section-video,
  .moto-blog-podcast-list .podcast-trailer .pt-content .pt-section-text {
    flex: 50%;
  }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1024px) {
  .moto-blog-podcast-list .modal-podcast-body {
    width: 93%;
  }
}
