.steps {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
}

.periscopeHeader {
  color: #fff;
  margin: 0 40px;
  width: 90%;
}

.periscopicLenseWrapper {
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #020913;
}

.transitionStep .firstImage {
  right: 100%;
  transition: 0.5s;
}

.firstStep .firstImage,
.firstStep .navigation {
  opacity: 1;
  right: 0%;
  transition: all 0.1s;
  bottom: 100px;
}

.images {
  transition: 0.3s ease-in-out;
}

.periscopeHeader {
  color: #fff;
  margin: 0 40px;
}

.periscopeHeader h3 {
  padding: 20px 0;
}

.firstImage,
.secondImage,
.thirdImage,
.fourthImage,
.navigation {
  opacity: 0;
}

.firstStep .secondImage {
  opacity: 1;
}

.firstStep .secondImage,
.firstStep .thirdImage,
.firstStep .fourthImage,
.firstStep .navigation {
  left: 100%;
}

.navigationItems p {
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.5s;
}

.navigationItemsLeft {
  border-left: 1px solid #ffffff;
}

.transitionStep .navigationItemFirst,
.firstStep .navigationItemFirst,
.secondStep .navigationItemFirst,
.thirdStep .navigationItemSecond,
.fourthStep .navigationItemThird {
  color: #fff;
  transition: all 0.5s;
}

.transitionStep .navigationItemFirst:before,
.firstStep .navigationItemFirst:before,
.secondStep .navigationItemFirst:before,
.thirdStep .navigationItemSecond:before,
.fourthStep .navigationItemThird:before {
  background: #ffffff;
  box-shadow: 0 0 0 7px;
  border: none;
}

.secondStep .secondImage,
.secondStep .navigation,
.thirdStep .thirdImage,
.thirdStep .navigation,
.fourthStep .fourthImage,
.fourthStep .navigation {
  opacity: 1;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 60%,
    rgba(0, 0, 0, 0.65) 90%
  );
  background-position: center;
  left: 0%;
  transition: 0.5s;
}

.navigationItems {
  min-height: unset;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #ffffff;
}

.navigationItemFirst {
  transform: translateX(-40%);
}

.navigationItemThird {
  transform: translateX(40%);
}

.navigationItem:before {
  content: "";
  left: unset;
  right: unset;
  top: -9px;
  transition: 0.4s ease-in-out;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  z-index: 4 !important;
  box-shadow: 0 0 0 1px #fff;
  width: 16px;
  border-radius: 50%;
  height: 16px;
}

.navigationItem {
  width: 90px;
  max-width: 90px;
}

@supports not (backdrop-filter: blur(10px)) {
  .navigationItem:before {
    background: rgb(195 195 195);
  }
}

@media (min-width: 1024px) {
  .steps {
    background-position: 70%;
  }

  .periscopeHeader {
    width: 50%;
  }

  .secondStep .secondImage,
  .secondStep .navigation,
  .thirdStep .thirdImage,
  .thirdStep .navigation,
  .fourthStep .fourthImage,
  .fourthStep .navigation {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 70%,
      rgba(0, 0, 0, 0.65) 100%
    );
  }

  .navigationItem {
    width: unset;
    max-width: unset;
  }

  .navigationItems {
    min-height: 210px;
  }

  .navigationItemsRight {
    border-right: 1px solid #ffffff;
    border-top: none;
  }

  .navigationItemFirst {
    transform: translateY(-10px);
  }

  .navigationItemThird {
    transform: translateY(10px);
  }

  .navigationItemsLeft .navigationItem:before {
    left: -10px;
  }

  .navigationItemsRight .navigationItem:before {
    right: -10px;
    top: 0;
  }

  .firstStep .firstImage,
  .firstStep .navigation {
    bottom: auto;
  }
}
