.search-toggle img {
  width: 20px;
}
.search-toggle {
  border: none;
  background: transparent;
  cursor: pointer;
}
.search-bar {
  background: white;
  width: 100%;
  top: calc(100% - 10px);
  right: 0;
  padding: 0;
  position: absolute;
  transform: translateY(-300%);
  transition: 0.5s;
  opacity: 0;
}
.search-bar.open-search-bar {
  transform: translateY(0);
  opacity: 1;
}
.search-container {
  position: relative;
  width: 100%;
}
.search-container .vtex-store-components-3-x-searchBarContainer .t-body,
.vtex-minicart-2-x-box .t-body,
.vtex-order-placed-2-x-orderPlacedHeader *,
.vtex-order-placed-2-x-orderPlacedMainWrapper * {
  font-family: "Gotham A", "Gotham B", "ruble";
}
.main-header-container.hide {
  display: none;
}
.product-page {
  background: white;
  border-bottom: 1px solid #ccc;
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1201;
}
.product-page.show {
  display: block;
}
.product-page-container {
  align-items: center;
  display: flex;
}
.product-page .product-price-container {
  flex: 1;
  margin: 0 20px;
}

.product-price-container .vtex-store-components-3-x-listPriceValue,
.product-price-container .vtex-store-components-3-x-priceContainer,
.product-page
  .product-price-container
  .product-price-container
  .vtex-store-components-3-x-sellingPrice {
  align-items: center;
  display: flex;
}
.product-name-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
}
.product-name-container img {
  filter: invert(30%) grayscale(100%) brightness(70%) contrast(1000);
  max-width: 100px;
  width: 100%;
}
.product-page .product-price-container span {
  font-weight: normal;
}
.product-page .hide-button {
  visibility: hidden;
}
.product-page .buy-button-container button {
  display: inline-block !important;
  width: auto !important;
}
.product-page .product-links-container {
  display: flex;
  justify-content: flex-end;
  flex: 2;
  margin: 0 30px;
}
.product-page .product-links-container a {
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  margin: 0 20px;
}
.product-page .product-links-container a:after {
  content: "\203A";
  margin-left: 10px;
  font-size: 20px;
}
.product-page .product-links-container a:hover {
  font-weight: bold;
}
.product-page .buy-button-container a,
.product-page .buy-button-container button {
  align-items: center;
  background: #cf4039;
  border: 1px solid #cf4039;
  border-radius: 30px;
  display: flex;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  color: white;
  text-transform: none;
  padding: 10px 20px;
  height: 50px;
}

.header-inner {
  align-items: center;
}
.vtex-minicart-2-x-contentSmall {
  max-height: 300px !important;
}
.vtex-minicart-2-x-box
  .vtex-minicart-2-x-contentFooter
  .vtex-button.bg-action-primary,
.vtex-minicart-2-x-sidebar
  .vtex-minicart-2-x-contentFooter
  .vtex-button.bg-action-primary,
  .vtex-button.bg-action-primary{
  background: #cf4039;
  font-family: "Gotham A", "Gotham B", "ruble";
  border-top-color: #cf4039;
  border-bottom-color: #cf4039;
  border-left-color: #cf4039;
  border-right-color: #cf4039;
  font-weight: 300;
}
.vtex-minicart-2-x-box
  .vtex-minicart-2-x-contentFooter
  .vtex-button.bg-action-primary:hover,
.vtex-minicart-2-x-sidebar
  .vtex-minicart-2-x-contentFooter
  .vtex-button.bg-action-primary:hover {
  background: #ba1c15;
}
.vtex-minicart-2-x-box .vtex-minicart-2-x-contentDiscount .c-action-primary,
.vtex-minicart-2-x-sidebar
  .vtex-minicart-2-x-contentDiscount
  .c-action-primary {
  color: #001428;
  font-weight: 300;
}
.vtex-minicart-2-x-container .vtex-minicart-2-x-badge,
.vtex-minicart-2-x-sidebar .vtex-minicart-2-x-badge {
  background-color: #ffffff !important;
  color: #001428 !important;
}
.header-icon .vtex-login-2-x-container .vtex-login-2-x-label {
  color: #ffffff;
  font-weight: 300;
  font-family: "Gotham A", "Gotham B", "ruble";
}
.header-icon [class*="searchIcon"] {
  color: #ffffff;
}
.vtex-minicart-2-x-box
  .vtex-numeric-stepper__plus-button.numeric-stepper__plus-button,
.vtex-minicart-2-x-box
  .vtex-numeric-stepper__minus-button.numeric-stepper__minus-button,
.vtex-minicart-2-x-sidebar
  .vtex-numeric-stepper__plus-button.numeric-stepper__plus-button,
.vtex-minicart-2-x-sidebar
  .vtex-numeric-stepper__minus-button.numeric-stepper__minus-button {
  color: #001428;
}

.vtex-minicart-2-x-box *,
.vtex-minicart-2-x-sidebar * {
  font-family: "Gotham A", "Gotham B", "ruble";
}

.vtex-minicart-2-x-sidebarHeader,
.vtex-minicart-2-x-sidebarHeader .vtex-minicart-2-x-label {
  background-color: #001428;
  color: #ffffff;
}

.main-header-container *,
.main-header {
  font-family: "Gotham A", "Gotham B", "ruble";
  font-weight: 300;
}

.main-header-container .main-header .vtex-button:focus,
.main-header-container .main-header .vtex-button:hover {
  background-color: #192b3d;
}
.menu-toggle .icon-bar {
  background-color: #ffffff;
}
.vtex-locale-switcher-0-x-button {
  color: #ffffff;
}
.vtex-locale-switcher-0-x-button a,
.vtex-locale-switcher-0-x-button span {
  text-transform: uppercase;
}
.vtex-locale-switcher-0-x-container {
  width: 105%;
}
.vtex-login-2-x-container {
  width: 100%;
}
.vtex-locale-switcher-0-x-list,
.vtex-locale-switcher-0-x-loadingContainer {
  top: 0.4em;
}
.vtex-locale-switcher-0-x-list li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}
@media (min-width: 768px) {
  .search-bar {
    width: 400px;
  }
  .vtex-locale-switcher-0-x-container {
    width: 80%;
  }
  .vtex-login-2-x-container {
    width: auto;
  }
}
@media (max-width: 767px){
  .main-header-container .container{
    width:100% !important;
  }
  .vtex-store-components-3-x-arrowLeft:before {
    background: url('/arquivos/arrow-left-ffffff.svg') !important;
    content: '' !important;
  }
  .vtex-store-components-3-x-arrowRight:before {
    background: url('/arquivos/arrow-right-ffffff.svg') !important;
    content: '' !important;
  }
}

@media (min-width: 1120px) {
  .search-toggle-close-button {
    cursor: pointer;
    font-size: 26px;
    color: #888;
    position: absolute;
    top: 5px;
    right: 20px;
  }
  .main-header {
    background-color: #001428;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 29px;
    left: 0;
    height: 57px;
    width: 100%;
    z-index: 1201;
  }
  .header-inner {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    background-image: url("./images/motorola-logo.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 55px;
    width: 136px;
    margin: 0 20px;
  }
  .product-page .product-links-container.desktop-links-container {
    display: flex;
  }
  .product-page .product-links-container.mobile-links-container {
    display: none;
  }
  .product-page .buy-button-container a,
  .product-page .buy-button-container button {
    margin: 5px 0;
  }  
  .vtex-locale-switcher-0-x-container {
    width: 100%;
  }
}

@media (max-width: 1119px) {
  .search-toggle-close-button {
    display: none;
  }
  .main-header {
    background-color: #001428;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 55px;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 1200;
  }
  .header-inner {
    align-items: center;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: space-between;
  }
  .logo-container {
    display: flex;
    flex: 2;
    justify-content: center;
  }
  .logo {
    background-image: url("./images/motorola-logo.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 55px;
    width: 136px;
  }
  .product-page-container {
    padding: 0 15px;
    flex-wrap: wrap;
    height: auto;
  }
  .buy-button-container {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
  }
  .product-page {
    height: auto;
  }
  .product-page .product-links-container.desktop-links-container {
    display: none;
  }
  .product-page .product-links-container.mobile-links-container {
    display: block;
  }
  .product-page .product-links-container.mobile-links-container {
    align-items: center;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: flex-start;
    margin: 0;
  }
  .product-page .product-links-container.mobile-links-container a {
    margin: 0 !important;
    font-size: 13px;
    white-space: nowrap;
  }
  .product-price-container {
    display: none;
  }
  .product-name-container {
    flex-basis: 50%;
  }
  .buy-button-container {
    flex-basis: 50%;
  }
  .product-page .product-links-container.mobile-links-container {
    justify-content: space-between;
  }
  .product-page .product-links-container.mobile-links-container a {
    margin: 0 10px;
  }
  .product-name-container span {
    font-size: 20px !important;
  }
  .product-page .buy-button-container a,
  .product-page .buy-button-container button {
    margin: 5px 0;
    font-size: 14px !important;
    padding: 10px 15px !important;
  }
  .product-page .buy-button-container button div {
    padding: 0 !important;
  }
  .header-icon {
    width: 40px;
  }
}
.vtex-store-components-3-x-autoCompleteOuterContainer {
  padding: 0 20px;
}
.vtex-search-2-x-itemListPrefix {
  display: none !important;
}
.vtex-store-components-3-x-searchBarContainer .vtex-input-prefix__group {
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  height: 48px !important;
}
.vtex-store-components-3-x-searchBarContainer .vtex-input-prefix__group .vtex-input__suffix .bl {
  border-left-width: 0px;
}
.vtex-store-components-3-x-searchBarContainer .vtex-input-prefix__group .vtex-input__suffix [class*="searchIcon"], .vtex-store-components-3-x-searchBarContainer .vtex-input-prefix__group .vtex-input__suffix [class*="closeIcon"]  {
  color: #071327;
  width: 24px;
  height: 24px;
}
.vtex-store-components-3-x-searchBarIcon.vtex-store-components-3-x-searchBarIcon--search,
.vtex-store-components-3-x-searchBarIcon.vtex-store-components-3-x-searchBarIcon--clear {
  padding-right: 0;
  margin-right: 0;
}
.vtex-store-components-3-x-searchBarContainer .vtex-search-2-x-itemListTitle {
  text-transform: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #000000;
  margin-top: 16px;
  margin-bottom: 16px;
}
.vtex-store-components-3-x-searchBarContainer .vtex-input-prefix__group input.vtex-styleguide-9-x-input {
  font-size: 14px;
  line-height: 16px;
  color: #7F7F7F;
}
.vtex-search-2-x-biggy-autocomplete-wrapper .vtex-search-2-x-itemListLinkTitle {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  color: #000000;
}
.vtex-search-2-x-biggy-autocomplete-wrapper .vtex-search-2-x-itemListItem a,.vtex-search-2-x-biggy-autocomplete-wrapper   .vtex-search-2-x-itemListItem a:hover {
  height: 48px;
  line-height: 48px;
}
.vtex-search-2-x-biggy-autocomplete-wrapper .vtex-search-2-x-itemListItem a:hover {
  background: #EAF0F9;
}
.vtex-search-2-x-tileList {
  order: 1;
}
.vtex-search-2-x-itemList--suggestion {
  order: 2
}
.vtex-search-2-x-biggy-autocomplete .vtex-search-2-x-tileList {
  max-height: none !important;
  border-bottom: 1px solid #E2E2E2;
}
.vtex-search-2-x-biggy-autocomplete .vtex-search-2-x-itemList.vtex-search-2-x-itemList--suggestion {
  overflow: auto;
}
.vtex-search-2-x-biggy-autocomplete .vtex-flex-layout-0-x-flexRowContent--autocomplete-row {
  height: 80px;
}
.vtex-search-2-x-biggy-autocomplete .vtex-product-summary-2-x-nameContainer.justify-center {
  justify-content: start;
  padding-top: 17px !important;
  padding-bottom: 12px !important;
  color: #001428;
  font-weight: bold !important;
}
.vtex-search-2-x-biggy-autocomplete .vtex-flex-layout-0-x-flexColChild--autocomplete-col2 {
  text-align: left !important;
}
.vtex-search-2-x-biggy-autocomplete .vtex-flex-layout-0-x-flexRowContent--autocomplete-row {
  background: #E2E2E2 !important;
  border-radius: 4px !important;
  margin-bottom: 0 !important;
}
.vtex-search-2-x-biggy-autocomplete .vtex-flex-layout-0-x-flexColChild.vtex-flex-layout-0-x-flexColChild--autocomplete-col2 {
  padding-bottom: 0 !important;
}
.vtex-search-2-x-biggy-autocomplete .vtex-product-summary-2-x-productNameContainer.vtex-product-summary-2-x-nameWrapper .vtex-product-summary-2-x-productBrand.vtex-product-summary-2-x-brandName,
.vtex-search-2-x-biggy-autocomplete .vtex-search-2-x-productNameContainer .vtex-search-2-x-productBrand {
  font-size: 16px !important;
  line-height: 19px !important;
  font-weight: 300 !important;
  color: #000000 !important;
}
.vtex-search-2-x-biggy-autocomplete .vtex-product-price-1-x-sellingPrice .vtex-product-price-1-x-sellingPriceValue .vtex-product-price-1-x-currencyContainer *,
.vtex-search-2-x-biggy-autocomplete .vtex-search-2-x-sellingPrice .vtex-search-2-x-sellingPriceValue .vtex-search-2-x-currencyContainer * {
  font-size: 14px !important;
  line-height: 16px !important;
  font-weight: 500 !important;
  color: #000000 !important;
}
.vtex-search-2-x-biggy-autocomplete .vtex-product-summary-2-x-element {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
.vtex-search-2-x-biggy-autocomplete .vtex-search-2-x-tileListSeeMore {
  height: auto !important;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 16px;
  padding-left: 24px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #000000;
}
.vtex-search-2-x-biggy-autocomplete .vtex-search-2-x-tileListTitle, .vtex-store-components-3-x-searchBarContainer .vtex-search-2-x-biggy-autocomplete .vtex-search-2-x-itemListTitle {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #000000;
  text-transform: none;
  margin-top: 16px;
}
.vtex-search-2-x-tileListList .vtex-search-2-x-tileListItem:first-child > div {
  margin-top: 16px;
}
.vtex-search-2-x-tileListList .vtex-search-2-x-tileListItem > div {
  background: #E2E2E2 !important;
  border-radius: 4px !important;
  margin: 0px 20px 12px;
  width: 100%;
}
.vtex-search-2-x-tileListList .vtex-search-2-x-tileListItem .vtex-search-2-x-imageContainer {
  max-width: 80px;
  max-height: 80px;
}
.vtex-search-2-x-tileListList .vtex-search-2-x-tileListItem .vtex-search-2-x-imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.vtex-search-2-x-tileListList .vtex-search-2-x-priceContainer {
  padding-bottom: 16px;
}
.vtex-search-2-x-tileListList .vtex-search-2-x-productNameContainer {
  padding-top: 17px;
  padding-bottom: 12px;
}
.vtex-search-2-x-tileListList .vtex-search-2-x-element {
  height: 80px;
}
.vtex-search-2-x-biggy-autocomplete {
  max-height: 600px !important;
}
.vtex-search-2-x-biggy-autocomplete .vtex-search-2-x-close-btn {
  display: none;
}
.search-container-arrow {
  position: absolute;
  bottom: -4px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .search-bar {
    width: 100%;
    top: calc(100% - 1px);
  }
  .search-container {
    position: initial;
  }
  .search-container .search-container-arrow {
    right: 9.5%;
  }
}
@media screen and (min-width: 1024px) {
  .search-bar {
    width: 400px;
  }
  .vtex-search-2-x-biggy-autocomplete {
    max-height: 450px !important;
  }
  .search-container .search-container-arrow {
    right: 14.5%;
  }
}
@media screen and (min-width:1200px) {
  .search-container .search-container-arrow {
    right: 13%;
  }
}
.vtex-minicart-2-x-minicartIconContainer .vtex-minicart-2-x-minicartQuantityBadge--minicart-v2 , .vtex-minicart-2-x-minicartQuantityBadge--minicart-v2.bg-emphasis {
  background-color: #cf4039 !important;
  color: #ffffff !important;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
}
.vtex-button-search-moto {
  font-size: 0;
}
.vtex-button-search-moto-label {
  padding-top: 0.25em;
  padding-bottom: 0.32em;
}

.vtex-login-2-x-formFooter button,.vtex-login-2-x-options button{
  border-radius: 1rem;
}
