#arrowUp{
    position: fixed;
    height: 48px;
    width: 48px;
    z-index: 1112;
    right: 25px;
    bottom: 2%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    background: url(../ArrowUp/assets/scrollup.png) 50% no-repeat;
  }
  #arrowUp img{
    width: 48px;
    height: 48px;
  }
