.pure-android {
  background: #111e31 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
}

.pure-android h2,
.pure-android p {
  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  font-weight: lighter;
}

@media screen and (min-width: 320px) {
  .pure-android {
    height: auto;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .pa-container {
    width: 310px;
    display: flex;
    flex-direction: column;
  }
  .pa-multi-column-content,
  .pa-multi-column-content-03,
  .pa-multi-column-content-04 {
    padding-bottom: 60px;
  }
  .pa-multi-column-content:last-child,
  .pa-multi-column-content-03:last-child,
  .pa-multi-column-content-04:last-child {
    padding-bottom: 0;
  }
  .pa-multi-column-content img,
  .pa-multi-column-content-03 img,
  .pa-multi-column-content-04 img {
    width: 310px;
    height: 203px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .pa-multi-column-content h2,
  .pa-multi-column-content-03 h2,
  .pa-multi-column-content-04 h2 {
    margin: 0;
    font-size: 18px;
    line-height: 19px;
    padding: 43px 0 15px 0;
  }
  .pa-multi-column-content p,
  .pa-multi-column-content-03 p,
  .pa-multi-column-content-04 p {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (min-width: 768px) {
  .pure-android {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    height: auto;
    padding: 80px 0;
  }
  .pa-container {
    width: 738px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
  }
  .pa-multi-column-content{
    width: 346px;
  }
  .pa-multi-column-content img {
    width: 346px;
    height: 227px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  /* for 3 column in a row */
  .pa-multi-column-content-03 {
    width: 230px;
  }
  .pa-multi-column-content-03 img {
    width: 230px;
    height: 151px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  /* for 4 column in a row */
  .pa-multi-column-content-04 {
    width: 175px;
  }
  .pa-multi-column-content-04 img {
    width: 175px;
    height: 114px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .pa-multi-column-content h2,
  .pa-multi-column-content-03 h2,
  .pa-multi-column-content-04 h2 {
    margin: 0;
    font-size: 24px;
    line-height: 29px;
    padding: 17px 0;
  }
  .pa-multi-column-content p,
  .pa-multi-column-content-03 p,
  .pa-multi-column-content-04 p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .pure-android {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 100px 0;
  }
  .pa-container {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
  }
  .pa-multi-column-content {
    width: 536px;
  }
  .pa-multi-column-content img {
    width: 536px;
    height: 352px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  /* for 3 column in a row */
  .pa-multi-column-content-03 {
    width: 350px;
  }
  .pa-multi-column-content-03 img {
    width: 350px;
    height: 229px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  /* for 4 column in a row */
  .pa-multi-column-content-04 {
    width: 280px;
  }
  .pa-multi-column-content-04 img {
    width: 270px;
    height: 177px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .pa-multi-column-content h2 {
    margin: 0;
    font-size: 24px;
    line-height: 29px;
    padding: 34px 0;
  }
  .pa-multi-column-content p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }
}

