.moto-product-summary {
  border-radius: 8px;
  border: 1px solid #ffffff14;
  margin-right: 16px;
  margin-bottom: 16px;
  flex-basis: 31.33%;
  font-family: "Gotham A", "Gotham B", "ruble";
  background: #ffffff0a 0% 0% no-repeat padding-box;
  color: #ffff;
}
.moto-product-summary .moto-product-summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px 24px 20px;
  top: auto;
  bottom: auto;
}
.moto-product-summary .card-details h1 {
  font-size: 16px;
  font-weight: 300;
}
.moto-product-summary .card-image {
  text-align: center;
}
.moto-product-summary-tag {
  background-color: rgba(34, 44, 48, 0.5);
  color: white;
  font-weight: 300;
  font-size: 16px;
  padding: 11px 11px 11px 34px;
  position: absolute;
  left: 0;
  bottom: 20px;
}
.moto-product-summary .card-image img {
  height: 160px;
}
.moto-product-summary .card-price {
  margin-bottom: 20px;
  color: #ffff;
  text-align: left !important;
}
.moto-product-summary .card-price [class$="price_className"] {
  display: flex;
  text-align: left;
}
.moto-product-summary .card-price [class$="price_sellingPriceContainer"] {
  text-align: left;
}
.moto-product-summary .card-price [class$="price_listPrice"] {
  text-decoration: line-through !important;
  margin-right: 10px;
}
.moto-product-summary .card-price [class$="price_sellingPrice"] {
  color: #0091a5;
  font-weight: bold;
}
.moto-product-summary .card-description {
  position: relative;
}
.moto-product-summary .card-description .card-description-content {
  padding: 10px 0;
}
.moto-product-summary .card-description ul {
  margin: 0;
  padding: 0;
  list-style: disc;
}
.moto-product-summary .card-description ul li {
  font-size: 14px;
  line-height: 20px;
}
.moto-product-summary .card-actions {
  display: flex;
  flex-direction: column;
  opacity: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}
.moto-product-summary .card-actions a {
  border-radius: 25px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  margin: 5px 0;
  text-decoration: none;
  width: 100%;
}
.moto-product-summary .card-actions a.blue-shelf-cta {
  color: white;
  background: #3e8ddd;
}
.moto-product-summary .card-actions a.blue-shelf-cta:hover {
  background: #3176bb;
}
.moto-product-summary .card-actions a.green-shelf-cta {
  color: white;
  background: #6ac346;
}
.moto-product-summary:hover .card-actions {
  opacity: 1;
}
.moto-product-summary .moto-compare-btn {
  float: right;
  margin-right: 15px;
}
.moto-product-summary .card-description > .card-description-content * {
  font-weight: 300;
}
.moto-product-summary .card-title-price-container {
  height: 60px;
}
@media (max-width: 1290px) {
  .moto-product-summary .card-actions,
  .moto-product-summary .card-description ul {
    position: static;
    opacity: 1;
  }
}
@media (max-width: 991px) {
  .moto-product-summary .card-price [class$="price_className"] {
    display: flex;
  }
}
