.pdp-battery-section-swipe {
    margin-bottom: -5px;
    background-color: #111E31;
    z-index: -999;
}
.pdp-battery-section-swipe .scrollmagic-pin-spacer {
    margin-top: -4px !important;
    margin-bottom: -4px !important;
    min-height: 0px !important;
}
.pdp-battery-section-swipe .pbss-bg-image {
    width: 100%;
    height: auto;
}
.pdp-battery-section-swipe .pbss-panel {
    height: auto;
    width: 100%;
    background-color: #111E31;
}
.pdp-battery-section-swipe .pbss-text-wrapper {
    display: none;
    top: 276px;
    padding: 30px 35px 42px 35px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    text-align: center;
}
.pdp-battery-section-swipe .pbss-title {
    font-size: 18px;
    line-height: 19px;
    top: 276px;
    font-weight: lighter;
}
.pdp-battery-section-swipe .pbss-desc {
    font-size: 14px;
    line-height: 16px;
    top: 308px;
    font-weight: lighter;
    padding-top: 13px;
}
@media screen and (orientation:landscape)
    and (max-device-width: 991px) {
        .pdp-battery-section-swipe .pbss-text-wrapper {
            top: 60px;
            position: absolute;
            left: 20%;
            right: 20%;
            padding-top: 0px;
            padding-bottom: 40px;
        }
}
@media screen and (min-width: 768px) {
    .pdp-battery-section-swipe .pbss-title {
        font-size: 24px;
        line-height: 29px;
    }
    .pdp-battery-section-swipe .pbss-desc {
        font-size: 16px;
        line-height: 24px;
    }
}
@media screen and (min-width: 992px) {
    .pdp-battery-section-swipe {
        background-color: #111E31;
    }
    .pdp-battery-section-swipe .pbss-text-wrapper {
        top: 60px;
        position: absolute;
        left: 20%;
        right: 20%;
        padding-top: 0px;
        padding-bottom: 40px;
    }
    .pdp-battery-section-swipe .pbss-title {
        font-size: 24px;
        line-height: 29px;
        top: 60px;
        font-weight: lighter;
    }
    .pdp-battery-section-swipe .pbss-desc {
        font-size: 16px;
        line-height: 24px;
        top: 185px;
        padding-top: 25px;
        font-weight: lighter;
    }
}