.contact-enterprise-thank-you-container {
  margin-top: 110px;
}
.contact-enterprise-thank-you-container .thankyou-artwork {
  width: 200px;
  margin: 0 auto;
}

.contact-enterprise-thank-you-container .thankyou-artwork img {
  width: 200px;
}
.contact-enterprise-thank-you-container .header {
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
  margin-top: 70px;
}
.contact-enterprise-thank-you-container .body {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: rgba(0,0,0,0.5);
  margin: 13px 0 26px 0;
}
.contact-enterprise-thank-you-container .aer-btn {
  margin: 0 auto;
  text-align: center;
}
.contact-enterprise-thank-you-container .aer-btn a {
  background-color: #89b754;
  display: inline-block;
  color: #fff;
  font-weight: 500;
  padding: 19px 26px 17px 26px;
  border-radius: 28px;
  text-decoration: none;
  border: 0;
}