.multi-editorial-card .mec-multi-editorial-column {
  position: relative;
  height: auto;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  margin: 0;
  margin-bottom: 20px;
  border: 0;
  width: 100%;

  max-width: 340px !important;
}
.multi-editorial-card .mec-multi-editorial-column .mec-column-wrapper {
  float: left;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.mec-multi-editorial-columns { gap: 64px }

.multi-editorial-card .mec-image > img { max-width: 280px }

.multi-editorial-card .mec-image {
  display: block;
}

.multi-editorial-card .mec-multi-editorial-column .mec-background-image {
  transform: translate(-100%, -100%);
  left: 100%;
  height: auto;
  width: 100%;
  position: absolute;
}

.multi-editorial-card img.mec-video-thumb {
  position: relative;
}

.multi-editorial-card .mec-multi-editorial-column .mec-play-btn-wrapper {
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: relative;
}

.multi-editorial-card .mec-multi-editorial-column .mec-play-btn {
  position: relative;
  left: 0;
  margin: 0 auto;
  cursor: pointer;
  display: block;
  height: 50px;
  width: 50px;
}

.multi-editorial-card .mec-description {
  text-align: center;
  min-height: 160px;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}

.multi-editorial-card .mec-description strong {
  font-weight: bold;
}

.multi-editorial-card h5 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

.multi-editorial-card h6 {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.multi-editorial-card .mec-cta {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .multi-editorial-card .mec-description {
    text-align: left;
  }

  .multi-editorial-card .mec-cta {
    text-align: left;
  }

  .multi-editorial-card .mec-multi-editorial-column.cols-2,
  .multi-editorial-card .mec-multi-editorial-column.cols-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .multi-editorial-card .mec-multi-editorial-column.cols-2 .mec-background-image,
  .multi-editorial-card .mec-multi-editorial-column.cols-3 .mec-background-image {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .multi-editorial-card .mec-multi-editorial-column.cols-1 .mec-play-btn {
    height: 80px;
    width: 80px;
  }
}

@media screen and (min-width: 1025px) {
  .multi-editorial-card .mec-multi-editorial-column .mec-play-btn {
    height: 80px;
    width: 80px;
  }
}

@media screen and (min-width: 992px) {
  h6 {
    line-height: 20px;
  }
}

@media screen and (min-width: 1200px) {
  h6 {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .multi-editorial-card .mec-description {
    min-height: 100px;
  }
}

.mec-lazyload-default-img {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
