.moto-blog-podcast-details {
  background: #001428;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 30px;
  padding-right: 16px;
  border-bottom: 1px solid #334353;
}
.moto-blog-podcast-details .mbpd-transcript {
  color: #ffffff;
  text-align: left;
}
.moto-blog-podcast-details .mbpd-podcast-play-section {
  padding-top: 32px;
  padding-bottom: 32px;
}
.moto-blog-podcast-details .mbpd-navigation-breadcrumb {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  letter-spacing: 0px;
  text-align: left;
}
.moto-blog-podcast-details .mbpd-home-link,
.moto-blog-podcast-details .mbpd-home-link:hover,
.moto-blog-podcast-details .mbpd-home-link:active,
.moto-blog-podcast-details .mbpd-breadcrumb-podcast-list-title,
.moto-blog-podcast-details .mbpd-breadcrumb-podcast-list-title:hover,
.moto-blog-podcast-details .mbpd-breadcrumb-podcast-list-title:active {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}
.moto-blog-podcast-details .mbpd-separator {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.moto-blog-podcast-details .mbpd-breadcrumb-podcast-list-title,
.moto-blog-podcast-details .mbpd-breadcrumb-podcast-title {
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .moto-blog-podcast-details {
    padding-top: 24px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
  }
  .moto-blog-podcast-details .mbpd-podcast-play-section {
    padding-top: 32px;
    padding-bottom: 48px;
  }
}
